{% extends 'parts/layout.twig' %}

{% block title %}
	<title>BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header header_main">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>
			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}
	</header>
	{#/HEADER#}
{% endblock %}

{% block content %}
	{#MAIN SLIDER#}
	<div class="main-slider">
		{#SLIDER#}
		<div class="main-slider__itself js-main-slider">
			<div class="main-slider__item">
				<div class="main-slider__item-inner">
					<div class="main-slider__item-bg" style="background-image: url(images/main-slider.jpg)"></div>
				</div>
			</div>
			<div class="main-slider__item">
				<div class="main-slider__item-inner">
					<div class="main-slider__item-bg" style="background-image: url(images/main-slider.jpg)"></div>
				</div>
			</div>
			<div class="main-slider__item">
				<div class="main-slider__item-inner">
					<div class="main-slider__item-bg" style="background-image: url(images/main-slider.jpg)"></div>
				</div>
			</div>
		</div>
		{#/SLIDER#}

		{#CONTENT#}
		<div class="main-slider__container container">
			<div class="main-slider__content">
				<h1 class="main-slider__title">Разработка и продвижение</h1>
				<p class="main-slider__subtitle">интернет-магазинов на основе Webasyst</p>
				<p class="main-slider__desc">Сочетание опытной команды и собственных
					уникальных SEO-разработок способствуют
					достижимому и измеримому результату</p>
				<div class="main-slider__link-wrap">
					<a href="#" class="main-slider__link btn">Подробнее</a>
				</div>
				<div class="main-slider__logo-list">
					<a href="#" target="_blank" class="main-slider__logo-webasyst">
						<img src="img/webasyst-logo.svg" alt="" class="main-slider__logo-webasyst-img">
					</a>
					<a href="#" target="_blank" class="main-slider__logo-shop-script">
						<img src="img/shop-script-logo.svg" alt="" class="main-slider__logo-shop-script-img">
					</a>
				</div>
			</div>
		</div>
		{#/CONTENT#}

		{#BOTTOM NAVIGATION#}
		<nav class="main-slider__nav">
			<a href="#" class="main-slider__nav-link">Создание</a>
			<a href="#" class="main-slider__nav-link">Продвижение</a>
			<a href="#" class="main-slider__nav-link">Поддержка</a>
			<a href="#" class="main-slider__nav-link">Готовые решения</a>
		</nav>
		{#/BOTTOM NAVIGATION#}
	</div>
	{#/MAIN SLIDER#}
{% endblock %}

{% block footer %}
{% endblock %}