{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Portfolio - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}

{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Портфолио</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<span class="title-line__link-icon"></span>
					<span class="title-line__link-text">Отправить заявку</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item">Избранное</a>
			<a href="#" class="title-line__dropdown-item">Создание</a>
			<a href="#" class="title-line__dropdown-item">Продвижение</a>
			<a href="#" class="title-line__dropdown-item">Фирменный стиль</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Избранное</a>
				<a href="#" class="nav-line__menu-item">Создание</a>
				<a href="#" class="nav-line__menu-item">Продвижение</a>
				<a href="#" class="nav-line__menu-item">Фирменный стиль</a>
			</div>
			<div class="nav-line__years">
				<a href="#" class="nav-line__years-item nav-line__years-item_active">2017</a>
				<a href="#" class="nav-line__years-item">2016</a>
				<a href="#" class="nav-line__years-item">2015</a>
				<a href="#" class="nav-line__years-item">2014</a>
				<a href="#" class="nav-line__years-item">2013</a>
			</div>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#PORTFOLIO#}
	<div class="portfolio-page">
		<div class="portfolio portfolio-page__portfolio">
			<div class="portfolio__container container">
				<div class="portfolio__list">
					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_light" style="background: #1F9BD7;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-autosvet.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Интернет-магазин автоаксессуаров</p>
							<p class="portfolio-card__site-name">Автосвет 96</p>
						</div>
						<p class="portfolio-card__time">2009 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}

					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_dark" style="background: #F6F6F6;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-uik.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Интернет-магазин строительных материалов</p>
							<p class="portfolio-card__site-name">УИК</p>
						</div>
						<p class="portfolio-card__time">2015 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}

					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_dark" style="background: #FFB400;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-mustang.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Корпоративный сайт группы интернет-магазинов</p>
							<p class="portfolio-card__site-name">Mustang Group</p>
						</div>
						<p class="portfolio-card__time">2012 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}

					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_light" style="background: #111E4E;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-exe.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Интернет-магазин спортивной формы</p>
							<p class="portfolio-card__site-name">Exe Sport</p>
						</div>
						<p class="portfolio-card__time">2014 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}

					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_light" style="background: #191919;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-quattro.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Интернет-магазин автозапчастей</p>
							<p class="portfolio-card__site-name">Quattro</p>
						</div>
						<p class="portfolio-card__time">2009 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}

					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_dark" style="background: #E7E7E7;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-nut.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Интернет-магазин автозапчастей</p>
							<p class="portfolio-card__site-name">Gayka</p>
						</div>
						<p class="portfolio-card__time">2015 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}
				</div>
				<div class="portfolio__button-wrap">
					<a href="#" class="portfolio__button btn">
						<span class="btn__text">Ещё работы</span>
						<i class="btn__icon"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	{#/PORTFOLIO#}
{% endblock %}
