{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Portfolio inner - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Портфолио</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<span class="title-line__link-icon"></span>
					<span class="title-line__link-text">Отправить заявку</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item">Избранное</a>
			<a href="#" class="title-line__dropdown-item">Создание</a>
			<a href="#" class="title-line__dropdown-item">Продвижение</a>
			<a href="#" class="title-line__dropdown-item">Фирменный стиль</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Избранное</a>
				<a href="#" class="nav-line__menu-item">Создание</a>
				<a href="#" class="nav-line__menu-item">Продвижение</a>
				<a href="#" class="nav-line__menu-item">Фирменный стиль</a>
			</div>
			<div class="nav-line__years">
				<a href="#" class="nav-line__years-item nav-line__years-item_active">2017</a>
				<a href="#" class="nav-line__years-item">2016</a>
				<a href="#" class="nav-line__years-item">2015</a>
				<a href="#" class="nav-line__years-item">2014</a>
				<a href="#" class="nav-line__years-item">2013</a>
			</div>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#PORTFOLIO TITLE#}
	<div class="portfolio-title">
		<div class="portfolio-title__container container">
			<h1 class="portfolio-title__text">Интернет-магазин автоаксессуаров Автосвет96</h1>
			<a href="#" class="portfolio-title__return-link">
				<i class="portfolio-title__return-link-icon"></i>
				<span class="portfolio-title__return-link-text">Вернуться назад</span>
			</a>
		</div>
	</div>
	{#/PORTFOLIO TITLE#}

	{#PORTFOLIO DESCRIPTION#}
	<div class="portfolio-desc">
		<div class="portfolio-desc__bg" style="background-image: url(images/portfolio-inner-img.jpg)">
			<div class="portfolio-desc__color-bg" style="background: linear-gradient(0deg, rgba(31, 155, 215, 0.9), rgba(31, 155, 215, 0.9))">
				<div class="portfolio-desc__container container">
					<div class="portfolio-desc__content">
						<p class="portfolio-desc__title">Автосвет96</p>

						<!--portfolio-desc__text has 2 modifiers for changing color of text: can be portfolio-desc__text_light or portfolio-desc__text_dark-->

						<div class="portfolio-desc__text portfolio-desc__text_light">
							<div class="info-box">
								<p>Lorem ipsum dolor sit amet, ad nullam mentitum menandri per, pri in doming invidunt principes. Ne eam dicunt maluisset, et cibo scripta electram cum, iudico efficiantur ex ius. Ei electram constituto expetendis per. Et tollit facilis repudiandae vim.</p>
							</div>
						</div>
					</div>
					<div class="portfolio-desc__screen">
						<img src="images/portfolio-screen.png" class="portfolio-desc__screen-img">
					</div>
				</div>
			</div>
		</div>
		{#RESPONSE CONTENT#}
		<div class="portfolio-desc__content portfolio-desc__content_response">
			<p class="portfolio-desc__title">Автосвет96</p>

			<!--portfolio-desc__text has 2 modifiers for changing color of text: can be portfolio-desc__text_light or portfolio-desc__text_dark-->

			<div class="portfolio-desc__text" style="color: #1F9BD7;">
				<div class="info-box">
					<p>Lorem ipsum dolor sit amet, ad nullam mentitum menandri per, pri in doming invidunt principes. Ne eam dicunt maluisset, et cibo scripta electram cum, iudico efficiantur ex ius. Ei electram constituto expetendis per. Et tollit facilis repudiandae vim.</p>
				</div>
			</div>
		</div>
		{#/RESPONSE CONTENT#}
	</div>
	{#/PORTFOLIO DESCRIPTION#}

	{#PORTFOLIO INFORMATION#}
	<div class="portfolio-info">
		<div class="portfolio-info__container container">
			<div class="portfolio-info__content">
				<div class="portfolio-info__content-left-part">
					<div class="portfolio-info__status">
						<i class="portfolio-info__status-icon"></i>
						<p class="portfolio-info__status-text">Завершен</p>
					</div>
					<p class="portfolio-info__date">июль 2017</p>
				</div>
				<a href="#" target="_blank" class="portfolio-info__site-link" style="background: #1F9BD7">
					<span class="portfolio-info__site-link-text">Перейти на сайт</span>
					<i class="portfolio-info__site-link-icon"></i>
				</a>
			</div>
		</div>
	</div>
	{#/PORTFOLIO INFORMATION#}

	{#PORTFOLIO PAGES DEMONSTRATION#}
	<div class="portfolio-pages-block" >
		<div class="portfolio-pages-block__container container">
			<p class="portfolio-pages-block__title">Главная страница</p>
			<div class="portfolio-pages-block__list">
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-1.jpg" class="portfolio-pages-block__item-img">
				</div>
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-3.jpg" class="portfolio-pages-block__item-img">
				</div>
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-2.jpg" class="portfolio-pages-block__item-img">
				</div>
			</div>
			<div class="portfolio-pages-block__desc">
				Lorem ipsum dolor sit amet, ad nullam mentitum menandri per, pri in doming invidunt principes.
			</div>
		</div>
	</div>
	{#/PORTFOLIO PAGES DEMONSTRATION#}

	{#PORTFOLIO PAGES DEMONSTRATION#}
	<div class="portfolio-pages-block" >
		<div class="portfolio-pages-block__container container">
			<p class="portfolio-pages-block__title">Каталог</p>
			<div class="portfolio-pages-block__list">
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-4.jpg" class="portfolio-pages-block__item-img">
				</div>
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-5.jpg" class="portfolio-pages-block__item-img">
				</div>
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-6.jpg" class="portfolio-pages-block__item-img">
				</div>
			</div>
			<div class="portfolio-pages-block__desc">
				Lorem ipsum dolor sit amet, ad nullam mentitum menandri per, pri in doming invidunt principes.
			</div>
		</div>
	</div>
	{#/PORTFOLIO PAGES DEMONSTRATION#}

	{#PORTFOLIO PAGES DEMONSTRATION#}
	<div class="portfolio-pages-block">
		<div class="portfolio-pages-block__container container">
			<p class="portfolio-pages-block__title">Карточка товара</p>
			<div class="portfolio-pages-block__list">
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-7.jpg" class="portfolio-pages-block__item-img">
				</div>
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-8.jpg" class="portfolio-pages-block__item-img">
				</div>
				<div class="portfolio-pages-block__item">
					<img src="images/portfolio-img-9.jpg" class="portfolio-pages-block__item-img">
				</div>
			</div>
			<div class="portfolio-pages-block__desc">
				Lorem ipsum dolor sit amet, ad nullam mentitum menandri per, pri in doming invidunt principes.
			</div>
		</div>
	</div>
	{#/PORTFOLIO PAGES DEMONSTRATION#}
{% endblock %}
