{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Blog - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Новоcти компании</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon title-line__link-icon_blog"></i>
					<span class="title-line__link-text">Подписка на рассылку</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item">Новости компании</a>
			<a href="#" class="title-line__dropdown-item">Полезные статьи</a>
			<a href="#" class="title-line__dropdown-item">Инструкции</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Новости компании</a>
				<a href="#" class="nav-line__menu-item">Полезные статьи</a>
				<a href="#" class="nav-line__menu-item">Инструкции</a>
			</div>
			<div class="nav-line__years">
				<a href="#" class="nav-line__years-item nav-line__years-item_active">2017</a>
				<a href="#" class="nav-line__years-item">2016</a>
				<a href="#" class="nav-line__years-item">2015</a>
				<a href="#" class="nav-line__years-item">2014</a>
				<a href="#" class="nav-line__years-item">2013</a>
			</div>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#BLOG#}
	<div class="blog">
		<div class="blog__container container">
			<div class="blog__list">

				{#BLOG ITEM#}
				<div class="blog__item">
					<div class="blog__date blog__date_desktop">
						<span class="blog__date-icon"></span>
						<span class="blog__date-name">8 августа</span>
					</div>
					<div class="blog__main">
						<a href="#" class="blog__title">ФЗ-54 или как мы внедряли онлайн-кассу</a>
						<div class="blog__user-name-and-comments">
							<a href="#" class="blog__user">
								<i class="blog__user-avatar"></i>
								<span class="blog__user-name">Алексей Петров</span>
							</a>
							<a href="#" class="blog__comments blog__comments_desktop">
								<i class="blog__comments-icon"></i>
								<span class="blog__comments-text">12 комментариев</span>
							</a>
							<div class="blog__date blog__date_mobile">
								<span class="blog__date-icon"></span>
								<span class="blog__date-name">8 августа 2017</span>
							</div>
						</div>
						<div class="blog__text">
							Ввиду того что наша организация принимает
							онлайн-платежи, мы не стали исключением из
							ряда тех компаний, которые обязаны применять
							онлайн-кассы. Сам факт того, что онлайн-платежи
							попадают под этот закон, нам показался слегка
							странным, ведь деньги с платежной системы поступают
							на расчетный счет, но, тем не менее, закон есть закон.
							Делимся опытом в подробном разборе всех этапов
							внедрения онлайн-кассы для соответствия ФЗ-54.
						</div>
						<div class="blog__photo-wrap">
							<div class="blog__photo" style="background-image: url(images/blog-img.png)"></div>
						</div>
						<a href="#" class="blog__comments blog__comments_mobile">
							<i class="blog__comments-icon"></i>
							<span class="blog__comments-text">12 комментариев</span>
						</a>
					</div>
				</div>
				{#/BLOG ITEM#}

				{#BLOG ITEM#}
				<div class="blog__item">
					<div class="blog__date blog__date_desktop">
						<span class="blog__date-icon"></span>
						<span class="blog__date-name">5 июня</span>
					</div>
					<div class="blog__main">
						<a href="#" class="blog__title">Долгожданный выход плагина «SEO-фильтр 2.0»</a>
						<div class="blog__user-name-and-comments">
							<a href="#" class="blog__user">
								<i class="blog__user-avatar"></i>
								<span class="blog__user-name">Алексей Петров</span>
							</a>
							<a href="#" class="blog__comments blog__comments_desktop">
								<i class="blog__comments-icon"></i>
								<span class="blog__comments-text">12 комментариев</span>
							</a>
							<div class="blog__date blog__date_mobile">
								<span class="blog__date-icon"></span>
								<span class="blog__date-name">5 июня 2017</span>
							</div>
						</div>
						<div class="blog__text">
							В новой версии есть возможность оптимизировать страницы
							с комбинированными результатами подбора! И это далеко не
							единственное изменение. Мы предлагаем вашему вниманию полностью
							переработанный плагин! Теперь он не только позволяет выполнять
							задачи по оптимизации сайта, но и стал гораздо более удобным в работе.
						</div>
						<a href="#" class="blog__comments blog__comments_mobile">
							<i class="blog__comments-icon"></i>
							<span class="blog__comments-text">12 комментариев</span>
						</a>
					</div>
				</div>
				{#/BLOG ITEM#}

				{#BLOG ITEM#}
				<div class="blog__item">
					<div class="blog__date blog__date_desktop">
						<span class="blog__date-icon "></span>
						<span class="blog__date-name">2 июня</span>
					</div>
					<div class="blog__main">
						<a href="#" class="blog__title">ФЗ-54 или как мы внедряли онлайн-кассу</a>
						<div class="blog__user-name-and-comments">
							<a href="#" class="blog__user">
								<i class="blog__user-avatar"></i>
								<span class="blog__user-name">Алексей Петров</span>
							</a>
							<a href="#" class="blog__comments blog__comments_desktop">
								<i class="blog__comments-icon"></i>
								<span class="blog__comments-text">12 комментариев</span>
							</a>
							<div class="blog__date blog__date_mobile">
								<span class="blog__date-icon"></span>
								<span class="blog__date-name">2 июня 2017</span>
							</div>
						</div>
						<div class="blog__text">
							Ввиду того что наша организация принимает
							онлайн-платежи, мы не стали исключением из
							ряда тех компаний, которые обязаны применять
							онлайн-кассы. Сам факт того, что онлайн-платежи
							попадают под этот закон, нам показался слегка
							странным, ведь деньги с платежной системы поступают
							на расчетный счет, но, тем не менее, закон есть закон.
							Делимся опытом в подробном разборе всех этапов
							внедрения онлайн-кассы для соответствия ФЗ-54.
						</div>
						<a href="#" class="blog__comments blog__comments_mobile">
							<i class="blog__comments-icon"></i>
							<span class="blog__comments-text">12 комментариев</span>
						</a>
					</div>
				</div>
				{#/BLOG ITEM#}
			</div>
			<div class="blog__button-wrap">
				<a href="#" class="blog__button btn">
					<span class="btn__text">Показать ещё</span>
					<i class="btn__icon"></i>
				</a>
			</div>
		</div>
	</div>
	{#/BLOG#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}

{% endblock %}
