{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Blog Article - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line title-line_blog-article js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Новоcти компании</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon title-line__link-icon_blog"></i>
					<span class="title-line__link-text">Подписка на рассылку</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item title-line__dropdown-item_active">Новости компании</a>
			<a href="#" class="title-line__dropdown-item">Полезные статьи</a>
			<a href="#" class="title-line__dropdown-item">Инструкции</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Новости компании</a>
				<a href="#" class="nav-line__menu-item">Полезные статьи</a>
				<a href="#" class="nav-line__menu-item">Инструкции</a>
			</div>
			<div class="nav-line__years">
				<a href="#" class="nav-line__years-item nav-line__years-item_active">2017</a>
				<a href="#" class="nav-line__years-item">2016</a>
				<a href="#" class="nav-line__years-item">2015</a>
				<a href="#" class="nav-line__years-item">2014</a>
				<a href="#" class="nav-line__years-item">2013</a>
			</div>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#BLOG ARTICLE#}
	<div class="blog-article">
		<div class="blog-article__container container">

			{#TITLE#}
			<div class="blog-article__title-block">
				<h1 class="blog-article__title">
					ФЗ-54 или как мы внедряли онлайн-кассу
				</h1>
				<div class="blog-article__menu blog-article__menu_mobile">
					<a href="#" class="blog-article__user blog-article__user_mobile">
						<i class="blog-article__user-avatar"></i>
						<span class="blog-article__user-name">Алексей Петров</span>
					</a>
					<div class="blog-article__date blog-article__date_mobile ">
						<span class="blog-article__date-icon"></span>
						<span class="blog-article__date-name">8 августа 2017</span>
					</div>
				</div>
				<a href="#" class="blog-article__come-back">
					<span class="blog-article__come-back-arrow"></span>
					<span class="blog-article__come-back-text">Вернуться назад</span>
				</a>
			</div>
			<div class="blog-article__menu">
				<a href="#" class="blog-article__user">
					<i class="blog-article__user-avatar"></i>
					<span class="blog-article__user-name">Алексей Петров</span>
				</a>
				<div class="blog-article__date ">
					<span class="blog-article__date-icon"></span>
					<span class="blog-article__date-name">8 августа </span>
				</div>
				<a href="#" class="blog-article__number-of-comments">
					<i class="blog-article__number-of-comments-icon"></i>
					<span class="blog-article__number-of-comments-text">12 комментариев</span>
				</a>
			</div>
			{#/TITLE#}

			{#INFOBOX#}
			<div class="blog-article__info-box">
				<div class="info-box">
					<p>
						Ввиду того что наша организация принимает
						онлайн-платежи, мы не стали исключением из
						ряда тех компаний, которые обязаны применять
						онлайн-кассы. Сам факт того, что онлайн-платежи
						попадают под этот закон, нам показался слегка
						странным, ведь деньги с платежной системы поступают
						на расчетный счет, но, тем не менее, закон есть закон.
						Делимся опытом в подробном разборе всех этапов внедрения
						онлайн-кассы для соответствия ФЗ-54.
					</p>
					<img src="images/blog-img.png" alt="">
					<h4>
						1 шаг. Выбор онлайн-кассы
					</h4>
					<p>
						Мы выбирали между АТОЛом и МодульКассой, так как обе системы
						поддерживают интеграцию с платежной системой Яндекс.Кассы,
						используемой нами для расчетов. Облачное решение от АТОЛ
						показалось нам не совсем выгодным и надежным из-за наличия
						арендных платежей и физического отсутствия самой кассы, поэтому
						мы остановили свой выбор на мобильной модели от МодульКассы
						стоимостью 28 500 рублей.
						<br>
						С доставкой возникли некоторые проблемы: к обещанному сроку,
						1 июля, кассы не было. Однако компания МодульКасса уверила нас,
						что при наличии договора и срыва срока поставки кассы по вине
						поставщика наказывать организации штрафами не будут.
					</p>
				</div>
			</div>
			{#INFOBOX#}

			{#BOTTOM BLOCK#}
			<div class="blog-article__bottom-block">
				<div class="blog-article__social-networks">
					<p class="blog-article__social-networks-title">
						Поделиться в соцсетях:
					</p>
					<div class="blog-article__social-networks-icon-list">
						<a href="#" target="_blank" class="blog-article__icon blog-article__icon_vk"></a>
						<a href="#" target="_blank" class="blog-article__icon blog-article__icon_fb"></a>
						<a href="#" target="_blank" class="blog-article__icon blog-article__icon_twitter"></a>
						<a href="#" target="_blank" class="blog-article__icon blog-article__icon_google"></a>
						<a href="#" target="_blank" class="blog-article__icon blog-article__icon_ok"></a>
					</div>
				</div>
				<div class="blog-article__subscribe-wrap">
					<p class="blog-article__subscribe-title">
						Подпишись на новости:
					</p>

					{#SUBSCRIBE#}
					<div class="subscribe blog-article__subscribe">
						<form>
							<div class="subscribe__form">
								<input type="text" class="subscribe__input-text" placeholder="Электронная почта">
								<button type="submit" class="subscribe__button">Подписаться</button>
								<button type="submit" class="subscribe__button subscribe__button_mobile">ok</button>
							</div>
						</form>
					</div>
					{#/SUBSCRIBE#}

				</div>
			</div>
			{#/BOTTOM BLOCK#}

			{#COMMENTS#}
			<div class="comments">
				<div class="comments__title">12 комментариев</div>
				<div class="comments__list">

					{#COMMENTS BLOCK#}
					<div class="comments__block">
						<div class="comments__user-answer comments__user-answer_1">
							<a href="#" class="comments__user">
								<i class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></i>
								<span class="comments__user-name">Андрей Иванов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel, vim corpora necessitatibus ne.
							</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
						<div class="comments__user-answer comments__user-answer_2">
							<a href="#" class="comments__user">
								<i class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></i>
								<span class="comments__user-name">Сергей Жданов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel.						</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
					</div>
					{#/COMMENTS BLOCK#}

					{#COMMENTS BLOCK#}
					<div class="comments__block">
						<div class="comments__user-answer comments__user-answer_1">
							<a href="#" class="comments__user">
								<i class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></i>
								<span class="comments__user-name">Андрей Иванов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel, vim corpora necessitatibus ne.
							</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
						<div class="comments__user-answer comments__user-answer_2">
							<a href="#" class="comments__user">
								<i class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></i>
								<span class="comments__user-name">Сергей Жданов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel.						</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
					</div>
					{#/COMMENTS BLOCK#}

					{#COMMENTS BLOCK#}
					<div class="comments__block">
						<div class="comments__user-answer comments__user-answer_1">
							<a href="#" class="comments__user">
								<i class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></i>
								<span class="comments__user-name">Андрей Иванов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel, vim corpora necessitatibus ne.
							</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
						<div class="comments__user-answer comments__user-answer_2">
							<a href="#" class="comments__user">
								<i class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></i>
								<span class="comments__user-name">Сергей Жданов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel.						</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
					</div>
					{#/COMMENTS BLOCK#}

				</div>
			</div>
			{#/COMMENTS#}

			{#BUTTON#}
			<div class="blog-article__button-wrap">
				<a href="#" class="blog-article__button btn">
					<span class="btn__text">Показать ещё</span>
					<i class="btn__icon"></i>
				</a>
			</div>
			{#/BUTTON#}

			{#WRITE#}
			<div class="blog-article__write blog-article__write_no-login">
				<div class="blog-article__write-title">Написать комментарий</div>
				<div class="blog-article__write-text">
					Для добавления комментария, пожалуйста,
					<a href="#" class="blog-article__write-login">авторизуйтесь</a>
					в Центре заказчика или с
					помощью одного из сервисов, перечисленных
					ниже.
				</div>
				<div class="blog-article__write-links">
					<a href="#" class="blog-article__social-links">
						<i class="blog-article__icon-mini blog-article__icon-mini_vk"></i>
						<span class="blog-article__text">Вконтакте</span>
					</a>
					<a href="#" class="blog-article__social-links">
						<i class="blog-article__icon-mini blog-article__icon-mini_fb"></i>
						<span class="blog-article__text">Facebook</span>
					</a>
					<a href="#" class="blog-article__social-links">
						<i class="blog-article__icon-mini blog-article__icon-mini_twitter"></i>
						<span class="blog-article__text">Twitter</span>
					</a>
					<a href="#" class="blog-article__social-links">
						<i class="blog-article__icon-mini blog-article__icon-mini_google"></i>
						<span class="blog-article__text">Google</span>
					</a>
				</div>
			</div>
			{#/WRITE#}

		</div>
	</div>
	{#/BLOG ARTICLE#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}

{% endblock %}

