{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Vacancies - BodySite</title>
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Вакансии</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon title-line__link-icon_vacancies"></i>
					<span class="title-line__link-text">Отправить резюме</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item">Вакансии</a>
			<a href="#" class="title-line__dropdown-item">Наша команда</a>
			<a href="#" class="title-line__dropdown-item">Условия работы</a>
			<a href="#" class="title-line__dropdown-item">Тестовые задания</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Вакансии</a>
				<a href="#" class="nav-line__menu-item">Наша команда</a>
				<a href="#" class="nav-line__menu-item">Условия работы</a>
				<a href="#" class="nav-line__menu-item">Тестовые задания</a>
			</div>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#VACANCIES#}
	<div class="std-list vacancies__std-list">
		<div class="std-list__container container">
			<div class="std-list__list">
				{#VACANCY ITEM#}
				<a href="#" class="std-card">
					<div class="std-card__icon-block">
						<div class="std-card__icon-wrap">
							<img src="img/icon-common-gear.svg" alt="" class="std-card__icon">
						</div>
						<div class="std-card__tag std-card__tag_active">активно</div>
					</div>
					<div class="std-card__text-block">
						<p class="std-card__title">WEB-программист</p>
						<p class="std-card__desc">Проектирование и реализация индивидуальных решений, разработка мобильных версий, интеграция с 1С, соцсетями.</p>
						<p class="std-card__salary">от 50 000 руб/мес.</p>
						<button class="std-card__button btn">Подробнее</button>
					</div>
				</a>
				{#/VACANCY ITEM#}

				{#VACANCY ITEM#}
				<a href="#" class="std-card">
					<div class="std-card__icon-block">
						<div class="std-card__icon-wrap">
							<img src="img/icon-seo.svg" alt="" class="std-card__icon">
						</div>
						<div class="std-card__tag std-card__tag_freelance">фриланс</div>
					</div>
					<div class="std-card__text-block">
						<p class="std-card__title">SEO-специалист</p>
						<p class="std-card__desc">Проектирование и реализация индивидуальных решений, разработка мобильных версий, интеграция с 1С, соцсетями.</p>
						<p class="std-card__salary">от 50 000 руб/мес.</p>
						<button class="std-card__button btn">Подробнее</button>
					</div>
				</a>
				{#/VACANCY ITEM#}

				{#VACANCY ITEM#}
				<a href="#" class="std-card">
					<div class="std-card__icon-block">
						<div class="std-card__icon-wrap">
							<img src="img/icon-designer.svg" alt="" class="std-card__icon">
						</div>
						<div class="std-card__tag std-card__tag_consider">рассмотрим</div>
					</div>
					<div class="std-card__text-block">
						<p class="std-card__title">WEB-дизайнер</p>
						<p class="std-card__desc">Проектирование и реализация индивидуальных решений, разработка мобильных версий, интеграция с 1С, соцсетями.</p>
						<p class="std-card__salary">от 50 000 руб/мес.</p>
						<button class="std-card__button btn">Подробнее</button>
					</div>
				</a>
				{#/VACANCY ITEM#}

				{#VACANCY ITEM#}
				<a href="#" class="std-card">
					<div class="std-card__icon-block">
						<div class="std-card__icon-wrap">
							<img src="img/icon-manager.svg" alt="" class="std-card__icon">
						</div>
						<div class="std-card__tag std-card__tag_active">активно</div>
					</div>
					<div class="std-card__text-block">
						<p class="std-card__title">Менеджер продаж</p>
						<p class="std-card__desc">Проектирование и реализация индивидуальных решений, разработка мобильных версий, интеграция с 1С, соцсетями.</p>
						<p class="std-card__salary">от 50 000 руб/мес.</p>
						<button class="std-card__button btn">Подробнее</button>
					</div>
				</a>
				{#/VACANCY ITEM#}
			</div>
		</div>
	</div>
	{#/VACANCIES#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}
{% endblock %}
