{% extends 'parts/layout.twig' %}

{% block title %}
	<title>About company - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">О компании</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon title-line__link-icon_testimonial"></i>
					<span class="title-line__link-text">Написать отзыв</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item">Отзывы</a>
			<a href="#" class="title-line__dropdown-item">Награды и достижения</a>
			<a href="#" class="title-line__dropdown-item">Наша команда</a>
			<a href="#" class="title-line__dropdown-item">Партнеры</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Отзывы</a>
				<a href="#" class="nav-line__menu-item">Награды и достижения</a>
				<a href="#" class="nav-line__menu-item">Наша команда</a>
				<a href="#" class="nav-line__menu-item">Партнеры</a>
			</div>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#ABOUT PAGE#}
	<div class="about-page">
		{#ABOUT US#}
		<div class="about">
			<div class="about__container container">
				<div class="about__image-wrap">
					<img src="images/about-img.jpg" alt="" class="about__image">
				</div>
				<div class="about__text-wrap">
					<div class="about__text">
						<span class="about__text-span">BodySite</span>
						-  IT компания специализирующаяся на
						разработке, поддержке и продвижении
						интернет-магазинов на основе фреймворка Webasyst
					</div>
					<div class="info-box">
						<p>
							<b>Ключевые направления деятельности:</b>
						</p>
						<ul>
							<li>Индивидуальная разработка интернет-магазинов;</li>
							<li>Создание сайтов на основе готовых решений;</li>
							<li>Комплексное продвижение интернет-магазинов;</li>
							<li>Поддержка и доработки функционала;</li>
							<li>Разработка приложений и тем дизайна для Webasyst;</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{#/ABOUT US#}

		{#WHY US#}
		<div class="why-us about-page__why-us">
			<div class="why-us__container container">
				<p class="why-us__title">Почему выбирают нас?</p>
				<div class="why-us__list js-advantages-response-slider">
					<a href="#" class="why-us__item">
						<i class="why-us__item-icon why-us__item-icon_time"></i>
						<p class="why-us__item-title">Опыт работы 8 лет в сфере</p>
						<p class="why-us__item-desc">
							Компания основана
							<br>
							в мае 2009 года
						</p>
					</a>

					<a href="#" class="why-us__item">
						<i class="why-us__item-icon why-us__item-icon_projects"></i>
						<p class="why-us__item-title">Реализовано > 150 проектов</p>
						<p class="why-us__item-desc">
							Преимущественно
							<br>
							интернет-магазины
						</p>
					</a>

					<a href="#" class="why-us__item">
						<i class="why-us__item-icon why-us__item-icon_home"></i>
						<p class="why-us__item-title">Комплекс услуг</p>
						<p class="why-us__item-desc">
							Разработка, доработка и
							<br>
							продвижение  в одном месте
						</p>
					</a>

					<a href="#" class="why-us__item">
						<i class="why-us__item-icon why-us__item-icon_people"></i>
						<p class="why-us__item-title">Свой штат специалистов</p>
						<p class="why-us__item-desc">
							Дружная команда опытных
							<br>
							специалистов
						</p>
					</a>

					<a href="#" class="why-us__item">
						<i class="why-us__item-icon why-us__item-icon_guarantee"></i>
						<p class="why-us__item-title">Гарантия</p>
						<p class="why-us__item-desc">
							На разработанные проекты и
							<br>
							доработки
						</p>
					</a>

					<a href="#" class="why-us__item">
						<i class="why-us__item-icon why-us__item-icon_case"></i>
						<p class="why-us__item-title">Собственные инструменты</p>
						<p class="why-us__item-desc">
							Уникальные разработки для
							<br>
							автоматизации и продвижения
						</p>
					</a>
				</div>
			</div>
		</div>
		{#/WHY US#}

		{#AWARDS#}
		<div class="awards-block about-page__awards-block">
			<div class="awards-block__container container">
				<p class="awards-block__title">Наши достижения</p>
				<div class="awards-block__list js-advantages-response-slider">
					<a href="#" target="_blank" class="awards-block__item js-popup-link">
						<img src="images/awards-img-1.jpg" alt="" class="awards-block__item-img">
					</a>
					<a href="#" target="_blank" class="awards-block__item js-popup-link">
						<img src="images/awards-img-1.jpg" alt="" class="awards-block__item-img">
					</a>
					<a href="#" target="_blank" class="awards-block__item js-popup-link">
						<img src="images/awards-img-1.jpg" alt="" class="awards-block__item-img">
					</a>
					<a href="#" target="_blank" class="awards-block__item js-popup-link">
						<img src="images/awards-img-1.jpg" alt="" class="awards-block__item-img">
					</a>
				</div>
				<div class="awards-block__button-wrap">
					<a href="#" class="awards-block__button btn">
						<span class="btn__text">Все достижения</span>
						<i class="btn__icon btn__icon_right"></i>
					</a>
				</div>
			</div>
		</div>
		{#/AWARDS#}

		{#CLIENTS#}
		<div class="clients about-page__clients">
			<div class="clients__container container">
				<p class="clients__title">Наши клиенты</p>
				<div class="clients__list js-advantages-response-slider">
					<div class="clients__item">
						<div class="clients__item-logo-wrap">
							<img src="images/logo-autosvet-2.svg" alt="" class="clients__item-logo">
						</div>
						<div class="clients__item-desc">
							<p class="clients__item-name">Компания «АВТОСВЕТ»</p>
							<p class="clients__item-projects">4 проекта, с 2011 года</p>
						</div>
					</div>

					<div class="clients__item">
						<div class="clients__item-logo-wrap">
							<img src="images/logo-uik.svg" alt="" class="clients__item-logo">
						</div>
						<div class="clients__item-desc">
							<p class="clients__item-name">Компания «УИК»</p>
							<p class="clients__item-projects">2 проекта, с 2010 года</p>
						</div>
					</div>

					<div class="clients__item">
						<div class="clients__item-logo-wrap">
							<img src="images/logo-mustang.svg" alt="" class="clients__item-logo">
						</div>
						<div class="clients__item-desc">
							<p class="clients__item-name">Компания “Mustang-Group”</p>
							<p class="clients__item-projects">6 проектов, с 2012 года</p>
						</div>
					</div>

					<div class="clients__item">
						<div class="clients__item-logo-wrap">
							<img src="images/logo-exe-2.svg" alt="" class="clients__item-logo">
						</div>
						<div class="clients__item-desc">
							<p class="clients__item-name">Компания «EXE Sport»</p>
							<p class="clients__item-projects">2 проекта, с 2010 года</p>
						</div>
					</div>

					<div class="clients__item">
						<div class="clients__item-logo-wrap">
							<img src="images/logo-quattro-2.svg" alt="" class="clients__item-logo">
						</div>
						<div class="clients__item-desc">
							<p class="clients__item-name">Автомагазин «QUATTRO»</p>
							<p class="clients__item-projects">2 проекта, с 2011 года</p>
						</div>
					</div>

					<div class="clients__item">
						<div class="clients__item-logo-wrap">
							<img src="images/logo-nut.svg" alt="" class="clients__item-logo">
						</div>
						<div class="clients__item-desc">
							<p class="clients__item-name">Автомагазин «Гайка»</p>
							<p class="clients__item-projects">1 проект, с 2009 года</p>
						</div>
					</div>
				</div>
				<div class="clients__button-wrap">
					<a href="#" class="clients__button btn">
						<span class="btn__text">Стать клиентом</span>
						<i class="btn__icon btn__icon_right"></i>
					</a>
				</div>
			</div>
		</div>
		{#/CLIENTS#}
	</div>
	{#/ABOUT PAGE#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}
{% endblock %}
