{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Reviews - BodySite</title>
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Отзывы</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon title-line__link-icon_testimonial"></i>
					<span class="title-line__link-text">Написать отзыв</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item">Отзывы</a>
			<a href="#" class="title-line__dropdown-item">Награды и достижения</a>
			<a href="#" class="title-line__dropdown-item">Наша команда</a>
			<a href="#" class="title-line__dropdown-item">Партнеры</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Отзывы</a>
				<a href="#" class="nav-line__menu-item">Награды и достижения</a>
				<a href="#" class="nav-line__menu-item">Наша команда</a>
				<a href="#" class="nav-line__menu-item">Партнеры</a>
			</div>
			<a href="#" class="nav-line__return-link">
				<i class="nav-line__return-link-icon"></i>
				<span class="nav-line__return-link-text">Вернуться назад</span>
			</a>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#BACK LINE#}
	<a href="#" class="back-link">
		<i class="back-link__icon"></i>
		<span class="back-link__text">Вернуться назад</span>
	</a>
	{#/BACK LINE#}

	{#TITLE LINE RESPONSE#}
	<div class="title-line title-line_response">
		<a href="#" class="title-line__link">
			<i class="title-line__link-icon title-line__link-icon_testimonial"></i>
			<span class="title-line__link-text">Написать отзыв</span>
		</a>
	</div>
	{#/TITLE LINE RESPONSE#}

	{#REVIEWS#}
	<div class="reviews-page">
		<div class="reviews reviews-page__reviews">
			<div class="reviews__container container">
				<div class="reviews__list">


					{#ITEM#}
					<a href="#" class="reviews__item">
						{#TOP#}
						<div class="reviews__item-top">
							<div class="reviews__item-rating-wrap">
								<div class="reviews__item-rating reviews__item-rating_5">
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
								</div>
								<div class="reviews__item-source">
									<p class="reviews__item-source-text">Источник</p>
									<p class="reviews__item-source-itself">Webasyst.ru</p>
								</div>
							</div>
							<div class="reviews__item-content">
								<div class="reviews__item-content-top">
									<div class="reviews__item-author">
										<div class="reviews__item-author-img" style="background-image: url(images/account.jpg)"></div>
										<p class="reviews__item-author-name">Алексей Сергеев</p>
									</div>
									<div class="reviews__item-source">
										<p class="reviews__item-source-text">Источник</p>
										<p class="reviews__item-source-itself">Webasyst.ru</p>
									</div>
								</div>
								<div class="reviews__item-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
								</div>
								<div class="reviews__item-info">
									<p class="reviews__item-info-date">23 июня 2017 г.</p>
									<p class="reviews__item-info-time">18:00</p>
									<p class="reviews__item-info-city">г. Екатеринбург</p>
								</div>
							</div>
						</div>
						{#/TOP#}

						{#BOTTOM#}
						<div class="reviews__item-bottom">
							<div class="reviews__item-content">
								<div class="reviews__item-content-top">
									<div class="reviews__item-author">
										<div class="reviews__item-author-img"></div>
										<p class="reviews__item-author-name">Bodysite</p>
									</div>
								</div>
								<div class="reviews__item-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
								</div>
								<div class="reviews__item-info">
									<p class="reviews__item-info-date">23 июня 2017 г.</p>
									<p class="reviews__item-info-time">18:00</p>
									<p class="reviews__item-info-city">г. Екатеринбург</p>
								</div>
							</div>
						</div>
						{#/BOTTOM#}
					</a>
					{#/ITEM#}

					{#ITEM#}
					<a href="#" class="reviews__item">
						{#TOP#}
						<div class="reviews__item-top">
							<div class="reviews__item-rating-wrap">
								<div class="reviews__item-rating reviews__item-rating_4">
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
								</div>
								<div class="reviews__item-source">
									<p class="reviews__item-source-text">Источник</p>
									<p class="reviews__item-source-itself">Webasyst.ru</p>
								</div>
							</div>
							<div class="reviews__item-content">
								<div class="reviews__item-content-top">
									<div class="reviews__item-author">
										<div class="reviews__item-author-img" style="background-image: url(images/account.jpg)"></div>
										<p class="reviews__item-author-name">Алексей Сергеев</p>
									</div>
									<div class="reviews__item-source">
										<p class="reviews__item-source-text">Источник</p>
										<p class="reviews__item-source-itself">Webasyst.ru</p>
									</div>
								</div>
								<div class="reviews__item-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
								</div>
								<div class="reviews__item-info">
									<p class="reviews__item-info-date">23 июня 2017 г.</p>
									<p class="reviews__item-info-time">18:00</p>
									<p class="reviews__item-info-city">г. Екатеринбург</p>
								</div>
							</div>
						</div>
						{#/TOP#}

						{#BOTTOM#}
						<div class="reviews__item-bottom">
							<div class="reviews__item-content">
								<div class="reviews__item-content-top">
									<div class="reviews__item-author">
										<div class="reviews__item-author-img"></div>
										<p class="reviews__item-author-name">Bodysite</p>
									</div>
								</div>
								<div class="reviews__item-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
								</div>
								<div class="reviews__item-info">
									<p class="reviews__item-info-date">23 июня 2017 г.</p>
									<p class="reviews__item-info-time">18:00</p>
									<p class="reviews__item-info-city">г. Екатеринбург</p>
								</div>
							</div>
						</div>
						{#/BOTTOM#}
					</a>
					{#/ITEM#}
				</div>
				<div class="reviews__button-wrap">
					<a href="#" class="return__button btn">
						<span class="btn__text">Показать ещё</span>
						<i class="btn__icon"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	{#/REVIEWS#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}
{% endblock %}
