{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Awards - BodySite</title>
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Награды и достижения</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon title-line__link-icon_testimonial"></i>
					<span class="title-line__link-text">Написать отзыв</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item">Отзывы</a>
			<a href="#" class="title-line__dropdown-item">Награды и достижения</a>
			<a href="#" class="title-line__dropdown-item">Наша команда</a>
			<a href="#" class="title-line__dropdown-item">Партнеры</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item">Отзывы</a>
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Награды и достижения</a>
				<a href="#" class="nav-line__menu-item">Наша команда</a>
				<a href="#" class="nav-line__menu-item">Партнеры</a>
			</div>
			<a href="#" class="nav-line__return-link">
				<i class="nav-line__return-link-icon"></i>
				<span class="nav-line__return-link-text">Вернуться назад</span>
			</a>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#BACK LINE#}
	<a href="#" class="back-link">
		<i class="back-link__icon"></i>
		<span class="back-link__text">Вернуться назад</span>
	</a>
	{#/BACK LINE#}

	{#AWARDS#}
	<div class="awards">
		<div class="awards__container container">
			<div class="awards__list">
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-1.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-1.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-1.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-1.jpg" alt="" class="awards__item-img">
				</a>

				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-2.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-3.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-4.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-5.jpg" alt="" class="awards__item-img">
				</a>

				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-1.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-1.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-1.jpg" alt="" class="awards__item-img">
				</a>
				<a href="#" class="awards__item js-popup-link">
					<img src="images/awards-img-1.jpg" alt="" class="awards__item-img">
				</a>
			</div>
		</div>
	</div>
	{#/AWARDS#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}
{% endblock %}
