{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Support Form - BodySite</title>
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line title-line_only-child">
		<div class="title-line__container container">
			<h1 class="title-line__text">Написать в техподдержку</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<span class="title-line__link-icon"></span>
					<span class="title-line__link-text">Отправить заявку</span>
				</a>
			</div>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line nav-line_only-child">
		<div class="nav-line__container container">
			<div class="nav-line__menu"></div>
			<a href="#" class="nav-line__return-link">
				<i class="nav-line__return-link-icon"></i>
				<span class="nav-line__return-link-text">Вернуться назад</span>
			</a>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#BACK LINE#}
	<a href="#" class="back-link">
		<i class="back-link__icon"></i>
		<span class="back-link__text">Вернуться назад</span>
	</a>
	{#/BACK LINE#}

	{#SUPPORT FORM#}
	<div class="support-form">
		<div class="support-form__container container">

		{#ORDER#}
		<div class="support-form__order">
			<div class="order">
				<div class="order__form">
					<div class="form">
						<form>
							<div class="order__form-top">
								{#FORM INPUTS#}
								<div class="order__form-main-part">
									<div class="form__input-holder">
										<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input" placeholder="Укажите ваш сайт">
									</div>
								</div>
								{#/FORM INPUTS#}

								{#FILE UPLOAD#}
								<div class="order__form-upload-wrap js-add-file-wrap">
									<i class="order__form-upload-icon"></i>
									<div class="order__form-upload-name js-file-name">Загрузите файл</div>
									<div class="order__form-upload">
										<button class="order__form-upload-button js-file-button"></button>
										<input type="file" class="order__form-upload-input js-file-input">
									</div>
								</div>
								{#/FILE UPLOAD#}
							</div>

							<div class="form__select-holder">
								<select class="form__select js-select">
									<option value="1">Гарантийная поддержка плагина / темы дизайна</option>
									<option value="2">Гарантийная поддержка плагина / темы дизайна</option>
									<option value="3">Гарантийная поддержка плагина / темы дизайна</option>
								</select>
							</div>
							<div class="form__input-holder">
								<input type="text" class="form__input" placeholder="Название решения или проблемы">
							</div>

							{#TEXTAREA#}
							<div class="form__textarea-holder">
								<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
							</div>
							{#/TEXTAREA#}

							{#RESPONSE FILE UPLOAD#}
							<div class="order__form-upload-wrap order__form-upload-wrap_response js-add-file-wrap">
								<i class="order__form-upload-icon"></i>
								<div class="order__form-upload-name js-file-name">Загрузите файл</div>
								<div class="order__form-upload">
									<button class="order__form-upload-button js-file-button"></button>
									<input type="file" class="order__form-upload-input js-file-input">
								</div>
							</div>
							{#/RESPONSE FILE UPLOAD#}

							{#PERSONAL INFORMATION#}
							<div class="order__form-personal">
								<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
								<p class="order__form-personal-text">
									Согласен с обработкой персональных данных в соответсвии с
									<a href="#" class="order__form-personal-link">Условиями</a>
								</p>
							</div>
							{#/PERSONAL INFORMATION#}

							{#SUBMIT#}
							<div class="order__form-button-wrap">
								<button type="submit" class="form__submit btn btn_orange">Отправить</button>
							</div>
							{#/SUBMIT#}
						</form>
					</div>
				</div>
			</div>
		</div>
		{#/ORDER#}

		{#MENU#}
		<div class="support-form__menu">
			<div class="support-form__title">
				<a href="#" class="support-form__title-block">
					<i class="support-form__title-icon support-form__title-icon_user" style="background-image: url(img/icon-dropdown-user.svg)"></i>
					<div class="support-form__title-item">Личный кабинет</div>
				</a>
				<a href="#" class="support-form__title-block">
					<i class="support-form__title-icon support-form__title-icon_share" style="background-image: url(images/icon-share.svg)"></i>
					<div class="support-form__title-item">Информационный хаб</div>
				</a>
			</div>
			<div class="support-form__text-block">
				<div class="support-form__text-block-title">
					<i class="support-form__text-block-icon"></i>
					<p class="support-form__text-block-text">Важно:</p>
				</div>
				<div class="support-form__text-wrap">
					<div class="support-form__text">
						1. График работы техподдержки Пн - Пт,
						08:00 - 17:00 (Мск); Сб, Вс - выходные дни
					</div>
					<div class="support-form__text">
						2. Время реакции на обращение составляет 2 рабочих дня
					</div>
					<div class="support-form__text">
						3. При обращении просьба максимально
						подробно описывать проблему
					</div>
				</div>
				<div class="support-form__text-bottom">
					<div class="support-form__text-bottom-icon"></div>
					<a href="#" class="support-form__text-bottom-name">SLA.pdf</a>
					<div class="support-form__text-bottom-size">(21 Мб)</div>
				</div>
			</div>

		</div>
		{#/MENU#}

		</div>
	</div>
	{#/SUPPORT FORM#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}
{% endblock %}
