{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Send - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line title-line_only-child">
		<div class="title-line__container container">
			<h1 class="title-line__text">Отправить заявку</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link title-line__link_contacts">
					<span class="title-line__link-icon title-line__link-icon_contacts"></span>
					<span class="title-line__link-text title-line__link-text_contacts">Запрос в поддержку</span>
				</a>
			</div>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line nav-line_only-child">
		<div class="nav-line__container container">
			<div class="nav-line__menu"></div>
			<a href="#" class="nav-line__return-link">
				<i class="nav-line__return-link-icon"></i>
				<span class="nav-line__return-link-text">Вернуться назад</span>
			</a>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#BACK LINE#}
	<a href="#" class="back-link">
		<i class="back-link__icon"></i>
		<span class="back-link__text">Вернуться назад</span>
	</a>
	{#/BACK LINE#}

	{#SEND#}
	<div class="send">
		<div class="send__container container">
			<div class="send__content">
				<div class="order order_special">
					{#TABS#}
					<div class="order__tab-list">
						<a href="#" class="order__tab-item order__tab-item_active js-order-tab" data-id="1">Создание</a>
						<a href="#" class="order__tab-item js-order-tab" data-id="2">Продвижение</a>
						<a href="#" class="order__tab-item js-order-tab" data-id="3">Поддержка</a>
					</div>
					{#/TABS#}

					<div class="order__container">
						{#CONTENT 1#}
						<div class="order__content order__content_active js-order-content" id="order-content_1">
							<div class="order__form">
								<div class="form">
									<form>
										<div class="order__form-top">
											{#FORM INPUTS#}
											<div class="order__form-main-part">
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш телефон">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
												</div>
											</div>
											{#/FORM INPUTS#}

											{#FILE UPLOAD#}
											<div class="order__form-upload-wrap js-add-file-wrap">
												<i class="order__form-upload-icon"></i>
												<div class="order__form-upload-name js-file-name">Загрузите файл</div>
												<div class="order__form-upload">
													<button class="order__form-upload-button js-file-button"></button>
													<input type="file" class="order__form-upload-input js-file-input">
												</div>
											</div>
											{#/FILE UPLOAD#}
										</div>

										{#RANGE SLIDER#}
										<div class="form__range-slider-wrap">
											<div class="form__range-slider js-range-slider">
												<div class="form__range-slider-handle js-custom-handle"></div>
											</div>
											<p class="form__range-slider-text form__range-slider-text_min">от 10 000 руб.</p>
											<p class="form__range-slider-text form__range-slider-text_max">до 1 000 000 руб.</p>
										</div>
										{#/RANGE SLIDER#}

										{#ORDER TYPE#}
										<div class="order__type">Индивидуальная разработка</div>
										{#/ORDER TYPE#}

										{#TEXTAREA#}
										<div class="form__textarea-holder">
											<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
										</div>
										{#/TEXTAREA#}

										{#RESPONSE FILE UPLOAD#}
										<div class="order__form-upload-wrap order__form-upload-wrap_response js-add-file-wrap">
											<i class="order__form-upload-icon"></i>
											<div class="order__form-upload-name js-file-name">Загрузите файл</div>
											<div class="order__form-upload">
												<button class="order__form-upload-button js-file-button"></button>
												<input type="file" class="order__form-upload-input js-file-input">
											</div>
										</div>
										{#/RESPONSE FILE UPLOAD#}

										{#PERSONAL INFORMATION#}
										<div class="order__form-personal">
											<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
											<p class="order__form-personal-text">
												Согласен с обработкой персональных данных в соответсвии с
												<a href="#" class="order__form-personal-link">Условиями</a>
											</p>
										</div>
										{#/PERSONAL INFORMATION#}

										{#SUBMIT#}
										<div class="order__form-button-wrap">
											<button type="submit" class="form__submit btn btn_orange">Отправить</button>
										</div>
										{#/SUBMIT#}
									</form>
								</div>
							</div>
						</div>
						{#/CONTENT 1#}

						{#CONTENT 2#}
						<div class="order__content js-order-content" id="order-content_2">
							<div class="order__form">
								<div class="form">
									<form>
										<div class="order__form-top">
											{#FORM INPUTS#}
											<div class="order__form-main-part">
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш телефон">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
												</div>
											</div>
											{#/FORM INPUTS#}

											{#FILE UPLOAD#}
											<div class="order__form-upload-wrap js-add-file-wrap">
												<i class="order__form-upload-icon"></i>
												<div class="order__form-upload-name js-file-name">Загрузите файл</div>
												<div class="order__form-upload">
													<button class="order__form-upload-button js-file-button"></button>
													<input type="file" class="order__form-upload-input js-file-input">
												</div>
											</div>
											{#/FILE UPLOAD#}
										</div>

										{#RANGE SLIDER#}
										<div class="form__range-slider-wrap">
											<div class="form__range-slider js-range-slider">
												<div class="form__range-slider-handle js-custom-handle"></div>
											</div>
											<p class="form__range-slider-text form__range-slider-text_min">от 10 000 руб.</p>
											<p class="form__range-slider-text form__range-slider-text_max">до 100 000 руб.</p>
										</div>
										{#/RANGE SLIDER#}

										{#ORDER TYPE#}
										<div class="order__type">Продвижение</div>
										{#/ORDER TYPE#}

										{#TEXTAREA#}
										<div class="form__textarea-holder">
											<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
										</div>
										{#/TEXTAREA#}

										{#RESPONSE FILE UPLOAD#}
										<div class="order__form-upload-wrap order__form-upload-wrap_response js-add-file-wrap">
											<i class="order__form-upload-icon"></i>
											<div class="order__form-upload-name js-file-name">Загрузите файл</div>
											<div class="order__form-upload">
												<button class="order__form-upload-button js-file-button"></button>
												<input type="file" class="order__form-upload-input js-file-input">
											</div>
										</div>
										{#/RESPONSE FILE UPLOAD#}

										{#PERSONAL INFORMATION#}
										<div class="order__form-personal">
											<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
											<p class="order__form-personal-text">
												Согласен с обработкой персональных данных в соответсвии с
												<a href="#" class="order__form-personal-link">Условиями</a>
											</p>
										</div>
										{#/PERSONAL INFORMATION#}

										{#SUBMIT#}
										<div class="order__form-button-wrap">
											<button type="submit" class="form__submit btn btn_orange">Отправить</button>
										</div>
										{#/SUBMIT#}
									</form>
								</div>
							</div>
						</div>
						{#/CONTENT 2#}

						{#CONTENT 3#}
						<div class="order__content js-order-content" id="order-content_3">
							<div class="order__form">
								<div class="form">
									<form>
										<div class="order__form-top">
											{#FORM INPUTS#}
											<div class="order__form-main-part">
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш телефон">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
												</div>
											</div>
											{#/FORM INPUTS#}

											{#FILE UPLOAD#}
											<div class="order__form-upload-wrap js-add-file-wrap">
												<i class="order__form-upload-icon"></i>
												<div class="order__form-upload-name js-file-name">Загрузите файл</div>
												<div class="order__form-upload">
													<button class="order__form-upload-button js-file-button"></button>
													<input type="file" class="order__form-upload-input js-file-input">
												</div>
											</div>
											{#/FILE UPLOAD#}
										</div>

										{#RANGE SLIDER#}
										<div class="form__range-slider-wrap">
											<div class="form__range-slider js-range-slider">
												<div class="form__range-slider-handle js-custom-handle"></div>
											</div>
											<p class="form__range-slider-text form__range-slider-text_min">от 1 000 руб.</p>
											<p class="form__range-slider-text form__range-slider-text_max">до 20 000 руб.</p>
										</div>
										{#/RANGE SLIDER#}

										{#ORDER TYPE#}
										<div class="order__type">Поддержка</div>
										{#/ORDER TYPE#}

										{#TEXTAREA#}
										<div class="form__textarea-holder">
											<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
										</div>
										{#/TEXTAREA#}

										{#RESPONSE FILE UPLOAD#}
										<div class="order__form-upload-wrap order__form-upload-wrap_response js-add-file-wrap">
											<i class="order__form-upload-icon"></i>
											<div class="order__form-upload-name js-file-name">Загрузите файл</div>
											<div class="order__form-upload">
												<button class="order__form-upload-button js-file-button"></button>
												<input type="file" class="order__form-upload-input js-file-input">
											</div>
										</div>
										{#/RESPONSE FILE UPLOAD#}

										{#PERSONAL INFORMATION#}
										<div class="order__form-personal">
											<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
											<p class="order__form-personal-text">
												Согласен с обработкой персональных данных в соответсвии с
												<a href="#" class="order__form-personal-link">Условиями</a>
											</p>
										</div>
										{#/PERSONAL INFORMATION#}

										{#SUBMIT#}
										<div class="order__form-button-wrap">
											<button type="submit" class="form__submit btn btn_orange">Отправить</button>
										</div>
										{#/SUBMIT#}
									</form>
								</div>
							</div>
						</div>
						{#/CONTENT 3#}
					</div>
				</div>
			</div>
		</div>
	</div>
	{#/SEND#}


	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}

{% endblock %}
