{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Contacts - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}

{% block content %}
	{#TITLE LINE#}
	<div class="title-line title-line_only-child">
		<div class="title-line__container container">
			<h1 class="title-line__text">Контакты</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link title-line__link_contacts">
					<span class="title-line__link-icon title-line__link-icon_contacts"></span>
					<span class="title-line__link-text title-line__link-text_contacts">запрос в поддержку</span>
				</a>
				<a href="#" class="title-line__link">
					<span class="title-line__link-icon"></span>
					<span class="title-line__link-text">Отправить заявку</span>
				</a>
			</div>
		</div>
	</div>
	{#/TITLE LINE#}

	{#CONTACTS#}
	<div class="contacts">
		<div class="contacts__container container">

			<div class="contacts__address-map">

				{#CITIES#}
				<div class="contacts__cities">
					<a href="#" class="contacts__city js-contacts-city contacts__city_active" data-id="1">Екатеринбург</a>
					<a href="#" class="contacts__city js-contacts-city" data-id="2">Москва</a>
					<a href="#" class="contacts__city js-contacts-city" data-id="3">Санкт-Петербург</a>
					<a href="#" class="contacts__city js-contacts-city" data-id="4">Россия</a>
				</div>
				{#CITIES#}

				{#SELECT#}
				<div class="contacts__select">
					<select class="js-select" id="contacts-city-mobile">
						<option value="1">Екатеринбург</option>
						<option value="2">Москва</option>
						<option value="3">Санкт-Петербург</option>
						<option value="4">Россия</option>
					</select>
				</div>
				{#/SELECT#}

				<div class="contacts__location-wrap">
					{#EKB#}
					<div class="contacts__location js-contacts-location contacts__location_active" id="contacts-location_1">
						<div class="contacts__coordinates">
							<div class="contacts__address">
								<div class="contacts__title">Адрес:</div>
								<div class="contacts__address-place">г. Екатеринбург, ул. Азина, 24, оф. 907</div>
								<div class="contacts__address-working-hours">Пн-Пт, 10:00-19:00, перерыв 14:00-15:00</div>
							</div>
							<div class="contacts__mail-list">
								<div class="contacts__title">Электронная почта:</div>
								<div class="contacts__mail-item">
									<a href="mailto:zakaz@bodysite.ru" class="contacts__mail">zakaz@bodysite.ru</a>
									<span class="contacts__mail-text"> — для новых обращений</span>
								</div>
								<div class="contacts__mail-item">
									<a href="mailto:support@bodysite.ru" class="contacts__mail">support@bodysite.ru</a>
									<span class="contacts__mail-text"> — поддержка клиентов</span>
								</div>
								<div class="contacts__mail-item">
									<a href="mailto:info@bodysite.ru" class="contacts__mail">info@bodysite.ru</a>
									<span class="contacts__mail-text"> — по общим вопросам</span>
								</div>
							</div>
							<div class="contacts__phones">
								<div class="contacts__title">Телефоны:</div>
								<a href="tel:+7(343)2887853" class="contacts__phones-number">+7 (343) 288-78-53</a>
							</div>
						</div>
						<div class="contacts__map-and-social">
								<div class="contacts__map">

									{#LOCAL MAP#}
									<div class="local-map">
										<div class="local-map__inner">
											<div class="local-map__button btn">
												<i class="local-map__button-icon"></i>
												<span class="local-map__button-text">География наших клиентов</span>
											</div>
										</div>
									</div>
									{#/LOCAL MAP#}

								</div>
								<div class="contacts__social">
									<div class="contacts__title">Мы в соцсетях:</div>
									<div class="contacts__icon-wrap">
										<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_vk"></a>
										<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_fb"></a>
										<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_inst"></a>
									</div>
								</div>
							</div>
					</div>
					{#EKB#}

					{#MSK#}
					<div class="contacts__location js-contacts-location" id="contacts-location_2">
						<div class="contacts__coordinates">
							<div class="contacts__address">
								<div class="contacts__title">Адрес:</div>
								<div class="contacts__address-place">г. Москва, ул. Азина, 24, оф. 907</div>
								<div class="contacts__address-working-hours">Пн-Пт, 10:00-19:00, перерыв 14:00-15:00</div>
							</div>
							<div class="contacts__mail-list">
								<div class="contacts__title">Электронная почта:</div>
								<div class="contacts__mail-item">
									<a href="mailto:zakaz@bodysite.ru" class="contacts__mail">zakaz@bodysite.ru</a>
									<span class="contacts__mail-text"> — для новых обращений</span>
								</div>
								<div class="contacts__mail-item">
									<a href="mailto:support@bodysite.ru" class="contacts__mail">support@bodysite.ru</a>
									<span class="contacts__mail-text"> — поддержка клиентов</span>
								</div>
								<div class="contacts__mail-item">
									<a href="mailto:info@bodysite.ru" class="contacts__mail">info@bodysite.ru</a>
									<span class="contacts__mail-text"> — по общим вопросам</span>
								</div>
							</div>
							<div class="contacts__phones">
								<div class="contacts__title">Телефоны:</div>
								<a href="tel:+7(343)2887853" class="contacts__phones-number">+7 (343) 288-78-53</a>
							</div>
						</div>
						<div class="contacts__map-and-social">
							<div class="contacts__map">

								{#LOCAL MAP#}
								<div class="local-map local-map_contacts">
									<div class="local-map__inner">
										<div class="local-map__button btn">
											<i class="local-map__button-icon"></i>
											<span class="local-map__button-text">География наших клиентов</span>
										</div>
									</div>
								</div>
								{#/LOCAL MAP#}

							</div>
							<div class="contacts__social">
								<div class="contacts__title">Мы в соцсетях:</div>
								<div class="contacts__icon-wrap"></div>
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_vk"></a>
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_fb"></a>
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_inst"></a>
							</div>
						</div>
					</div>
					{#MSK#}

					{#SPB#}
					<div class="contacts__location js-contacts-location" id="contacts-location_3">
						<div class="contacts__coordinates">
							<div class="contacts__address">
								<div class="contacts__title">Адрес:</div>
								<div class="contacts__address-place">г. Санкт-Петербург, ул. Азина, 24, оф. 907</div>
								<div class="contacts__address-working-hours">Пн-Пт, 10:00-19:00, перерыв 14:00-15:00</div>
							</div>
							<div class="contacts__mail-list">
								<div class="contacts__title">Электронная почта:</div>
								<div class="contacts__mail-item">
									<a href="mailto:zakaz@bodysite.ru" class="contacts__mail">zakaz@bodysite.ru</a>
									<span class="contacts__mail-text"> — для новых обращений</span>
								</div>
								<div class="contacts__mail-item">
									<a href="mailto:support@bodysite.ru" class="contacts__mail">support@bodysite.ru</a>
									<span class="contacts__mail-text"> — поддержка клиентов</span>
								</div>
								<div class="contacts__mail-item">
									<a href="mailto:info@bodysite.ru" class="contacts__mail">info@bodysite.ru</a>
									<span class="contacts__mail-text"> — по общим вопросам</span>
								</div>
							</div>
							<div class="contacts__phones">
								<div class="contacts__title">Телефоны:</div>
								<a href="tel:+7(343)2887853" class="contacts__phones-number">+7 (343) 288-78-53</a>
							</div>
						</div>
						<div class="contacts__map-and-social">
							<div class="contacts__map">

								{#LOCAL MAP#}
								<div class="local-map local-map_contacts">
									<div class="local-map__inner">
										<div class="local-map__button btn">
											<i class="local-map__button-icon"></i>
											<span class="local-map__button-text">География наших клиентов</span>
										</div>
									</div>
								</div>
								{#/LOCAL MAP#}

							</div>
							<div class="contacts__social">
								<div class="contacts__title">Мы в соцсетях:</div>
								<div class="contacts__icon-wrap">
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_vk"></a>
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_fb"></a>
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_inst"></a>
								</div>
							</div>
						</div>
					</div>
					{#SPB#}

					{#RUS#}
					<div class="contacts__location js-contacts-location" id="contacts-location_4">
						<div class="contacts__coordinates">
							<div class="contacts__address">
								<div class="contacts__title">Адрес:</div>
								<div class="contacts__address-place">г. Россия ;), ул. Азина, 24, оф. 907</div>
								<div class="contacts__address-working-hours">Пн-Пт, 10:00-19:00, перерыв 14:00-15:00</div>
							</div>
							<div class="contacts__mail-list">
								<div class="contacts__title">Электронная почта:</div>
								<div class="contacts__mail-item">
									<a href="mailto:zakaz@bodysite.ru" class="contacts__mail">zakaz@bodysite.ru</a>
									<span class="contacts__mail-text"> — для новых обращений</span>
								</div>
								<div class="contacts__mail-item">
									<a href="mailto:support@bodysite.ru" class="contacts__mail">support@bodysite.ru</a>
									<span class="contacts__mail-text"> — поддержка клиентов</span>
								</div>
								<div class="contacts__mail-item">
									<a href="mailto:info@bodysite.ru" class="contacts__mail">info@bodysite.ru</a>
									<span class="contacts__mail-text"> — по общим вопросам</span>
								</div>
							</div>
							<div class="contacts__phones">
								<div class="contacts__title">Телефоны:</div>
								<a href="tel:+7(343)2887853" class="contacts__phones-number">+7 (343) 288-78-53</a>
							</div>
						</div>
						<div class="contacts__map-and-social">
							<div class="contacts__map">

								{#LOCAL MAP#}
								<div class="local-map local-map_contacts">
									<div class="local-map__inner">
										<div class="local-map__button btn">
											<i class="local-map__button-icon"></i>
											<span class="local-map__button-text">География наших клиентов</span>
										</div>
									</div>
								</div>
								{#/LOCAL MAP#}

							</div>
							<div class="contacts__social">
								<div class="contacts__title">Мы в соцсетях:</div>
								<div class="contacts__icon-wrap">
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_vk"></a>
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_fb"></a>
									<a href="#" target="_blank" class="contacts__social-icon contacts__social-icon_inst"></a>
								</div>
							</div>
						</div>
					</div>
					{#RUS#}
				</div>

			</div>
		</div>
		<div class="contacts__global-map">
			<div class="contacts__global-map-inner" id="map"></div>
		</div>
	</div>
	{#/CONTACTS#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}

{% endblock %}

{% block userscripts %}
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

	<script type="text/javascript">
		(function() {
			ymaps.ready(function () {
				var myMap = new ymaps.Map('map', {
						center: [55.751574, 37.573856],
						zoom: 9
					}, {
						searchControlProvider: 'yandex#search'
					}),

					MyBalloonLayout = ymaps.templateLayoutFactory.createClass(
						'$[[options.contentLayout observeSize minWidth=370 maxWidth=220 maxHeight=116]]' +
						'</div>', {
							/**
							 * Строит экземпляр макета на основе шаблона и добавляет его в родительский HTML-элемент.
							 * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/layout.templateBased.Base.xml#build
							 * @function
							 * @name build
							 */
							build: function () {
								this.constructor.superclass.build.call(this);

								this._$element = $('.map-balloon', this.getParentElement());

								this.applyElementOffset();

								this._$element.find('.close')
									.on('click', $.proxy(this.onCloseClick, this));
							},

							clear: function () {
								this._$element.find('.close')
									.off('click');

								this.constructor.superclass.clear.call(this);
							},

							onSublayoutSizeChange: function () {
								MyBalloonLayout.superclass.onSublayoutSizeChange.apply(this, arguments);

								if(!this._isElement(this._$element)) {
									return;
								}

								this.applyElementOffset();

								this.events.fire('shapechange');
							},

							applyElementOffset: function () {
								this._$element.css({
									left: -(this._$element[0].offsetWidth / 2),
									top: -(this._$element[0].offsetHeight)
								});
							},

							onCloseClick: function (e) {
								e.preventDefault();
								this.events.fire('userclose');
							},

							getShape: function () {
								if(!this._isElement(this._$element)) {
									return MyBalloonLayout.superclass.getShape.call(this);
								}

								var position = this._$element.position();

								return new ymaps.shape.Rectangle(new ymaps.geometry.pixel.Rectangle([
									[position.left, position.top], [
										position.left + this._$element[0].offsetWidth,
										position.top + this._$element[0].offsetHeight
									]
								]));
							},

							_isElement: function (element) {
								return element && element[0];
							}
						});

				// Создание вложенного макета содержимого балуна.
				MyBalloonContentLayout = ymaps.templateLayoutFactory.createClass(
					'<div class="map-balloon">' +
					'<div class="map-balloon__content">' +
					'<p class="map-balloon__city">г. Екатеринбург</p>' +
					'<p class="map-balloon__address">ул. Азина, 24, оф. 907</p>' +
					'<p class="map-balloon__timetable">Пн-Пт, 10:00-19:00, перерыв 14:00-15:00</p>' +
					'</div>' +
					'</div>'
				);

				// Создание метки с пользовательским макетом балуна.
				myPlacemark = window.myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
					balloonHref: 'http://yandex.ru',
				}, {
					balloonShadow: false,
					balloonLayout: MyBalloonLayout,
					balloonContentLayout: MyBalloonContentLayout,
					balloonPanelMaxMapArea: 0,
					balloonOffset: [0, -27],
					iconLayout: 'default#image',
					iconImageHref: 'img/icon-map-marker.svg',
					iconImageSize: [35, 50],
					iconImageOffset: [-24, -24],
					iconContentOffset: [15, 15],
				});

				myMap.geoObjects.add(myPlacemark);
				myMap.behaviors.disable('scrollZoom');
			});
		})();
	</script>
{% endblock %}