{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Subscriber Advancement - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}

{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Абонентское продвижение</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon"></i>
					<span class="title-line__link-text">Отправить заявку</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item title-line__dropdown-item_active">Абонентское продвижение</a>
			<a href="#" class="title-line__dropdown-item">Разовая SEO-оптимизация</a>
			<a href="#" class="title-line__dropdown-item">Контекстная реклама</a>
			<a href="#" class="title-line__dropdown-item">Аудит</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Абонентское продвижение</a>
				<a href="#" class="nav-line__menu-item">Разовая SEO-оптимизация</a>
				<a href="#" class="nav-line__menu-item">Контекстная реклама</a>
				<a href="#" class="nav-line__menu-item">Аудит</a>
			</div>
			<a href="#" class="nav-line__return-link">
				<i class="nav-line__return-link-icon"></i>
				<span class="nav-line__return-link-text">Вернуться назад</span>
			</a>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#BACK LINE#}
	<a href="#" class="back-link">
		<i class="back-link__icon"></i>
		<span class="back-link__text">Вернуться назад</span>
	</a>
	{#/BACK LINE#}

	{#ADVANCEMENT#}
	<div class="advancement">
		{#SERVICE DESCRIPTION#}
		<div class="serv-desc advancement__serv-desc">
			<div class="serv-desc__container container">
				<div class="serv-desc__text">
					<div class="info-box">
						<p>Комплексное продвижение интернет-магазина по позициям и трафику, увеличение продаж либо раскрутка проекта с нуля. Задачи: Рост позиций и посещаемости, нацеленность на долговременный результат.</p>
					</div>
				</div>
				<div class="serv-desc__card">
					<div class="serv-desc__card-icon-wrap">
						<img src="img/icon-sale.svg" alt="" class="serv-desc__card-icon">
					</div>
					<div class="serv-desc__card-text-wrap">
						<p class="serv-desc__card-title">Скидка 15% на первый месяц продвижения</p>
						<div class="serv-desc__card-text">
							<div class="info-box">
								<p><b>Акция!</b> Скидка 15% при заказе <a href="#">интернет-магазина</a> или владельцам <a href="#">готовых решений</a>  нашей разработки.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{#/SERVICE DESCRIPTION#}


		{#VARIANTS OF COLLABORATION#}
		<div class="std-list advancement__std-list">
			<div class="std-list__container container">
				<h2 class="std-list__title">Тарифы на абонентское продвижение</h2>
				<div class="std-list__list">

					{#SERVICE ITEM#}
					<a href="#" class="std-card">
						<div class="std-card__icon-block">
							<div class="std-card__icon-wrap">
								<img src="img/icon-box.svg" alt="" class="std-card__icon">
							</div>
						</div>
						<div class="std-card__text-block">
							<p class="std-card__title">SEO-Лайт</p>
							<div class="std-card__table-block">
								<div class="std-card__table-row">
									<p class="std-card__table-left">Запросов</p>
									<p class="std-card__table-right">до 300</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Оптимизация разделов</p>
									<p class="std-card__table-right">5</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Ведение РК</p>
									<p class="std-card__table-right">Нет</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Часы на доработки</p>
									<p class="std-card__table-right">2</p>
								</div>
							</div>
							<p class="std-card__salary std-card__salary_tbl">15 000 руб/мес.</p>
							<p class="std-card__desc">Мин. срок договора: 6 мес.</p>
							<button class="std-card__button btn">Подробнее</button>
						</div>
					</a>
					{#/SERVICE ITEM#}

					{#SERVICE ITEM#}
					<a href="#" class="std-card">
						<div class="std-card__icon-block">
							<div class="std-card__icon-wrap">
								<img src="img/icon-box.svg" alt="" class="std-card__icon">
							</div>
						</div>
						<div class="std-card__text-block">
							<p class="std-card__title">SEO-Стандарт</p>
							<div class="std-card__table-block">
								<div class="std-card__table-row">
									<p class="std-card__table-left">Запросов</p>
									<p class="std-card__table-right">до 300</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Оптимизация разделов</p>
									<p class="std-card__table-right">5</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Ведение РК</p>
									<p class="std-card__table-right">Нет</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Часы на доработки</p>
									<p class="std-card__table-right">2</p>
								</div>
							</div>
							<p class="std-card__salary std-card__salary_tbl">25 000 руб/мес.</p>
							<p class="std-card__desc">Мин. срок договора: 6 мес.</p>
							<button class="std-card__button btn">Подробнее</button>
						</div>
					</a>
					{#/SERVICE ITEM#}

					{#SERVICE ITEM#}
					<a href="#" class="std-card">
						<div class="std-card__icon-block">
							<div class="std-card__icon-wrap">
								<img src="img/icon-box.svg" alt="" class="std-card__icon">
							</div>
						</div>
						<div class="std-card__text-block">
							<p class="std-card__title">SEO-Мега</p>
							<div class="std-card__table-block">
								<div class="std-card__table-row">
									<p class="std-card__table-left">Запросов</p>
									<p class="std-card__table-right">до 300</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Оптимизация разделов</p>
									<p class="std-card__table-right">5</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Ведение РК</p>
									<p class="std-card__table-right">Нет</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Часы на доработки</p>
									<p class="std-card__table-right">2</p>
								</div>
							</div>
							<p class="std-card__salary std-card__salary_tbl">35 000 руб/разово</p>
							<p class="std-card__desc">Мин. срок договора: 6 мес.</p>
							<button class="std-card__button btn">Подробнее</button>
						</div>
					</a>
					{#/SERVICE ITEM#}

					{#SERVICE ITEM#}
					<a href="#" class="std-card">
						<div class="std-card__icon-block">
							<div class="std-card__icon-wrap">
								<img src="img/icon-box.svg" alt="" class="std-card__icon">
							</div>
						</div>
						<div class="std-card__text-block">
							<p class="std-card__title">SEO-Триумф</p>
							<div class="std-card__table-block">
								<div class="std-card__table-row">
									<p class="std-card__table-left">Запросов</p>
									<p class="std-card__table-right">до 300</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Оптимизация разделов</p>
									<p class="std-card__table-right">5</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Ведение РК</p>
									<p class="std-card__table-right">Нет</p>
								</div>
								<div class="std-card__table-row">
									<p class="std-card__table-left">Часы на доработки</p>
									<p class="std-card__table-right">2</p>
								</div>
							</div>
							<p class="std-card__salary std-card__salary_tbl">55 000 руб/разово</p>
							<p class="std-card__desc">Мин. срок договора: 6 мес.</p>
							<button class="std-card__button btn">Подробнее</button>
						</div>
					</a>
					{#/SERVICE ITEM#}
				</div>
				<div class="std-list__link-wrap">
					<a href="#" class="std-list__link std-list__link_tariff {#btn#}">
						<i class="{#btn__icon#} std-list__btn-icon"></i>
						<span class="{#btn__text#} std-list__btn-text">Таблица сравнения тарифов</span>
					</a>
				</div>
			</div>
		</div>
		{#/VARIANTS OF COLLABORATION#}

		{#SERVICE DESCRIPTION#}
		<div class="serv-desc advancement__serv-desc">
			<div class="serv-desc__container container">
				<div class="serv-desc__card">
					<div class="serv-desc__card-icon-wrap">
						<img src="img/icon-ask.svg" alt="" class="serv-desc__card-icon">
					</div>
					<div class="serv-desc__card-text-wrap">
						<p class="serv-desc__card-title">Не нашли подходящий тариф?</p>
						<div class="serv-desc__card-text">
							<div class="info-box">
								<p>Возможность составления индивидуальных условий работы в зависимости от задачи и потребностей проекта</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{#/SERVICE DESCRIPTION#}

		{#TEXT BLOCK#}
		<div class="std-list advancement__std-list">
			<div class="std-list__container container">
				<h2 class="std-list__title">Ответы на частозадаваемые вопросы</h2>
				<div class="std-list__text">
					<div class="info-box">
						<ul>
							<li><b>Какие методы продвижения интернет-магазинов Вы используете?</b></li>
						</ul>
						<p>Мы используем все доступные белые методы продвижения, при этом основной акцент ставим на работу с внутренней оптимизацией сайта. А это: подготовка уникального контента, разработка нестандартной стратегии по захвату всех необходимых ключевых запросов, построение необходимой структуры каталога, использование собственных решений. При необходимости делаем разработку дополнительного функционала. У нас есть успешные кейсы и наработанная схема продвижения на основе поддоменов. Мы знаем, как научить поисковую систему «любить» Ваш сайт</p>
						<ul>
							<li><b>Вы даете гарантии на продвижение и сроки вывода в ТОП?</b></li>
						</ul>
						<p>Гарантий не даем. Мы стараемся не давать пустых обещаний. Наша гарантия – это наш опыт и результаты работ по предыдущим проектам. Ежемесячно Вы будете получать отчеты, по которым сможете проследить как рост позиций Вашего сайта в поисковой выдаче, так и ежемесячный прирост посетителей. Даже если результат не будет положительным, мы сообщим Вам об этом и предложим пути исправления ситуации, а не будем приукрашивать отчеты, подбирать «особые запросы» и показывать «особые достижения», как это делают компании с гарантией на продвижение.</p>
						<ul>
							<li><b>Какой срок вывода сайта в ТОП?</b></li>
						</ul>
						<p>У всех он индивидуальный. После выполнения аудита сайта мы можем дать лишь примерные сроки. Как правило, первые результаты начинают появляться спустя 2-3 месяца после выполнения работ.</p>
						<ul>
							<li><b>Что является результатом работ по продвижению?</b></li>
						</ul>
						<p>Результатом работ является положительная динамика по трём направлениям: позициям сайта в выдаче поисковых систем, посещаемости и заказам.</p>
					</div>
				</div>
			</div>
		</div>
		{#/TEXT BLOCK#}

		{#START WORK#}
		<div class="start-work advancement__start-work">
			<div class="start-work__container container">
				<h2 class="start-work__title">Схема работы</h2>
				<div class="start-work__list">
					<div class="start-work__item">
						<p class="start-work__item-text">
							Получение информации о проекте, задачах.
							Заключение договора и получение доступов к проекту
						</p>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Предоплата и план работ на месяц</p>
						<p class="start-work__item-text start-work__item-text_mobile">* Ежемесячно</p>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Выполнение работ</p>
						<p class="start-work__item-text start-work__item-text_mobile">* Ежемесячно</p>
						<div class="start-work__under-item">
							<p class="start-work__item-text">Ежемесячно</p>
							<div class="start-work__line-left">
								<div class="start-work__line-left-dot"></div>
							</div>
							<div class="start-work__line-right"></div>
						</div>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Предоставление отчета о выполненных работах и достижениях</p>
						<p class="start-work__item-text start-work__item-text_mobile">* Ежемесячно</p>
					</div>
				</div>
			</div>
		</div>
		{#/START WORK#}

		{#ADVANTAGES#}
		<div class="std-list std-list_responsive-slider advancement__std-list">
			<div class="std-list__container container">
				<h2 class="std-list__title">Преимущества работы с нами</h2>
				<div class="std-list__list">
					{#SERVICE CARD#}
					<a href="#" class="serv-card">
						<div class="serv-card__top">
							<div class="serv-card__icon-wrap">
								<img src="img/icon-checkboxes.svg" alt="" class="serv-card__icon">
							</div>
							<p class="serv-card__title">Доступность</p>
						</div>
						<p class="serv-card__desc">Стоимость разовой оптимизации для большинства проектов равна 18 000 рублей</p>
					</a>
					{#/SERVICE CARD#}

					{#SERVICE CARD#}
					<a href="#" class="serv-card">
						<div class="serv-card__top">
							<div class="serv-card__icon-wrap">
								<img src="img/icon-wallet.svg" alt="" class="serv-card__icon">
							</div>
							<p class="serv-card__title">Разовая оплата</p>
						</div>
						<p class="serv-card__desc">Единоразовая оплата работ за фиксированный ценник, без абонентской платы</p>
					</a>
					{#/SERVICE CARD#}

					{#SERVICE CARD#}
					<a href="#" class="serv-card">
						<div class="serv-card__top">
							<div class="serv-card__icon-wrap">
								<img src="img/icon-share.svg" alt="" class="serv-card__icon">
							</div>
							<p class="serv-card__title">Единые методы</p>
						</div>
						<p class="serv-card__desc">Методы и схема работы схожи с теми, которые выполняются при абонетском продвижении</p>
					</a>
					{#/SERVICE CARD#}

					{#SERVICE CARD#}
					<a href="#" class="serv-card">
						<div class="serv-card__top">
							<div class="serv-card__icon-wrap">
								<img src="img/icon-common-gear.svg" alt="" class="serv-card__icon">
							</div>
							<p class="serv-card__title">Разработки</p>
						</div>
						<p class="serv-card__desc">Возможность внедрения и настройки дополнительных плагинов в рамках услуги</p>
					</a>
					{#/SERVICE CARD#}

					{#SERVICE CARD#}
					<a href="#" class="serv-card">
						<div class="serv-card__top">
							<div class="serv-card__icon-wrap">
								<img src="img/icon-accept.svg" alt="" class="serv-card__icon">
							</div>
							<p class="serv-card__title">Результат</p>
						</div>
						<p class="serv-card__desc">Долговременный  и видимый результат в зависимости текущего состояния проекта</p>
					</a>
					{#/SERVICE CARD#}

					{#SERVICE CARD#}
					<a href="#" class="serv-card">
						<div class="serv-card__top">
							<div class="serv-card__icon-wrap">
								<img src="img/icon-speedo.svg" alt="" class="serv-card__icon">
							</div>
							<p class="serv-card__title">Тест-драйв</p>
						</div>
						<p class="serv-card__desc">Услуга дает возможность опробовать результат работы с нами</p>
					</a>
					{#/SERVICE CARD#}
				</div>
				<div class="std-list__list std-list__list_response js-advantages-response-slider">

					<div class="std-list__item">
						{#SERVICE CARD#}
						<a href="#" class="serv-card">
							<div class="serv-card__top">
								<div class="serv-card__icon-wrap">
									<img src="img/icon-checkboxes.svg" alt="" class="serv-card__icon">
								</div>
								<p class="serv-card__title">Доступность</p>
							</div>
							<p class="serv-card__desc">Стоимость разовой оптимизации для большинства проектов равна 18 000 рублей</p>
						</a>
						{#/SERVICE CARD#}

						{#SERVICE CARD#}
						<a href="#" class="serv-card">
							<div class="serv-card__top">
								<div class="serv-card__icon-wrap">
									<img src="img/icon-wallet.svg" alt="" class="serv-card__icon">
								</div>
								<p class="serv-card__title">Разовая оплата</p>
							</div>
							<p class="serv-card__desc">Единоразовая оплата работ за фиксированный ценник, без абонентской платы</p>
						</a>
						{#/SERVICE CARD#}
					</div>

					<div class="std-list__item">
						{#SERVICE CARD#}
						<a href="#" class="serv-card">
							<div class="serv-card__top">
								<div class="serv-card__icon-wrap">
									<img src="img/icon-share.svg" alt="" class="serv-card__icon">
								</div>
								<p class="serv-card__title">Единые методы</p>
							</div>
							<p class="serv-card__desc">Методы и схема работы схожи с теми, которые выполняются при абонетском продвижении</p>
						</a>
						{#/SERVICE CARD#}

						{#SERVICE CARD#}
						<a href="#" class="serv-card">
							<div class="serv-card__top">
								<div class="serv-card__icon-wrap">
									<img src="img/icon-common-gear.svg" alt="" class="serv-card__icon">
								</div>
								<p class="serv-card__title">Разработки</p>
							</div>
							<p class="serv-card__desc">Возможность внедрения и настройки дополнительных плагинов в рамках услуги</p>
						</a>
						{#/SERVICE CARD#}
					</div>

					<div class="std-list__item">
						{#SERVICE CARD#}
						<a href="#" class="serv-card">
							<div class="serv-card__top">
								<div class="serv-card__icon-wrap">
									<img src="img/icon-accept.svg" alt="" class="serv-card__icon">
								</div>
								<p class="serv-card__title">Результат</p>
							</div>
							<p class="serv-card__desc">Долговременный  и видимый результат в зависимости текущего состояния проекта</p>
						</a>
						{#/SERVICE CARD#}

						{#SERVICE CARD#}
						<a href="#" class="serv-card">
							<div class="serv-card__top">
								<div class="serv-card__icon-wrap">
									<img src="img/icon-speedo.svg" alt="" class="serv-card__icon">
								</div>
								<p class="serv-card__title">Тест-драйв</p>
							</div>
							<p class="serv-card__desc">Услуга дает возможность опробовать результат работы с нами</p>
						</a>
						{#/SERVICE CARD#}
					</div>
				</div>
			</div>
		</div>
		{#/ADVANTAGES#}

		{#DEVELOPMENT#}
		<div class="std-list advancement__std-list">
			<div class="std-list__container container">
				<h2 class="std-list__title">Наши разработки</h2>
				<div class="std-list__list js-advantages-response-slider">
					{#DEVELOPMENT CARD#}
					<div class="dev-card">
						<a href="#" class="dev-card__img-wrap">
							<img src="img/develop-img-5.png" alt="" class="dev-card__img">
						</a>
						<div class="dev-card__text-wrap">
							<div class="dev-card__title-wrap">
								<a href="#" class="dev-card__title">Плагин SEO-оптимизация</a>
							</div>
							<p class="dev-card__desc">Плагин для быстрой, управляемой оптимизации основных страниц интернет-магазина</p>
						</div>
					</div>
					{#/DEVELOPMENT CARD#}

					{#DEVELOPMENT CARD#}
					<div class="dev-card">
						<a href="#" class="dev-card__img-wrap">
							<img src="img/develop-img-1.png" alt="" class="dev-card__img">
						</a>
						<div class="dev-card__text-wrap">
							<div class="dev-card__title-wrap">
								<a href="#" class="dev-card__title">Плагин SEO-фильтр</a>
							</div>
							<p class="dev-card__desc">Плагин для продвижения по самым продающим низкочастотным запросам</p>
						</div>
					</div>
					{#/DEVELOPMENT CARD#}

					{#DEVELOPMENT CARD#}
					<div class="dev-card">
						<a href="#" class="dev-card__img-wrap">
							<img src="img/develop-img-3.png" alt="" class="dev-card__img">
						</a>
						<div class="dev-card__text-wrap">
							<div class="dev-card__title-wrap">
								<a href="#" class="dev-card__title">Плагин SEO-регионы</a>
							</div>
							<p class="dev-card__desc">Плагин для быстрой, управляемой оптимизации основных страниц интернет-магазина</p>
						</div>
					</div>
					{#/DEVELOPMENT CARD#}

					{#DEVELOPMENT CARD#}
					<div class="dev-card">
						<a href="#" class="dev-card__img-wrap">
							<img src="img/develop-img-4.png" alt="" class="dev-card__img">
						</a>
						<div class="dev-card__text-wrap">
							<div class="dev-card__title-wrap">
								<a href="#" class="dev-card__title">Last-Modified</a>
							</div>
							<p class="dev-card__desc">Быстрая настройка заголовков Last-Modified и If-Modified-Since</p>
						</div>
					</div>
					{#/DEVELOPMENT CARD#}

					{#DEVELOPMENT CARD#}
					<div class="dev-card">
						<a href="#" class="dev-card__img-wrap">
							<img src="img/develop-img-2.png" alt="" class="dev-card__img">
						</a>
						<div class="dev-card__text-wrap">
							<div class="dev-card__title-wrap">
								<a href="#" class="dev-card__title">Link canonical</a>
							</div>
							<p class="dev-card__desc">Плагин поможет избавиться от дублированного контента</p>
						</div>
					</div>
					{#/DEVELOPMENT CARD#}

					{#DEVELOPMENT CARD#}
					<div class="dev-card">
						<a href="#" class="dev-card__img-wrap">
							<img src="img/develop-img-6.png" alt="" class="dev-card__img">
						</a>
						<div class="dev-card__text-wrap">
							<div class="dev-card__title-wrap">
								<a href="#" class="dev-card__title">SEO-редиректы</a>
							</div>
							<p class="dev-card__desc">Продвинутый менеджер редиректов из админки сайта</p>
						</div>
					</div>
					{#/DEVELOPMENT CARD#}
				</div>
			</div>
		</div>
		{#/DEVELOPMENT#}

		{#PORTFOLIO#}
		<div class="portfolio advancement__portfolio">
			<div class="portfolio__container container">
				<h2 class="portfolio__title">Реализованные проекты и кейсы</h2>
				<div class="portfolio__list js-advantages-response-slider">
					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_light" style="background: #1F9BD7;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-autosvet.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Интернет-магазин автоаксессуаров</p>
							<p class="portfolio-card__site-name">Автосвет 96</p>
						</div>
						<p class="portfolio-card__time">2009 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}

					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_dark" style="background: #F6F6F6;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-uik.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Интернет-магазин строительных материалов</p>
							<p class="portfolio-card__site-name">УИК</p>
						</div>
						<p class="portfolio-card__time">2015 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}

					{#PORTFOLIO ITEM#}
					<a href="#" class="portfolio-card portfolio-card_dark" style="background: #FFB400;">
						<div class="portfolio-card__logo-wrap">
							<img src="images/logo-mustang.svg" alt="" class="portfolio-card__logo">
						</div>
						<div class="portfolio-card__desc-wrap">
							<p class="portfolio-card__desc">Корпоративный сайт группы интернет-магазинов</p>
							<p class="portfolio-card__site-name">Mustang Group</p>
						</div>
						<p class="portfolio-card__time">2012 - н.в</p>
					</a>
					{#/PORTFOLIO ITEM#}

				</div>
				<div class="portfolio__button-wrap">
					<a href="#" class="portfolio__button btn">
						<span class="btn__text">Все проекты</span>
						<i class="btn__icon btn__icon_right"></i>
					</a>
				</div>
			</div>
		</div>
		{#/PORTFOLIO#}

		{#REVIEWS#}
		<div class="reviews advancement__reviews">
			<div class="reviews__container container">
				<h2 class="reviews__title">Отзывы клиентов</h2>
				<div class="reviews__list">

					{#ITEM#}
					<a href="#" class="reviews__item">
						{#TOP#}
						<div class="reviews__item-top">
							<div class="reviews__item-rating-wrap">
								<div class="reviews__item-rating reviews__item-rating_5">
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
								</div>
								<div class="reviews__item-source">
									<p class="reviews__item-source-text">Источник</p>
									<p class="reviews__item-source-itself">Webasyst.ru</p>
								</div>
							</div>
							<div class="reviews__item-content">
								<div class="reviews__item-content-top">
									<div class="reviews__item-author">
										<div class="reviews__item-author-img" style="background-image: url(images/account.jpg)"></div>
										<p class="reviews__item-author-name">Алексей Сергеев</p>
									</div>
									<div class="reviews__item-source">
										<p class="reviews__item-source-text">Источник</p>
										<p class="reviews__item-source-itself">Webasyst.ru</p>
									</div>
								</div>
								<div class="reviews__item-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
								</div>
								<div class="reviews__item-info">
									<p class="reviews__item-info-date">23 июня 2017 г.</p>
									<p class="reviews__item-info-time">18:00</p>
									<p class="reviews__item-info-city">г. Екатеринбург</p>
								</div>
							</div>
						</div>
						{#/TOP#}

						{#BOTTOM#}
						<div class="reviews__item-bottom">
							<div class="reviews__item-content">
								<div class="reviews__item-content-top">
									<div class="reviews__item-author">
										<div class="reviews__item-author-img"></div>
										<p class="reviews__item-author-name">Bodysite</p>
									</div>
								</div>
								<div class="reviews__item-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
								</div>
								<div class="reviews__item-info">
									<p class="reviews__item-info-date">23 июня 2017 г.</p>
									<p class="reviews__item-info-time">18:00</p>
									<p class="reviews__item-info-city">г. Екатеринбург</p>
								</div>
							</div>
						</div>
						{#/BOTTOM#}
					</a>
					{#/ITEM#}

					{#ITEM#}
					<a href="#" class="reviews__item">
						{#TOP#}
						<div class="reviews__item-top">
							<div class="reviews__item-rating-wrap">
								<div class="reviews__item-rating reviews__item-rating_4">
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
									<div class="reviews__item-rating-star"></div>
								</div>
								<div class="reviews__item-source">
									<p class="reviews__item-source-text">Источник</p>
									<p class="reviews__item-source-itself">Webasyst.ru</p>
								</div>
							</div>
							<div class="reviews__item-content">
								<div class="reviews__item-content-top">
									<div class="reviews__item-author">
										<div class="reviews__item-author-img" style="background-image: url(images/account.jpg)"></div>
										<p class="reviews__item-author-name">Алексей Сергеев</p>
									</div>
									<div class="reviews__item-source">
										<p class="reviews__item-source-text">Источник</p>
										<p class="reviews__item-source-itself">Webasyst.ru</p>
									</div>
								</div>
								<div class="reviews__item-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
								</div>
								<div class="reviews__item-info">
									<p class="reviews__item-info-date">23 июня 2017 г.</p>
									<p class="reviews__item-info-time">18:00</p>
									<p class="reviews__item-info-city">г. Екатеринбург</p>
								</div>
							</div>
						</div>
						{#/TOP#}

						{#BOTTOM#}
						<div class="reviews__item-bottom">
							<div class="reviews__item-content">
								<div class="reviews__item-content-top">
									<div class="reviews__item-author">
										<div class="reviews__item-author-img"></div>
										<p class="reviews__item-author-name">Bodysite</p>
									</div>
								</div>
								<div class="reviews__item-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
								</div>
								<div class="reviews__item-info">
									<p class="reviews__item-info-date">23 июня 2017 г.</p>
									<p class="reviews__item-info-time">18:00</p>
									<p class="reviews__item-info-city">г. Екатеринбург</p>
								</div>
							</div>
						</div>
						{#/BOTTOM#}
					</a>
					{#/ITEM#}
				</div>
				<div class="reviews__button-wrap">
					<a href="#" class="return__button btn">
						<span class="btn__text">Все отзывы</span>
						<i class="btn__icon btn__icon_right"></i>
					</a>
				</div>
			</div>
		</div>
		{#/REVIEWS#}

		{#START WORK#}
		<div class="start-work advancement__start-work">
			<div class="start-work__container container">
				<h2 class="start-work__title">Как начать работу?</h2>
				<div class="start-work__list">
					<div class="start-work__item">
						<p class="start-work__item-text">
							Связаться с нами
							<a href="mailto:zakaz@bodysite.ru" class="start-work__item-text-link">zakaz@bodysite.ru</a>
							или с помощью формы обратной связи
						</p>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Предоставить реквизиты компании или данные физического лица</p>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Предоставить доступы к административной панели</p>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Предоставить список 10-и приоритетных разделов</p>
					</div>
				</div>
			</div>
		</div>
		{#/START WORK#}

		{#CHECKOUT FORM#}
		<div class="checkout-form advancement__order">
			<div class="checkout-form__container container">
				<h2 class="checkout-form__title">Оформить заказ</h2>
				<div class="checkout-form__content">
					{#ORDER FORM#}
					<div class="order">
						<div class="order__form">
							<div class="form">
								<form>
									<div class="order__form-top">
										<div class="order__form-main-part">
											<div class="form__input-holder">
												<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
											</div>
											<div class="form__input-holder">
												<input type="text" class="form__input" placeholder="Укажите ваш телефон">
											</div>
											<div class="form__input-holder">
												<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
											</div>
										</div>

										<div class="order__form-upload-wrap js-add-file-wrap">
											<i class="order__form-upload-icon"></i>
											<div class="order__form-upload-name js-file-name">Загрузите файл</div>
											<div class="order__form-upload">
												<button class="order__form-upload-button js-file-button"></button>
												<input type="file" class="order__form-upload-input js-file-input">
											</div>
										</div>

									</div>
									<div class="form__textarea-holder">
										<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
									</div>
									<div class="order__form-personal">
										<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
										<p class="order__form-personal-text">
											Согласен с обработкой персональных данных в соответсвии с
											<a href="#" class="order__form-personal-link">Условиями</a>
										</p>
									</div>
									<div class="order__form-button-wrap">
										<button type="submit" class="form__submit btn btn_orange">Отправить</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					{#/ORDER FORM#}
				</div>

				{#RESPONSIVE LINK#}
				<div class="checkout-form__link-wrap">
					<a href="#" class="checkout-form__link">
						<i class="checkout-form__link-icon"></i>
						<p class="checkout-form__link-text">Отправить заявку</p>
					</a>
				</div>
				{#/RESPONSIVE LINK#}
			</div>
		</div>
		{#/CHECKOUT FORM#}

		{#MAIL ORDER#}
		<div class="mail-order advancement__mail-order">
			<div class="mail-order__container container">
				<p class="mail-order__title">Оформить заказ по электронной почте:</p>
				<div class="mail-order__link-wrap">
					<a href="mailto:zakaz@bodysite.ru" class="mail-order__link">zakaz@bodysite.ru</a>
				</div>
				<p class="mail-order__title">Оформить заказ по телефону:</p>
				<div class="mail-order__list">
					<div class="mail-order__item">
						<div class="mail-order__item-img-wrap">
							<img src="img/icon-logo-ekb.svg" alt="" class="mail-order__item-img">
						</div>
						<p class="mail-order__item-title">Екатеринбург</p>
						<div class="mail-order__item-phone-wrap">
							<a href="tel:+73432887853" class="mail-order__item-phone">+7 (343) 288-78-53</a>
						</div>
						<p class="mail-order__item-desc">Пн-Пт, 10:00-19:00, перерыв 14:00-15:00</p>
					</div>

					<div class="mail-order__item">
						<div class="mail-order__item-img-wrap">
							<img src="img/icon-logo-msk.svg" alt="" class="mail-order__item-img">
						</div>
						<p class="mail-order__item-title">Москва</p>
						<div class="mail-order__item-phone-wrap">
							<a href="tel:+74991107225" class="mail-order__item-phone">+7 (499) 110-72-25</a>
						</div>
						<p class="mail-order__item-desc">Пн-Пт, 08:00-17:00, перерыв 12:00-13:00</p>
					</div>

					<div class="mail-order__item">
						<div class="mail-order__item-img-wrap">
							<img src="img/icon-logo-spb.svg" alt="" class="mail-order__item-img">
						</div>
						<p class="mail-order__item-title">Санкт-Петербург</p>
						<div class="mail-order__item-phone-wrap">
							<a href="tel:+78125096628" class="mail-order__item-phone">+7 (812) 509-66-28</a>
						</div>
						<p class="mail-order__item-desc">Пн-Пт, 08:00-17:00, перерыв 12:00-13:00</p>
					</div>
				</div>
			</div>
		</div>
		{#/MAIL ORDER#}


		{#LOCAL MAP#}
		<div class="adv-map">
			<div class="adv-map__container container">
				<div class="local-map">
					<div class="local-map__inner">
						<div class="local-map__button btn">
							<i class="local-map__button-icon"></i>
							<span class="local-map__button-text">География наших клиентов</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{#/LOCAL MAP#}
	</div>
	{#/ADVANCEMENT#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}
{% endblock %}
