{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Service - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Услуги</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon"></i>
					<span class="title-line__link-text">Отправить заявку</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item">Разработка</a>
			<a href="#" class="title-line__dropdown-item">Продвижение</a>
			<a href="#" class="title-line__dropdown-item">Поддержка</a>
			<a href="#" class="title-line__dropdown-item">Наполнение интернет-магазинов</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item">Разработка</a>
				<a href="#" class="nav-line__menu-item">Продвижение</a>
				<a href="#" class="nav-line__menu-item">Поддержка</a>
				<a href="#" class="nav-line__menu-item">Наполнение интернет-магазинов</a>
			</div>
		</div>
	</div>
	{#/NAVIGATION LINE#}



	{#SERVICES#}
	<div class="std-list services__std-list">
		<div class="std-list__container container">
			<div class="std-list__list">
				{#SERVICE ITEM#}
				<a href="#" class="std-card">
					<div class="std-card__icon-block">
						<div class="std-card__icon-wrap">
							<img src="img/icon-common-gear.svg" alt="" class="std-card__icon">
						</div>
					</div>
					<div class="std-card__text-block">
						<p class="std-card__title">Разработка</p>
						<p class="std-card__desc">Проектирование и реализация индивидуальных решений, разработка мобильных версий, интеграция с 1С, соцсетями.</p>
						<p class="std-card__salary">от 50 000 руб/мес.</p>
						<button class="std-card__button btn">Подробнее</button>
					</div>
				</a>
				{#/SERVICE ITEM#}

				{#SERVICE ITEM#}
				<a href="#" class="std-card">
					<div class="std-card__icon-block">
						<div class="std-card__icon-wrap">
							<img src="img/icon-common-statistic.svg" alt="" class="std-card__icon">
						</div>
						<div class="std-card__tag std-card__tag_top">топ</div>
					</div>
					<div class="std-card__text-block">
						<p class="std-card__title">Продвижение</p>
						<p class="std-card__desc">Проектирование и реализация индивидуальных решений, разработка мобильных версий, интеграция с 1С, соцсетями.</p>
						<p class="std-card__salary">от 50 000 руб/мес.</p>
						<button class="std-card__button btn">Подробнее</button>
					</div>
				</a>
				{#/SERVICE ITEM#}

				{#SERVICE ITEM#}
				<a href="#" class="std-card">
					<div class="std-card__icon-block">
						<div class="std-card__icon-wrap">
							<img src="img/icon-common-message.svg" alt="" class="std-card__icon">
						</div>
					</div>
					<div class="std-card__text-block">
						<p class="std-card__title">Поддержка</p>
						<p class="std-card__desc">Проектирование и реализация индивидуальных решений, разработка мобильных версий, интеграция с 1С, соцсетями.</p>
						<p class="std-card__salary">от 50 000 руб/мес.</p>
						<button class="std-card__button btn">Подробнее</button>
					</div>
				</a>
				{#/SERVICE ITEM#}

				{#SERVICE ITEM#}
				<a href="#" class="std-card">
					<div class="std-card__icon-block">
						<div class="std-card__icon-wrap">
							<img src="img/icon-box.svg" alt="" class="std-card__icon">
						</div>
					</div>
					<div class="std-card__text-block">
						<p class="std-card__title">Наполнение </p>
						<p class="std-card__desc">Проектирование и реализация индивидуальных решений, разработка мобильных версий, интеграция с 1С, соцсетями.</p>
						<p class="std-card__salary">от 50 000 руб/мес.</p>
						<button class="std-card__button btn">Подробнее</button>
					</div>
				</a>
				{#/SERVICE ITEM#}
			</div>
		</div>
	</div>
	{#/SERVICES#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}
{% endblock %}
