{% extends 'parts/layout.twig' %}

{% block title %}
	<title> Tariff - BodySite</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header" id="header">

		{#BURGER#}
		<a href="#" class="header__burger js-header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}

		{#MAIN PART#}
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="img/logo.svg" alt="" class="header__logo-img">
			</a>

			<div class="header__main-part">
				<nav class="header__nav">
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link header__nav-item-link_active">Услуги</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Продукты</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Портфолио</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Отзывы</a>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Блог</a>
						<div class="header__blog-notification">2</div>
					</div>
					<div class="header__nav-item">
						<a href="#" class="header__nav-item-link">Контакты</a>
					</div>
				</nav>
				<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
				<div class="header__user-wrap header__user-wrap_login js-user-dropdown-link-parent">
					<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2" style="background-image: url(images/account.jpg)"></a>
					{#USER DROPDOWN#}
					<div class="user-dropdown js-user-dropdown">
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
								<span class="user-dropdown__link-text">Вход в личный кабинет</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
								<span class="user-dropdown__link-text">Написать в техподдержку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
								<span class="user-dropdown__link-text">Отправить заявку</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
								<span class="user-dropdown__link-text">Помощь</span>
							</a>
						</div>
						<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
							<a href="#" class="user-dropdown__link">
								<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
								<span class="user-dropdown__link-text">Выйти</span>
							</a>
						</div>
					</div>
					{#/USER DROPDOWN#}
				</div>
			</div>
		</div>
		{#/MAIN PART#}

	</header>
	{#/HEADER#}
{% endblock %}

{% block content %}
	{#TITLE LINE#}
	<div class="title-line js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Абонентское продвижение</h1>
			<div class="title-line__link-wrap">
				<a href="#" class="title-line__link">
					<i class="title-line__link-icon"></i>
					<span class="title-line__link-text">Отправить заявку</span>
				</a>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown js-menu-dropdown">
			<a href="#" class="title-line__dropdown-item title-line__dropdown-item_active">Абонентское продвижение</a>
			<a href="#" class="title-line__dropdown-item">Разовая SEO-оптимизация</a>
			<a href="#" class="title-line__dropdown-item">Контекстная реклама</a>
			<a href="#" class="title-line__dropdown-item">Аудит</a>
		</div>
	</div>
	{#/TITLE LINE#}

	{#NAVIGATION LINE#}
	<div class="nav-line">
		<div class="nav-line__container container">
			<div class="nav-line__menu">
				<a href="#" class="nav-line__menu-item nav-line__menu-item_active">Абонентское продвижение</a>
				<a href="#" class="nav-line__menu-item">Разовая SEO-оптимизация</a>
				<a href="#" class="nav-line__menu-item">Контекстная реклама</a>
				<a href="#" class="nav-line__menu-item">Аудит</a>
			</div>
			<a href="#" class="nav-line__return-link">
				<i class="nav-line__return-link-icon"></i>
				<span class="nav-line__return-link-text">Вернуться назад</span>
			</a>
		</div>
	</div>
	{#/NAVIGATION LINE#}

	{#BACK LINE#}
	<a href="#" class="back-link">
		<i class="back-link__icon"></i>
		<span class="back-link__text">Вернуться назад</span>
	</a>
	{#/BACK LINE#}

	{#TABLE#}
	<div class="table container">

		<p class="table__title">Таблица сравнения тарифов</p>
		<div class="table__block">
			<div class="table__item-wrap table__item-wrap_caption">
				<div class="table__item table__item_caption">Услуги</div>
				<div class="table__item table__item_caption">SEO-Лайт</div>
				<div class="table__item table__item_caption">SEO-Стандарт</div>
				<div class="table__item table__item_caption">SEO-Мега</div>
				<div class="table__item table__item_caption">SEO-Триумф</div>
			</div>
			<div class="table__item-wrap">
				<p class="table__item">Абонентская плата в месяц, руб.</p>
				<div class="table__item">15 000</div>
				<div class="table__item">25 000</div>
				<div class="table__item">35 000</div>
				<div class="table__item">55 000</div>
			</div>
		</div>

		{#TABLE BLOCK#}
		<p class="table__block-title">
			Аудит и поисковая оптимизация,
			подготовка проекта к работе
		</p>
		<div class="table__block">
			<div class="table__item-block">
				<div class="table__item-wrap">
					<div class="table__item">Количество продвигаемых запросов <sup class="table__number">1</sup></div>
					<div class="table__item">До 300</div>
					<div class="table__item">До 500</div>
					<div class="table__item">До 1000</div>
					<div class="table__item">До 2000</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Поисковые системы <sup class="table__number">2</sup></div>
					<div class="table__item">Яндекс, Google</div>
					<div class="table__item">Яндекс, Google</div>
					<div class="table__item">Яндекс, Google</div>
					<div class="table__item">Яндекс, Google</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Проведение комплексного аудита сайта</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Исправление ошибок на сайте, выявленных при техническом аудите сайта</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Подбор запросов и составление семантического ядра</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Разработка стратегии продвижения</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
			</div>
		</div>
		{#TABLE BLOCK#}

		{#TABLE BLOCK#}
		<div class="table__block">
			<p class="table__block-title">
				Внедрение разработок
			</p>
			<div class="table__item-block">
				<div class="table__item-wrap">
					<div class="table__item">Бесплатное внедрение и настройка плагина «SEO-оптимизация»</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Бесплатное внедрение и настройка плагина «SEO-фильтр»</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Региональное продвижение <sup class="table__number">3</sup>. Бесплатное внедрение и настройка плагина «SEO-регионы»</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Бесплатное внедрение и настройка плагина «HTML-карта сайта»</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Бесплатное внедрение и настройка плагина «Last-Modified»</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Бесплатное внедрение и настройка плагина «Last-Modified»</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Бесплатное внедрение и настройка плагина «SEO-редиректы»</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
			</div>
		</div>
		{#TABLE BLOCK#}

		{#TABLE BLOCK#}
		<div class="table__block">
			<p class="table__block-title">
				Внедрение и настройка систем веб-аналитики
			</p>
			<div class="table__item-block">
				<div class="table__item-wrap">
					<div class="table__item">Подключение и настройка Яндекс.Метрики или Google.Analyitics</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Настройка целей в Яндекс.Метрике или Google.Analyitics</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Подключение «Электронной коммерции» для Яндекс.Метрики или Google.Analyitics</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
			</div>
		</div>
		{#TABLE BLOCK#}

		{#TABLE BLOCK#}
		<div class="table__block">
			<p class="table__block-title">
				Ежемесячные работы, начиная со 2-го месяца продвижения
			</p>
			<div class="table__item-block">
				<div class="table__item-wrap">
					<div class="table__item">Максимальное количество оптимизируемых разделов в месяц <sup class="table__number">4</sup></div>
					<div class="table__item">5</div>
					<div class="table__item">10</div>
					<div class="table__item">15</div>
					<div class="table__item">25</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Обновление информации, добавление статей либо новостей. Информация предоставляется Заказчиком</div>
					<div class="table__item">3</div>
					<div class="table__item">6</div>
					<div class="table__item">12</div>
					<div class="table__item">30</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Проведение технического аудита сайта, корректировка стратегии продвижения</div>
					<div class="table__item">По запросу, не чаще чем 1 раз в 6 месяцев</div>
					<div class="table__item">По запросу, не чаще чем 1 раз в квартал</div>
					<div class="table__item">По запросу, не чаще чем раз в месяц</div>
					<div class="table__item">По запросу, не чаще чем раз в месяц</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Ежемесячный отчет о проделанных работах, отчет по позициям и трафику</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Сравнительный отчет по видимости по конкурентам</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Аудит коммерческих факторов ранжирования</div>
					<div class="table__item">да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Работы по улучшению поведенческих факторов</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Работа с внешними факторами</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
				</div>
			</div>
		</div>
		{#TABLE BLOCK#}

		{#TABLE BLOCK#}
		<div class="table__block">
			<p class="table__block-title">
				Контекстная реклама и Яндекс.Маркет
			</p>
			<div class="table__item-block">
				<div class="table__item-wrap">
					<div class="table__item">Единоразовая разработка рекламной кампании в Яндекс.Директ или Google.Adwords</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да, до 500 ключевых фраз (на поиске)</div>
					<div class="table__item">Да, до 1000 ключевых фраз (на поиске)</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Ведение рекламной кампании <sup class="table__number">5</sup></div>
					<div class="table__item"><a href="#" class="table__a">По тарифам ведения КР</a></div>
					<div class="table__item"><a href="#" class="table__a">По тарифам ведения КР</a></div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Подключение Яндекс.Маркета <sup class="table__number">6</sup></div>
					<div class="table__item">Нет</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
			</div>
		</div>
		{#TABLE BLOCK#}

		{#TABLE BLOCK#}
		<div class="table__block">
			<p class="table__block-title">
				Дополнительные привилегии и часы на доработки
			</p>
			<div class="table__item-block">
				<div class="table__item-wrap">
					<div class="table__item">Время реакции на обращения</div>
					<div class="table__item">До 8 часов</div>
					<div class="table__item">До 8 часов</div>
					<div class="table__item">До 5 часов</div>
					<div class="table__item">До 3 часов</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Включено нормо-часов специалиста (программист, верстальщик)</div>
					<div class="table__item">2</div>
					<div class="table__item">3</div>
					<div class="table__item">3</div>
					<div class="table__item">4</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Предоставление персонального менеджера</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
					<div class="table__item">Да</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Скидка клиенту на доработки по программной части <sup class="table__number">7</sup></div>
					<div class="table__item">5%</div>
					<div class="table__item">6%</div>
					<div class="table__item">7%</div>
					<div class="table__item">10%</div>
				</div>
				<div class="table__item-wrap">
					<div class="table__item">Абонентская плата в месяц, руб.</div>
					<div class="table__item">15 000</div>
					<div class="table__item">25 000</div>
					<div class="table__item">35 000</div>
					<div class="table__item">55 000</div>
				</div>
			</div>
		</div>
		{#TABLE BLOCK#}

		{#FOOTNOTE#}
		<div class="table__footnote">
			<p class="table__footnote-item">
				<sup class="table__number">1</sup>  – Максимальное количество запросов, которые фиксируются в отчете и по которым отслеживается динамика.
			</p>
			<p class="table__footnote-item">
				<sup class="table__number">2</sup> – Поисковые системы, чьи рекомендации и алгоритмы учитываются при выполнении работ.
			</p>
			<p class="table__footnote-item">
				<sup class="table__number">3</sup> – Возможность продвижения по нескольким регионам.
			</p>
			<p class="table__footnote-item">
				<sup class="table__number">4</sup> – Включает: анализ запросов, подготовка и написание уникального контента, размещение информации, составление персональных мета-тегов и прочие доработки страницы.
			</p>
			<p class="table__footnote-item">
				<sup class="table__number">5</sup> – Ведение рекламных кампании осуществляется только на аккаунте рекламного кабинета компании «BodySite». Ежемесячный бюджет не более 30 000 рублей.
			</p>
			<p class="table__footnote-item">
				<sup class="table__number">6</sup> – Стоимость размещения оплачивается дополнительно.
			</p>
			<p class="table__footnote-item">
				<sup class="table__number">7</sup> – Скидка может быть предоставлена на услуги: доработка функционала, разработка интернет-магазина, приобретение готовых решений разработанных Исполнителем, услуги контент-менеджера и наполнения интернет-магазина.
			</p>
		</div>
		{#/FOOTNOTE#}


	</div>
	{#TABLE#}

	{#ADVANCEMENT#}
	<div class="advancement">

		{#START WORK#}
		<div class="start-work advancement__start-work">
			<div class="start-work__container container">
				<h2 class="start-work__title">Как начать работу?</h2>
				<div class="start-work__list">
					<div class="start-work__item">
						<p class="start-work__item-text">
							Связаться с нами
							<a href="mailto:zakaz@bodysite.ru" class="start-work__item-text-link">zakaz@bodysite.ru</a>
							или с помощью формы обратной связи
						</p>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Предоставить реквизиты компании или данные физического лица</p>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Предоставить доступы к административной панели</p>
					</div>

					<div class="start-work__item">
						<p class="start-work__item-text">Предоставить список 10-и приоритетных разделов</p>
					</div>
				</div>
			</div>
		</div>
		{#/START WORK#}

		{#CHECKOUT FORM#}
		<div class="checkout-form advancement__order">
			<div class="checkout-form__container container">
				<h2 class="checkout-form__title">Оформить заказ</h2>
				<div class="checkout-form__content">
					{#ORDER FORM#}
					<div class="order">
						<div class="order__form">
							<div class="form">
								<form>
									<div class="order__form-top">
										<div class="order__form-main-part">
											<div class="form__input-holder">
												<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
											</div>
											<div class="form__input-holder">
												<input type="text" class="form__input" placeholder="Укажите ваш телефон">
											</div>
											<div class="form__input-holder">
												<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
											</div>
										</div>

										<div class="order__form-upload-wrap js-add-file-wrap">
											<i class="order__form-upload-icon"></i>
											<div class="order__form-upload-name js-file-name">Загрузите файл</div>
											<div class="order__form-upload">
												<button class="order__form-upload-button js-file-button"></button>
												<input type="file" class="order__form-upload-input js-file-input">
											</div>
										</div>

									</div>
									<div class="form__textarea-holder">
										<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
									</div>
									<div class="order__form-personal">
										<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
										<p class="order__form-personal-text">
											Согласен с обработкой персональных данных в соответсвии с
											<a href="#" class="order__form-personal-link">Условиями</a>
										</p>
									</div>
									<div class="order__form-button-wrap">
										<button type="submit" class="form__submit btn btn_orange">Отправить</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					{#/ORDER FORM#}
				</div>

				{#RESPONSIVE LINK#}
				<div class="checkout-form__link-wrap">
					<a href="#" class="checkout-form__link">
						<i class="checkout-form__link-icon"></i>
						<p class="checkout-form__link-text">Отправить заявку</p>
					</a>
				</div>
				{#/RESPONSIVE LINK#}
			</div>
		</div>
		{#/CHECKOUT FORM#}

		{#MAIL ORDER#}
		<div class="mail-order advancement__mail-order">
			<div class="mail-order__container container">
				<p class="mail-order__title">Оформить заказ по электронной почте:</p>
				<div class="mail-order__link-wrap">
					<a href="mailto:zakaz@bodysite.ru" class="mail-order__link">zakaz@bodysite.ru</a>
				</div>
				<p class="mail-order__title">Оформить заказ по телефону:</p>
				<div class="mail-order__list">
					<div class="mail-order__item">
						<div class="mail-order__item-img-wrap">
							<img src="img/icon-logo-ekb.svg" alt="" class="mail-order__item-img">
						</div>
						<p class="mail-order__item-title">Екатеринбург</p>
						<div class="mail-order__item-phone-wrap">
							<a href="tel:+73432887853" class="mail-order__item-phone">+7 (343) 288-78-53</a>
						</div>
						<p class="mail-order__item-desc">Пн-Пт, 10:00-19:00, перерыв 14:00-15:00</p>
					</div>

					<div class="mail-order__item">
						<div class="mail-order__item-img-wrap">
							<img src="img/icon-logo-msk.svg" alt="" class="mail-order__item-img">
						</div>
						<p class="mail-order__item-title">Москва</p>
						<div class="mail-order__item-phone-wrap">
							<a href="tel:+74991107225" class="mail-order__item-phone">+7 (499) 110-72-25</a>
						</div>
						<p class="mail-order__item-desc">Пн-Пт, 08:00-17:00, перерыв 12:00-13:00</p>
					</div>

					<div class="mail-order__item">
						<div class="mail-order__item-img-wrap">
							<img src="img/icon-logo-spb.svg" alt="" class="mail-order__item-img">
						</div>
						<p class="mail-order__item-title">Санкт-Петербург</p>
						<div class="mail-order__item-phone-wrap">
							<a href="tel:+78125096628" class="mail-order__item-phone">+7 (812) 509-66-28</a>
						</div>
						<p class="mail-order__item-desc">Пн-Пт, 08:00-17:00, перерыв 12:00-13:00</p>
					</div>
				</div>
			</div>
		</div>
		{#/MAIL ORDER#}

		{#LOCAL MAP#}
		<div class="adv-map">
			<div class="adv-map__container container">
				<div class="local-map">
					<div class="local-map__inner">
						<div class="local-map__button btn">
							<i class="local-map__button-icon"></i>
							<span class="local-map__button-text">География наших клиентов</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{#/LOCAL MAP#}
	</div>
	{#/ADVANCEMENT#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}
{% endblock %}
