{% extends 'parts/layout.twig' %}

{% block title %}
	<title> HELP - BodySite</title>
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line title-line_help js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Помощь</h1>
			<div class="title-line__right-part">
				<div class="title-line__search-block">
					<div class="search__block">
						<input type="text" class="search__input-text" placeholder="Поиск">
						<button class="search__button" type="submit"></button>
					</div>
				</div>
				<div class="title-line__link-wrap">
					<a href="#" class="title-line__link title-line__link_help">
						<span class="title-line__link-icon title-line__link-icon_contacts"></span>
						<span class="title-line__link-text title-line__link-text_contacts">запрос в поддержку</span>
					</a>
				</div>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown title-line__dropdown_help js-menu-dropdown">
			<div class="title-line__dropdown-wrap">
				<div class="title-line__dropdown-container">
					<div class="title-line__dropdown-list-wrap">
						<div class="title-line__dropdown-list-title">Категории</div>
						<div class="title-line__dropdown-list">
							<a href="#" class="title-line__dropdown-item">Категория 1</a>
							<a href="#" class="title-line__dropdown-item">Категория 2</a>
							<a href="#" class="title-line__dropdown-item">Категория 3</a>
						</div>
					</div>
					<div class="title-line__dropdown-list-wrap">
						<div class="title-line__dropdown-list-title">Продукты</div>
						<div class="title-line__dropdown-list">
							<a href="#" class="title-line__dropdown-item">Продукт 1</a>
							<a href="#" class="title-line__dropdown-item">Продукт 2</a>
							<a href="#" class="title-line__dropdown-item">Продукт 3</a>
						</div>
					</div>
					<div class="title-line__dropdown-list-wrap">
						<div class="title-line__dropdown-list-title">Популярные записи</div>
						<div class="title-line__dropdown-list">
							<a href="#" class="title-line__dropdown-item">Запись 1</a>
							<a href="#" class="title-line__dropdown-item">Запись 2</a>
							<a href="#" class="title-line__dropdown-item">Запись 3</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#/TITLE LINE#}

	{#HELP#}
	<div class="help">
		<div class="help__container container">

			{#TITLE#}
			<div class="help__title-block">

				<div class="help__title-left">
					<a href="#" class="help__title-item">
						<span class="help__title-text">Плагины</span>
						<i class="help__title-icon">7</i>
					</a>
					<a href="#" class="help__title-item">
						<span class="help__title-text">Приложения</span>
					</a>
					<a href="#" class="help__title-item">
						<span class="help__title-text">Готовые сайты</span>
						<i class="help__title-icon">10</i>
					</a>
				</div>

				<div class="help__title-right">
					<i class="help__come-back-arrow"></i>
					<a href="#" class="help__come-back-text">Вернуться назад</a>
				</div>

			</div>
			{#/TITLE#}

			{#MAIN#}
			<div class="help__main-block">
				<div class="help__main-list">
					<div class="help__main-block-inner">

						<div class="help__item">
							<a href="#" class="help__title">
								Инструкция по ручному обновлению темы дизайна LandingPage, v.1.5
							</a>
							<div class="help__user-name-and-comments">
								<a href="#" class="help__user">
									<i class="help__user-avatar"></i>
									<span class="help__user-name">Алексей Петров</span>
								</a>
								<div class="help__date">
									<span class="help__date-icon"></span>
									<span class="help__date-name">8 августа 2017</span>
								</div>
							</div>
							<div class="help__text">
								Инструкция по ручному обновлению
								темы дизайна LandingPage, v.1.5.
							</div>
							<a href="#" class="help__comments">
								<i class="help__comments-icon"></i>
								<span class="help__comments-text">12 комментариев</span>
							</a>
						</div>

						<div class="help__item">
							<a href="#" class="help__title">
								Обновление темы до новой версии
							</a>
							<div class="help__user-name-and-comments">
								<a href="#" class="help__user">
									<i class="help__user-avatar"></i>
									<span class="help__user-name">Алексей Петров</span>
								</a>
								<div class="help__date">
									<span class="help__date-icon"></span>
									<span class="help__date-name">8 августа 2017</span>
								</div>
							</div>
							<div class="help__text">
								Если шаблоны темы были изменены, то при стандартном
								обновлении они не перезапишутся и тема обновится только
								частично. Это может привести к неправильной работе сайта.
								Чтобы этого не произошло, обновлять тему нужно по следующему алгоритму.
							</div>
							<a href="#" class="help__comments">
								<i class="help__comments-icon"></i>
								<span class="help__comments-text">12 комментариев</span>
							</a>
						</div>

						<div class="help__item">
							<a href="#" class="help__title">
								Инструкция по ручному обновлению MobiSite 1.2
							</a>
							<div class="help__user-name-and-comments">
								<a href="#" class="help__user">
									<i class="help__user-avatar"></i>
									<span class="help__user-name">Алексей Петров</span>
								</a>
								<div class="help__date">
									<span class="help__date-icon"></span>
									<span class="help__date-name">8 августа 2017</span>
								</div>
							</div>
							<div class="help__text">
								Инструкция по ручному обновлению темы дизайна MobiSite, v.1.2.
							</div>
							<a href="#" class="help__comments">
								<i class="help__comments-icon"></i>
								<span class="help__comments-text">12 комментариев</span>
							</a>
						</div>

					</div>

					{#BUTTON#}
					<button class="help__button btn">
						<span class="btn__text">Показать ещё</span>
						<i class="btn__icon"></i>
					</button>
					{#BUTTON#}

				</div>

				{#MENU#}
				<div class="help__main-menu">
					<div class="help__menu-block">
						<div class="help__menu-block-title">Категории</div>
						<div class="help__menu-block-list">
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Категория 1</a>
							</div>
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Категория 2</a>
							</div>
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Категория 3</a>
							</div>
						</div>
					</div>
					<div class="help__menu-block">
						<div class="help__menu-block-title">Продукты</div>
						<div class="help__menu-block-list">
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Продукт 1</a>
							</div>
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Продукт 2</a>
							</div>
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Продукт 3</a>
							</div>
						</div>
					</div>
					<div class="help__menu-block">
						<div class="help__menu-block-title">Популярные записи</div>
						<div class="help__menu-block-list">
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Запись 1</a>
							</div>
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Запись 2</a>
							</div>
							<div class="help__menu-block-item-wrap">
								<a href="#" class="help__menu-block-item">Запись 3</a>
							</div>
						</div>
					</div>
				</div>
				{#/MENU#}

			</div>
			{#/MAIN#}

		</div>
	</div>
	{#/HELP#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}

{% endblock %}
