{% extends 'parts/layout.twig' %}

{% block title %}
	<title> HELP Article - BodySite</title>
{% endblock %}


{% block content %}
	{#TITLE LINE#}
	<div class="title-line title-line_help js-dropdown-trigger">
		<div class="title-line__container container">
			<h1 class="title-line__text">Помощь</h1>
			<div class="title-line__right-part">
				<div class="title-line__search-block">
					<div class="search__block">
						<input type="text" class="search__input-text" placeholder="Поиск">
						<button class="search__button" type="submit"></button>
					</div>
				</div>
				<div class="title-line__link-wrap">
					<a href="#" class="title-line__link title-line__link_help">
						<span class="title-line__link-icon title-line__link-icon_contacts"></span>
						<span class="title-line__link-text title-line__link-text_contacts">запрос в поддержку</span>
					</a>
				</div>
			</div>
			<i class="title-line__dropdown-icon"></i>
		</div>
		<div class="title-line__dropdown title-line__dropdown_help js-menu-dropdown">
			<div class="title-line__dropdown-wrap">
				<div class="title-line__dropdown-container">
					<div class="title-line__dropdown-list-wrap">
						<div class="title-line__dropdown-list-title">Категории</div>
						<div class="title-line__dropdown-list">
							<a href="#" class="title-line__dropdown-item">Категория 1</a>
							<a href="#" class="title-line__dropdown-item">Категория 2</a>
							<a href="#" class="title-line__dropdown-item">Категория 3</a>
						</div>
					</div>
					<div class="title-line__dropdown-list-wrap">
						<div class="title-line__dropdown-list-title">Продукты</div>
						<div class="title-line__dropdown-list">
							<a href="#" class="title-line__dropdown-item">Продукт 1</a>
							<a href="#" class="title-line__dropdown-item">Продукт 2</a>
							<a href="#" class="title-line__dropdown-item">Продукт 3</a>
						</div>
					</div>
					<div class="title-line__dropdown-list-wrap">
						<div class="title-line__dropdown-list-title">Популярные записи</div>
						<div class="title-line__dropdown-list">
							<a href="#" class="title-line__dropdown-item">Запись 1</a>
							<a href="#" class="title-line__dropdown-item">Запись 2</a>
							<a href="#" class="title-line__dropdown-item">Запись 3</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#/TITLE LINE#}

	{#HELP#}
	<div class="help">
		<div class="help__container container">

			{#TITLE#}
			<div class="help__title-block">

				<div class="help__title-left">
					<div class="help__title-item">
						<span class="help__title-text">Плагины</span>
						<i class="help__title-icon">7</i>
					</div>
					<div class="help__title-item">
						<span class="help__title-text">Приложения</span>
					</div>
					<div class="help__title-item">
						<span class="help__title-text">Готовые сайты</span>
						<i class="help__title-icon">10</i>
					</div>
				</div>

				<div class="help__title-right">
					<i class="help__come-back-arrow"></i>
					<a href="#" class="help__come-back-text">Вернуться назад</a>
				</div>

			</div>
			{#/TITLE#}

			{#MAIN#}
			<div class="help-article__mobile-menu">
				<a href="#" class="help-article__user help-article__user_mobile">
					<i class="help-article__user-avatar"></i>
					<span class="help-article__user-name">Алексей Петров</span>
				</a>
				<div class="help-article__date help-article__date_mobile">
					<span class="help-article__date-icon"></span>
					<span class="help-article__date-name">8 августа 2017 </span>
				</div>
			</div>
			<div class="help-article__menu-title">
				<h1 class="help-article__menu-title-text">
					Инструкция по ручному обновлению темы дизайна
					LandingPage, v.1.5
				</h1>
			</div>
			<div class="help-article__menu">
				<a href="#" class="help-article__user help-article__user_desktop">
					<i class="help-article__user-avatar"></i>
					<span class="help-article__user-name">Алексей Петров</span>
				</a>
				<div class="help-article__date help-article__date_desktop">
					<span class="help-article__date-icon"></span>
					<span class="help-article__date-name">8 августа 2017 </span>
				</div>
				<a href="#" class="help-article__number-of-comments">
					<i class="help-article__number-of-comments-icon"></i>
					<span class="help-article__number-of-comments-text">12 комментариев</span>
				</a>
			</div>
			{#/MAIN#}

			{#INFOBOX#}
			<div class="help-article__info-box">
				<div class="info-box">
					<p>
						Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel, vim corpora necessitatibus ne. Vix te nisl saperet vivendum. Habeo equidem similique eu eam, quot invenire ea quo.
					</p>
					<p>
						Has at dolore iisque singulis, et sit impedit pericula. Graece noster vis ne, mea ad nostrud utroque mentitum. Porro epicuri ea cum. Audire denique duo id, doming noluisse qualisque pri ut. Adhuc principes eloquentiam sit an, dicant vituperatoribus ea per.
					</p>
					<p>

						Qui ne dicant mucius omittam, an per aliquip molestie lucilius, corpora suscipit vel cu. Porro fastidii probatus et est, persius aliquam vix te. Ipsum intellegebat ut sea, suas affert electram sit ad. Ea augue putant patrioque mei, an meliore adipisci pro. Homero adversarium ius id, malis epicurei consulatu pri ad. Ex singulis sensibus complectitur cum, inani nullam ius ad, te nonumes volumus usu.
					</p>
					<p>

						Et falli eligendi deterruisset vim. In ignota assueverit vim, hinc tota gloriatur has ut. Quo te feugait phaedrum. Offendit scribentur ad ius, graeco propriae philosophia usu id.
					</p>
					<p>

						Ut mel partem vocent persequeris, aliquid inimicus est te. Est no tractatos abhorreant philosophia, eu vis menandri nominati, ei hinc adipisci sadipscing qui. Et autem eleifend sea, fugit libris eleifend nec an. Et vix cibo causae elaboraret, per ex natum suavitate vulputate, quo nemore melius ei.
					</p>
				</div>
			</div>
			{#INFOBOX#}

			{#TAGS#}
			<div class="help-article__tags-block">
				<div class="help-article__tags-title">Теги:</div>
				<div class="help-article__tags-list">
					<a href="#" class="help-article__tags-list-item">Landing Page
					</a>
					<span>,</span>
					<a href="#" class="help-article__tags-list-item">Landing Page
					</a>
					<span>,</span>
					<a href="#" class="help-article__tags-list-item">Landing Page
					</a>
				</div>
			</div>
			{#/TAGS#}

			{#BOTTOM BLOCK#}
			<div class="help-article__bottom-block">
				<div class="help-article__social-networks">
					<p class="help-article__social-networks-title">
						Поделиться в соцсетях:
					</p>
					<div class="help-article__social-networks-icon-list">
						<a href="#" target="_blank" class="help-article__icon help-article__icon_vk"></a>
						<a href="#" target="_blank" class="help-article__icon help-article__icon_fb"></a>
						<a href="#" target="_blank" class="help-article__icon help-article__icon_twitter"></a>
						<a href="#" target="_blank" class="help-article__icon help-article__icon_google"></a>
						<a href="#" target="_blank" class="help-article__icon help-article__icon_ok"></a>
					</div>
				</div>
				<div class="help-article__subscribe-wrap">
					<p class="help-article__subscribe-title">
						Подпишись на новости:
					</p>

					{#SUBSCRIBE#}
					<div class="subscribe help-article__subscribe">
						<form>
							<div class="subscribe__form">
								<input type="text" class="subscribe__input-text" placeholder="Электронная почта">
								<button type="submit" class="subscribe__button">Подписаться</button>
								<button type="submit" class="subscribe__button subscribe__button_mobile">ok</button>
							</div>
						</form>
					</div>
					{#/SUBSCRIBE#}

				</div>
			</div>
			{#/BOTTOM BLOCK#}

			{#COMMENTS#}
			<div class="comments help-article__comments">
				<div class="comments__title">12 комментариев</div>
				<div class="comments__list comments__list_active">

					{#COMMENTS BLOCK#}
					<div class="comments__block">
						<div class="comments__user-answer comments__user-answer_1">
							<a href="#" class="comments__user">
								<div class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></div>
								<span class="comments__user-name">Андрей Иванов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel, vim corpora necessitatibus ne.
							</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
						<div class="comments__user-answer comments__user-answer_2">
							<a href="#" class="comments__user">
								<div class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></div>
								<span class="comments__user-name">Сергей Жданов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel.						</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
					</div>
					{#/COMMENTS BLOCK#}

					{#COMMENTS BLOCK#}
					<div class="comments__block">
						<div class="comments__user-answer comments__user-answer_1">
							<a href="#" class="comments__user">
								<div class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></div>
								<span class="comments__user-name">Андрей Иванов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel, vim corpora necessitatibus ne.
							</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
						<div class="comments__user-answer comments__user-answer_2">
							<a href="#" class="comments__user">
								<div class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></div>
								<span class="comments__user-name">Сергей Жданов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel.						</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
					</div>
					{#/COMMENTS BLOCK#}

					{#COMMENTS BLOCK#}
					<div class="comments__block">
						<div class="comments__user-answer comments__user-answer_1">
							<a href="#" class="comments__user">
								<div class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></div>
								<span class="comments__user-name">Андрей Иванов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel, vim corpora necessitatibus ne.
							</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
						<div class="comments__user-answer comments__user-answer_2">
							<a href="#" class="comments__user">
								<div class="comments__user-icon" style="background-image: url(/images/icon-user-avatar.svg)"></div>
								<span class="comments__user-name">Сергей Жданов</span>
							</a>
							<div class="comments__text">
								Lorem ipsum dolor sit amet, duis inciderint ea eum, nec impetus virtute honestatis id, torquatos consequuntur pri cu. Eum erant libris cu, fugit libris duo at, usu movet dolor expetendis cu. Velit mucius integre vel an, impedit feugait eleifend et vel.						</div>
							<div class="comments__bottom">
								<div class="comments__date">23 июня 2017 г. 18:00 г. Екатеринбург</div>
								<a href="#" class="comments__answer">Ответить</a>
							</div>
						</div>
					</div>
					{#/COMMENTS BLOCK#}

				</div>
			</div>
			{#/COMMENTS#}

			{#BUTTON#}
			<button class="help-article__button btn">
				<span class="btn__text">Показать ещё</span>
				<i class="btn__icon"></i>
			</button>
			{#/BUTTON#}

			{#BLOG ARTICLE WRITE#}
			<div class="help-article__write help-article__write_login">
				<div class="help-article__write-title">Написать комментарий</div>
				<div class="help-article__write-user">
					<i class="help-article__write-user-img" style="background-image: url(images/account.jpg)"></i>
					<span class="help-article__write-user-name">Андрей Иванов</span>
					<a href="#" class="help-article__logout">выйти</a>
				</div>

				{#FORM#}
				<div class="form">
					<form>
						<div class="form__textarea-holder help-article__textarea">
							<textarea  cols="30" rows="10" class="form__textarea" placeholder="Напишите комментарий"></textarea>
						</div>
						<button class="btn btn_orange btn__small" type="submit">Отправить</button>
					</form>
				</div>
				{#/FORM#}

			</div>
			{#/BLOG ARTICLE WRITE#}

		</div>
	</div>
	{#/HELP#}

	{#FULL VERSION#}
	<div class="full-version">
		<button class="full-version__click">
			<span class="full-version__text">Полная версия сайта</span>
			<span class="full-version__arrow"></span>
		</button>
	</div>
	{#/FULL VERSION#}

{% endblock %}
