{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Bodysite</title>
{% endblock %}


{% block content %}
<style>
	ul {
		margin: 110px auto !important;
		width: 500px !important;
		display: block !important;
	}
	a {
		color: black !important;
		font-size: 20px !important;
	}
	a:visited {
		color: gray !important;
	}
</style>

<ul>
	<li><a href="0.1_main.html">0.1. Main</a></li>
	<li><a href="0.3.0_portfolio.html">0.3. Portfolio</a></li>
	<li><a href="0.3.1_portfolio-inner.html">0.3.1. Portfolio inner</a></li>
	<li><a href="0.4.0_blog.html">0.4. Blog</a></li>
	<li><a href="0.4.1_blog-article.html">0.4.1. Blog article</a></li>
	<li><a href="0.4.2_blog-article-with-comment.html">0.4.2 Blog article with comment</a></li>
	<li><a href="0.5.0_vacancies.html">0.5. Vacancies</a></li>
	<li><a href="0.6.0_about-company.html">0.6. About company</a></li>
	<li><a href="0.6.2_awards.html">0.6.2. Awards</a></li>
	<li><a href="0.6.1_reviews.html">0.6.1. Reviews</a></li>
	<li><a href="0.7.0_contacts.html">0.7 Contacts</a></li>
	<li><a href="0.7.1_support-form.html">0.7.1 Support form</a></li>
	<li><a href="0.7.2_send.html">0.7.2 Send</a></li>
	<li><a href="0.8.0.0_service.html">0.8. Service</a></li>
	<li><a href="0.8.2.0_advancement.html">0.8.2. Advancement</a></li>
	<li><a href="0.8.2.1_subscriber-advancement.html">0.8.2.1. Subscriber advancement</a></li>
	<li><a href="0.8.2.2_tariff-table.html">0.8.2.2 Tariff-table</a></li>
	<li><a href="0.8.2.3_contextual-advertising.html">0.8.2.3 contextual advertising</a></li>
	<li><a href="0.8.2.4_single-seo.html">0.8.2.4. Single seo</a></li>
	<li><a href="1.0.0_help.html">1.0.0 Help</a></li>
	<li><a href="1.0.1_help-article.html">1.0.1 Help Arcicle</a></li>

</ul>
{% endblock %}
