.contextual {
	&__p {
		.regular();
		font-size: @16;
		line-height: 1.375;
		color: @dark-grey-color;
		margin-bottom: 30px;
	}
	&__sale {
		padding: 20px 51px;
		background-color: rgba(231, 122, 18, 0.05);
		border: solid 1px rgba(231, 122, 18, 0.1);
		border-radius: 10px;
		display: flex;
		margin-bottom: 50px;
		justify-content: space-between;
		align-items: center;
	}
	&__sale-icon {
		.svg-icon(icon-sale, 48px, 48px);
		margin-right: 52px;
	}
	&__sale-main {
	}
	&__sale-title {
		color: @dark-grey-color;
		font-size: @24;
		line-height: 1.16;
		.medium();
		margin-bottom: 10px;
	}
	&__sale-text {
		font-size: @16;
		.regular();
		line-height: 1.375;
		&_a {
			color: @orange-color;
			&:hover {
				text-decoration: none;
			}
		}
		&_orange {
			color: @orange-color;
			.medium();
		}
	}

}