.table {
	width: 100%;
	margin-bottom: 50px;

	&__title {
		text-align: center;
		.regular();
		font-size: @30;
		line-height: 1.36;
		color: @dark-grey-color;
		margin-bottom: 30px;
	}
	&__item-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 0 15px 0;
		&:nth-child(odd) {
			background-color: rgba(231, 122, 18, 0.05);
			border: solid 1px rgba(231, 122, 18, 0.1);
		}
	}
	&__item-half {
		width: 46%;
		font-size: @16;
		.regular();
		color: @dark-grey-color;
		line-height: 1.375;
		text-align: left;
		margin: 0 20px;
	}
	&__item {
		font-size: @16;
		.regular();
		color: @dark-grey-color;
		line-height: 1.375;
		width: 12%;
		text-align: left;
		margin: 0 20px;
		&:first-child {
			width: 33%;
		}
		&_caption {
			color: @orange-color;
			.medium();
		}
	}
	&__block {
		margin-bottom: 3px;
	}
	&__block-title {
		padding: 12px 0 17px 0;
		text-align: center;
		color: @dark-grey-color;
		.medium();
		line-height: 1.125;
		font-size: @16;
	}
	&__footnote {
		margin-top: 12px;
	}
	&__footnote-item {
		font-size: @16;
		.regular();
		color: @dark-grey-color;
		line-height: 1.375;
		padding: 7px 0;
	}
    &__a {
	    color: @orange-color;
	    &:hover {
		    text-decoration: none;
	    }
    }
	&__number {
		font-size: @11;
		.regular();
		color: @dark-grey-color;
	}
}