.support-form {
	margin-bottom: 100px;

	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__order {
		padding-right: 40px;
		flex-grow: 20;
	}
	&__menu {
		width: 32%;
		min-width: 32%;
		padding-top: 8px;
	}
	&__title {
		margin-bottom: 35px;
	}
	&__title-block {
		display: flex;
		position: relative;
		padding: 12px 20px 14px;
		border-bottom: solid 2px rgba(231, 122, 18, 0.3);
		color: @orange-color;
		text-decoration: none;
		&:last-child {
			border: none;
		}
		&:after {
			position: absolute;
			content: '';
			.svg-icon(icon-right-vector, 7px, 12px);
			//.svg-icon-param(icon-down, 12px, 12px, '[fill]: #ffffff');
			top: 17px;
			right: 19px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__title-icon {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		display: inline-block;
		margin-right: 10px;
		&_share {
			width: 22px;
			height: 22px;
		}
		&_user {
			width: 16px;
			height: 22px;
			margin-right: 16px;
		}
	}
	&__title-item {
		color: @orange-color;
		.regular();
		font-size: @16;
		line-height: 1.3;
	}
	&__text-block {
		padding: 20px;
		border-radius: 10px;
		&:hover {
			box-shadow: 0px 0px 30px rgba(231, 122, 18, 0.1);
		}
	}
	&__text-block-title {
		margin-bottom: 20px;
		display: flex;
		text-align: center;
	}
	&__text-block-icon {
		.svg-icon(icon-info, 24px, 24px);
		margin-right: 15px;
	}
	&__text-block-text {
		.medium();
		font-size: @24;
		color: @dark-grey-color;
		line-height: 1.16;
	}
	&__text-wrap {
		margin-bottom: 15px;

	}
	&__text {
		line-height: 1.375;
		font-size: @16;
		.regular();
		color: @dark-grey-color;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__text-bottom {
		display: flex;
		align-items: center;
	}
	&__text-bottom-icon {
		.svg-icon(icon-pdf, 23px, 30px);
		margin: 3px 15px 0 3px;
	}
	&__text-bottom-name {
		line-height: 1.16;
		font-size: @16;
		.regular();
		color: @orange-color;
		margin-right: 12px;
	}
	&__text-bottom-size {
		line-height: 1.16;
		font-size: @16;
		.regular();
		color: @dark-grey-color;
	}
}

@media screen and (max-width: 900px) {
	.support-form {
		&__container {
			flex-direction: column-reverse;
		}
		&__order{
			padding-right: 0;
			width: 100%;
		}
		&__menu {
			width: 100%;
			padding-top: 0;

			margin-bottom: 25px;
		}
		&__text-block {
			border: 1px solid rgba(231, 122, 18, 0.1);
			box-shadow: 0px 0px 15px rgba(231, 122, 18, 0.05);
		}
	}
}

@media screen and (max-width: 600px) {
	.support-form {
		margin-bottom: 50px;

		&__container {
			padding-left: 0;
			padding-right: 0;
		}
		&__order {
			padding-left: 25px;
			padding-right: 25px;
		}
		&__menu {
			padding-left: 25px;
			padding-right: 25px;
		}
		&__title {
			margin-left: -25px;
			margin-right: -25px;
		}
	}
}

@media screen and (max-width: 350px) {
	.support-form {

		&__order {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__menu {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__title {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}