.portfolio-info {
	padding: 49px 0;
	margin-bottom: 52px;

	&__container {

	}
	&__content {
		display: flex;
		align-items: center;
		width: 60%;
	}
	&__content-left-part {
		display: flex;
		align-items: center;
		margin-right: 44px;
	}
	&__status {
		display: flex;
		align-items: center;
		margin-right: 44px;
	}
	&__status-icon {
		.svg-icon(icon-accept, 24px, 24px);
		margin-right: 10px;
	}
	&__status-text {
		color:#27AE60;
		font-size: @18;
		.regular();
	}

	&__date {
		color: @dark-grey-color;
		.regular();
		font-size: @18;
	}
	&__site-link {
		height: 50px;
		padding: 0 30px;
		border-radius: 25px;
		text-decoration: none;

		-webkit-appearance: none;
		outline: none;
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s ease;
		&:hover {
			filter: drop-shadow(0 0 4px @dark-grey-color);
		}
	}
	&__site-link-text {
		color: white;
		font-size: @18;
		.regular();
		margin-right: 10px;
	}
	&__site-link-icon {
		.svg-icon-param(icon-return-arrow, 12px, 12px, '[fill]: #ffffff');
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 1000px) {
	.portfolio-info {

		&__status {
			margin-right: 30px;
		}
		&__content-left-part {
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 900px) {
	.portfolio-info {
		padding: 0;

		&__content {
			width: 100%;
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio-info {
		margin-bottom: 49px;

		&__content {
			flex-direction: column;
			align-items: flex-start;
		}
		&__content-left-part {
			margin-bottom: 25px;
		}
		&__status {
			margin-right: 20px;
		}
		&__status-icon {
			.svg-icon(icon-accept, 15px, 15px);
		}
		&__status-text {
			font-size: @14;
		}

		&__date {
			font-size: @14;
		}
		&__site-link {
			height: 40px;
			padding: 0 25px;
		}
		&__site-link-text {
			font-size: @14;
			margin-right: 5px;
		}
		&__site-link-icon {
			.svg-icon-param(icon-return-arrow, 8px, 8px, '[fill]: #ffffff');
		}
	}
}