.portfolio-card {
	border-radius: 10px;
	height: 350px;
	width: calc(~"(100% - 20px * 2) / 3");
	margin-right: 20px;
	text-decoration: none;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
	&:nth-child(3n) {
		margin-right: 0;
	}

	&__logo-wrap {
		height: 140px;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__logo {
		max-height: 100%;
		max-width: 100%;
	}
	&__desc-wrap {

	}
	&__desc {
		font-size: @18;
		text-align: center;
		line-height: 1.3;
		.regular();
		.portfolio-card_light & {
			color: white;
		}
		.portfolio-card_dark & {
			color: @dark-grey-color;
		}
	}
	&__site-name {
		font-size: @18;
		.regular();
		text-align: center;
		line-height: 1.3;
		text-decoration: underline;
		.portfolio-card_light & {
			color: white;
		}
		.portfolio-card_dark & {
			color: @dark-grey-color;
		}
		.portfolio-card:hover & {
			text-decoration: none;
		}
	}
	&__time {
		font-size: @18;
		text-align: center;
		.regular();
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		.portfolio-card_light & {
			color: white;
		}
		.portfolio-card_dark & {
			color: @dark-grey-color;
		}
	}

}

@media screen and (max-width: 900px) {
	.portfolio-card {

		.advancement__portfolio & {
			width: 100%;
			margin-right: 0;
			height: 300px;
		}
	}
}

@media screen and (max-width: 800px) {
	.portfolio-card {
		width: calc(~"(100% - 20px) / 2");
		&:nth-child(3n) {
			margin-right: 20px;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
		.advancement__portfolio & {
			width: 100%;
			margin-right: 0;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio-card {
		width: 300px;
		margin-right: 0;
		border-radius: 10px;
		height: 300px;
		&:nth-child(3n) {
			margin-right: 0;
		}
		.advancement__portfolio & {
			width: 100%;
		}
	}
}

@media screen and (max-width: 380px) {
	.portfolio-card {
		width: 100%;
	}
}