.portfolio-title {
	margin-bottom: 40px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__text {
		color: @dark-grey-color;
		.regular();
		font-size: @30;
		flex-grow: 20;
	}
	&__return-link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		min-width: 160px;
		text-decoration: none;
	}
	&__return-link-icon {
		.svg-icon(icon-return-arrow, 12px, 12px);
		margin-right: 10px;
	}
	&__return-link-text {
		color: #828282;
		font-size: @16;
		.regular();
		transition: all .3s ease;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 900px) {
	.portfolio-title {

		&__container {
			flex-direction: column-reverse;
			align-items: flex-start;
		}
		&__text {
			font-size: @25;
		}
		&__return-link {
			//width: 100%;
			//padding: 18px 0 16px 0;
			margin-bottom: 25px;
			justify-content: flex-start;
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio-title {
		margin-top: -25px;
		margin-bottom: 0;

		&__container {
			padding-left: 0;
			padding-right: 0;
		}
		&__text {
			font-size: @19;
			padding-left: 25px;
			padding-right: 25px;
			line-height: 1.3;
		}
		&__return-link {
			width: 100%;
			padding: 18px 25px 16px 25px;
			margin-bottom: 27px;
		}
		&__return-link-icon {
			.svg-icon(icon-return-arrow, 8px, 8px);
			margin-right: 5px;
		}
		&__return-link-text {
			font-size: @14;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 350px) {
	.portfolio-title {

		&__text {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__return-link {
			padding: 18px 15px 16px 15px;
		}
	}
}