.portfolio-pages-block {
	margin-bottom: 95px;

	&__container {

	}
	&__title {
		color: @dark-grey-color;
		font-size: @24;
		.medium();
		margin-bottom: 40px;
	}
	&__list {
		display: flex;
		align-items: flex-start;
		position: relative;
	}
	&__item {
		width: calc(~"(100% - 100px) / 2");
		&:first-child {
			margin-right: 100px;
		}
		&:last-child {
			position: absolute;
			top: 50px;
			left: calc(~"50% - ((100% - 100px) / 4) ");
		}
	}
	&__item-img {
		width: 100%;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
	}
	&__desc {
		display: none;
		color: @dark-grey-color;
		font-size: @14;
		line-height: 1.4;
		.regular();
	}
}

@media screen and (max-width: 900px) {
	.portfolio-pages-block {

		&__list {
			margin-bottom: 20px;
		}
		&__item {
			width: 325px;
			&:first-child {
				display: none;
			}
			&:nth-child(2) {
				display: none;
			}
			&:last-child {
				position: relative;
				top: auto;
				left: auto;
			}
		}
		&__desc {
			display: block;
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio-pages-block {
		margin-bottom: 43px;

		&__title {
			font-size: @18;
		}
	}
}

@media screen and (max-width: 400px) {
	.portfolio-pages-block {

		&__item {
			width: 100%;
		}
		&__title {
			margin-bottom: 28px;
		}
	}
}