.portfolio-desc {
	&__bg {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 350px;
		position: relative;
	}
	&__color-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 30px 0 41px 0;
	}
	&__container {
		position: relative;
	}
	&__content {
		width: 55%;
		&_response {
			display: none;
		}
	}

	&__title {
		font-size: @42;
		text-align: left;
		.medium();
		margin-bottom: 30px;
		color: white;
	}
	&__text {
		&_light {
			color: white;
		}
		&_dark {
			color: @dark-grey-color;
		}
	}
	&__screen {
		width: calc(~"100% - 55% - 20px");
		position: absolute;
		right: 0;
		top: -30px;
	}
	&__screen-img {
		width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.portfolio-desc {
		padding-top: 50px;
		margin-bottom: 28px;

		&__bg {
			margin-bottom: 105px;
		}
		&__color-bg {
			padding: 0;
		}
		&__content {
			display: none;
			&_response {
				display: block;
				width: 100%;
				padding-left: 25px;
				padding-right: 25px;
			}
		}
		&__title {
			display: none;
		}
		&__screen {
			//width: 240px;
			width: 400px;
			right: 50%;
			top: -50px;
			margin-right: -200px;
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio-desc {
		&__bg {
			min-height: 195px;
		}
		&__screen {
			width: 270px;
			margin-right: -135px;
		}
	}
}