.portfolio {

	&__container {

	}
	&__title {
		margin-bottom: 36px;
		.std-title();
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 20px;
	}
	&__button-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__button {
		padding: 0 37px;
	}
}

@media screen and (max-width: 900px) {
	.portfolio {

		&__list {
			.advancement__portfolio & {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio {

		&__list {
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 15px;
		}
	}
}