.about {
	margin-bottom: 33px;

	&__container {
		display: flex;
		align-items: flex-start;
	}
	&__image-wrap {
		width: 43%;
		min-width: 43%;
		margin-right: 40px;
	}
	&__image {
		width: 100%;
	}
	&__text-wrap {
		flex-grow: 20;
	}
	&__text {
		color: @dark-grey-color;
		.medium();
		font-size: @18;
		line-height: 1.4;
		margin-bottom: 16px;
	}
	&__text-span {
		color: @orange-color;
		.medium();
		font-size: @18;
		line-height: 1.4;
	}
}

@media screen and (max-width: 900px) {
	.about {
		&__container {
			flex-direction: column;
		}
		&__image-wrap {
			width: 100%;
			min-width: 100%;
			margin-right: 0;
			margin-bottom: 25px;
		}
	}
}

@media screen and (max-width: 600px) {
	.about {
		&__container {
			padding-left: 0;
			padding-right: 0;
		}
		&__text-wrap {
			padding-left: 25px;
			padding-right: 25px;
		}
		&__text {
			font-size: @16;
			margin-bottom: 15px;
		}
		&__text-span {
			font-size: @16;
		}
	}
}