.awards-block {

	&__container {

	}
	&__title {
		color: @dark-grey-color;
		text-align: center;
		margin-bottom: 35px;
		font-size: @30;
		.regular();
	}
	&__list {
		display: flex;
		align-items: flex-start;
		margin-bottom: 40px;
	}
	&__item {
		width: calc(~"(100% - 20px * 3) / 4");
		margin-right: 20px;
		border-radius: 10px;
		text-decoration: none;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	&__item-img {
		width: 100%;
	}
	&__button-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__button {
		padding: 0 39px;
	}
}

@media screen and (max-width: 900px) {
	.awards-block {

		&__list {
			display: block;
		}
		&__item {
			width: auto;
			margin-right: 0;
			height: 312px;
			text-align: center;
		}
		&__item-img {
			max-width: 100%;
			width: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
}