.clients {


	&__container {

	}
	&__title {
		color: @dark-grey-color;
		text-align: center;
		margin-bottom: 40px;
		font-size: @30;
		.regular();
	}
	&__list {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	&__item {
		width: calc(~"((100% - 20px * 2) / 3)");
		margin-right: 20px;
		margin-bottom: 48px;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	&__item-logo-wrap {
		height: 150px;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__item-logo {
		max-height: 100%;
		max-width: 100%;
	}
	&__item-name {
		color: @dark-grey-color;
		font-size: @18;
		.regular();
		text-align: center;
		margin-bottom: 12px;
	}
	&__item-projects {
		color: #828282;
		text-align: center;
		font-size: @16;
		.regular();
	}
	&__button-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__button {
		padding: 0 41px;
	}
}