.why-us {

	&__container {

	}
	&__title {
		color: @dark-grey-color;
		text-align: center;
		margin-bottom: 30px;
		font-size: @30;
		.regular();
	}
	&__list {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__item {
		width: calc(~"(100% - 20px * 2) / 3");
		margin-right: 20px;
		margin-bottom: 18px;
		border-radius: 10px;
		transition: all .3s ease;
		text-decoration: none;
		padding: 20px;
		border: 1px solid transparent;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:hover {
			border-color: rgba(231, 122, 18, 0.1);
			box-shadow: 0px 0px 30px rgba(231, 122, 18, 0.1);
		}
	}
	&__item-icon {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 27px;
		&_time {
			.svg-icon(icon-time, 48px, 48px);
		}
		&_projects {
			.svg-icon-param(icon-menu-grid, 48px, 48px, '[fill]: @{orange-color}');
		}
		&_home {
			.svg-icon-param(icon-menu-house, 48px, 48px, '[fill]: @{orange-color}');
		}
		&_people {
			.svg-icon-param(icon-menu-users, 60px, 48px, '[fill]: @{orange-color}');
		}
		&_guarantee {
			.svg-icon(icon-guarantee, 48px, 48px);
		}
		&_case {
			.svg-icon-param(icon-menu-case, 48px, 48px, '[fill]: @{orange-color}');
		}
	}
	&__item-title {
		font-size: @18;
		text-align: center;
		color: @dark-grey-color;
		.regular();
		margin-bottom: 9px;
	}
	&__item-desc {
		color: #828282;
		font-size: @16;
		line-height: 1.4;
		.regular();
		text-align: center;
	}


}

@media screen and (max-width: 900px) {
	.why-us {

		&__list {
			display: block;
		}
		&__item {
			width: auto;
			margin-right: 0;
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.why-us {
		&__item {
			border: 1px solid rgba(231, 122, 18, 0.1);
			box-shadow: 0px 0px 15px rgba(231, 122, 18, 0.05);
		}
	}
}