{#SEARCH DROPDOWN#}
<div class="bd-dropdown" id="bd-dropdown_1">
	<div class="bd-dropdown__search-block">
		<div class="bd-dropdown__search-wrap">
			<input type="text" class="bd-dropdown__search" placeholder="Поиск">
			<button class="bd-dropdown__search-button" type="submit"></button>
		</div>
	</div>
</div>
{#/SEARCH DROPDOWN#}


{#CLIENT NAVIGATION DROPDOWN#}
<div class="bd-dropdown" id="bd-dropdown_2">
	<div class="bd-dropdown__link-list">
		<a href="#" class="bd-dropdown__link bd-dropdown__link_lk">Вход в личный кабинет</a>
		<a href="#" class="bd-dropdown__link bd-dropdown__link_support">Написать в техподдержку</a>
		<a href="#" class="bd-dropdown__link bd-dropdown__link_order">Отправить заявку</a>
		<a href="#" class="bd-dropdown__link bd-dropdown__link_help">Помощь</a>
		<a href="#" class="bd-dropdown__link bd-dropdown__link_exit">Выйти</a>
	</div>
</div>
{#/CLIENT NAVIGATION DROPDOWN#}

