{#FOOTER#}
<footer class="footer">
	{#TOP PART#}
	<div class="footer__top">
		<div class="footer__top-container container">
			{#MENU#}
			<nav class="footer__nav">
				<div class="footer__nav-column">
					<p class="footer__nav-title">О компании</p>
					<div class="footer__nav-list">
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Портфолио</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Отзывы о компании</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Партнеры</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Новости компании</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Наша команда</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Вакансии</a>
						</div>
					</div>
				</div>

				<div class="footer__nav-column">
					<p class="footer__nav-title">Создание</p>
					<div class="footer__nav-list">
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Портфолио</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Отзывы о компании</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Партнеры</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Новости компании</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Наша команда</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Вакансии</a>
						</div>
					</div>
				</div>

				<div class="footer__nav-column">
					<p class="footer__nav-title">Продвижение</p>
					<div class="footer__nav-list">
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Портфолио</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Отзывы о компании</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Партнеры</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Новости компании</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Наша команда</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Вакансии</a>
						</div>
					</div>
				</div>

				<div class="footer__nav-column">
					<p class="footer__nav-title">Поддержка</p>
					<div class="footer__nav-list">
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Портфолио</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Отзывы о компании</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Партнеры</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Новости компании</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Наша команда</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Вакансии</a>
						</div>
					</div>
				</div>

				<div class="footer__nav-column">
					<p class="footer__nav-title">Для клиентов</p>
					<div class="footer__nav-list">
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Магазин готовых решений</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Личный кабинет</a>
						</div>
						<div class="footer__nav-item">
							<a href="#" class="footer__nav-item-link">Онлайн-оплата</a>
						</div>
					</div>
				</div>
			</nav>
			{#/MENU#}

			{#SERVICE INFO#}
			<div class="footer__serv">

				<div class="footer__phone-list">
					<a href="tel:+73432887853" class="footer__phone">+7 (343) 288-78-53</a>
					<a href="tel:+74991107225" class="footer__phone">+7 (499) 110-72-25</a>
				</div>

				<div class="footer__serv-right">
					<a href="#" class="footer__order">
						<i class="footer__order-icon"></i>
						<span class="footer__order-link">Оформить заказ</span>
					</a>

					<div class="footer__search-block">
						<div class="search__block">
							<input type="text" class="search__input-text" placeholder="Поиск по сайту...">
							<button class="search__button" type="submit"></button>
						</div>
					</div>
				</div>

			</div>
			{#/SERVICE INFO#}
		</div>
	</div>
	{#/TOP PART#}

	{#TOP PART#}
	<div class="footer__bottom">
		<div class="footer__bottom-container container">
			{#INFO#}
			<div class="footer__info">
				<p class="footer__copyright">2009-2017  © "БОДИСАЙТ"</p>
				<div class="footer__info-links">
					<a href="#" target="_blank" class="footer__info-links-item">Политика обработки персональных данных</a>
					<a href="#" target="_blank" class="footer__info-links-item">Договор-оферта</a>
				</div>
			</div>
			{#/INFO#}

			<div class="footer__bottom-right">

				{#SHARE#}
				<div class="footer__share">
					<script type="text/javascript">(function() {
							if (window.pluso)if (typeof window.pluso.start == "function") return;
							if (window.ifpluso==undefined) { window.ifpluso = 1;
								var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
								s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
								s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
								var h=d[g]('body')[0];
								h.appendChild(s);
							}})();</script>
					<div class="pluso" data-background="none;" data-options="medium,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="vkontakte,facebook,twitter"></div>
				</div>
				{#/SHARE#}

				{#SOCIALS#}
				<div class="footer__socials">
					<a href="#" target="_blank" class="footer__socials-item footer__socials-item_vk"></a>
					<a href="#" target="_blank" class="footer__socials-item footer__socials-item_fb"></a>
					<a href="#" target="_blank" class="footer__socials-item footer__socials-item_instagram"></a>
					<a href="#" target="_blank" class="footer__socials-item footer__socials-item_youtube"></a>
				</div>
				{#/SOCIALS#}
			</div>
		</div>
	</div>
	{#/TOP PART#}
</footer>
{#/FOOTER#}