{#HEADER#}
<header class="header" id="header">

	{#BURGER#}
	<a href="#" class="header__burger js-header-burger">
		<span class="header__burger-line"></span>
		<span class="header__burger-line"></span>
		<span class="header__burger-line"></span>
	</a>
	{#/BURGER#}

	{#MAIN PART#}
	<div class="header__container container">
		<a href="#" class="header__logo">
			<img src="img/logo.svg" alt="" class="header__logo-img">
		</a>

		<div class="header__main-part">
			<nav class="header__nav">
				<div class="header__nav-item">
					<a href="#" class="header__nav-item-link">Услуги</a>
				</div>
				<div class="header__nav-item">
					<a href="#" class="header__nav-item-link">Продукты</a>
				</div>
				<div class="header__nav-item">
					<a href="#" class="header__nav-item-link">Портфолио</a>
				</div>
				<div class="header__nav-item">
					<a href="#" class="header__nav-item-link">Отзывы</a>
				</div>
				<div class="header__nav-item">
					<a href="#" class="header__nav-item-link">Блог</a>
					<div class="header__blog-notification">2</div>
				</div>
				<div class="header__nav-item">
					<a href="#" class="header__nav-item-link">Контакты</a>
				</div>
			</nav>
			<a href="#" class="header__search js-dropdown-link" data-id="1"></a>
			<div class="header__user-wrap js-user-dropdown-link-parent">
				<a href="#" class="header__user js-dropdown-link js-user-dropdown-link" data-id="2"></a>
				{#USER DROPDOWN#}
				<div class="user-dropdown js-user-dropdown">
					<div class="user-dropdown__link-wrap">
						<a href="#" class="user-dropdown__link">
							<i class="user-dropdown__link-icon user-dropdown__link-icon_lk"></i>
							<span class="user-dropdown__link-text">Вход в личный кабинет</span>
						</a>
					</div>
					<div class="user-dropdown__link-wrap">
						<a href="#" class="user-dropdown__link">
							<i class="user-dropdown__link-icon user-dropdown__link-icon_support"></i>
							<span class="user-dropdown__link-text">Написать в техподдержку</span>
						</a>
					</div>
					<div class="user-dropdown__link-wrap">
						<a href="#" class="user-dropdown__link">
							<i class="user-dropdown__link-icon user-dropdown__link-icon_order"></i>
							<span class="user-dropdown__link-text">Отправить заявку</span>
						</a>
					</div>
					<div class="user-dropdown__link-wrap">
						<a href="#" class="user-dropdown__link">
							<i class="user-dropdown__link-icon user-dropdown__link-icon_help"></i>
							<span class="user-dropdown__link-text">Помощь</span>
						</a>
					</div>
					<div class="user-dropdown__link-wrap user-dropdown__link-wrap_exit">
						<a href="#" class="user-dropdown__link">
							<i class="user-dropdown__link-icon user-dropdown__link-icon_exit"></i>
							<span class="user-dropdown__link-text">Выйти</span>
						</a>
					</div>
				</div>
				{#/USER DROPDOWN#}
			</div>
		</div>
	</div>
	{#/MAIN PART#}

</header>
{#/HEADER#}