{#MOBILE MENUd#}
<div class="menu" id="mobile-menu">
	<div class="menu__wrap">
		<div class="menu__left">

			{#SIDEBAR#}
			<div class="menu__sidebar">
				<div class="menu__sidebar-top">
					{#BURGER#}
					<a href="#" class="header__burger js-header-burger">
						<span class="header__burger-line"></span>
						<span class="header__burger-line"></span>
						<span class="header__burger-line"></span>
					</a>
					{#/BURGER#}

					<a href="#" class="menu__search"></a>
				</div>
				<div class="menu__sidebar-socials">
					<a href="#" target="_blank" class="menu__sidebar-socials-item menu__sidebar-socials-item_vk"></a>
					<a href="#" target="_blank" class="menu__sidebar-socials-item menu__sidebar-socials-item_fb"></a>
					<a href="#" target="_blank" class="menu__sidebar-socials-item menu__sidebar-socials-item_instagram"></a>
					<a href="#" target="_blank" class="menu__sidebar-socials-item menu__sidebar-socials-item_youtube"></a>
				</div>
			</div>
			{#/SIDEBAR#}

			{#NAVIGATION#}
			<div class="menu__nav">
				<a href="#" class="menu__close menu__close_mobile js-menu-close"></a>
				<a href="#" class="menu__nav-item">
					<div class="menu__nav-item-content">
						<div class="menu__nav-item-icon menu__nav-item-icon_gear"></div>
						<p class="menu__nav-item-text">Услуги</p>
					</div>
				</a>
				<a href="#" class="menu__nav-item">
					<div class="menu__nav-item-content">
						<div class="menu__nav-item-icon menu__nav-item-icon_case"></div>
						<p class="menu__nav-item-text">Продукты</p>
					</div>
				</a>
				<a href="#" class="menu__nav-item">
					<div class="menu__nav-item-content">
						<div class="menu__nav-item-icon menu__nav-item-icon_grid"></div>
						<p class="menu__nav-item-text">Портфолио</p>
					</div>
				</a>
				<a href="#" class="menu__nav-item">
					<div class="menu__nav-item-content">
						<div class="menu__nav-item-icon menu__nav-item-icon_pin"></div>
						<p class="menu__nav-item-text">Контакты</p>
					</div>
				</a>
				<a href="#" class="menu__nav-item">
					<div class="menu__nav-item-content">
						<div class="menu__nav-item-icon menu__nav-item-icon_house"></div>
						<p class="menu__nav-item-text">О нас</p>
					</div>
				</a>
				<a href="#" class="menu__nav-item">
					<div class="menu__nav-item-content">
						<div class="menu__nav-item-icon menu__nav-item-icon_users"></div>
						<p class="menu__nav-item-text">Вакансии</p>
					</div>
					<div class="menu__nav-item-count">3</div>
				</a>
				<a href="#" class="menu__nav-item">
					<div class="menu__nav-item-content">
						<div class="menu__nav-item-icon menu__nav-item-icon_star"></div>
						<p class="menu__nav-item-text">Отзывы</p>
					</div>
				</a>
				<a href="#" class="menu__nav-item">
					<div class="menu__nav-item-content">
						<div class="menu__nav-item-icon menu__nav-item-icon_write"></div>
						<p class="menu__nav-item-text">Блог</p>
					</div>
					<div class="menu__nav-item-count">2</div>
				</a>
			</div>
			{#/NAVIGATION#}

		</div>
		{#ORDER#}
		<div class="menu__order">
			<div class="menu__order-main-part">
				<p class="menu__order-title">Отправить заявку</p>
				<div class="order">
					{#TABS#}
					<div class="order__tab-list">
						<a href="#" class="order__tab-item order__tab-item_active js-menu-tab" data-id="1">Создание</a>
						<a href="#" class="order__tab-item js-menu-tab" data-id="2">Продвижение</a>
						<a href="#" class="order__tab-item js-menu-tab" data-id="3">Поддержка</a>
					</div>
					{#/TABS#}

					<div class="order__container">
						{#CONTENT 1#}
						<div class="order__content order__content_active js-menu-content" id="menu-content_1">
							<div class="order__form">
								<div class="form">
									<form>
										<div class="order__form-top">
											{#FORM INPUTS#}
											<div class="order__form-main-part">
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш телефон">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
												</div>
											</div>
											{#/FORM INPUTS#}

											{#FILE UPLOAD#}
											<div class="order__form-upload-wrap js-add-file-wrap">
												<i class="order__form-upload-icon"></i>
												<div class="order__form-upload-name js-file-name">Загрузите файл</div>
												<div class="order__form-upload">
													<button class="order__form-upload-button js-file-button"></button>
													<input type="file" class="order__form-upload-input js-file-input">
												</div>
											</div>
											{#/FILE UPLOAD#}
										</div>

										{#RANGE SLIDER#}
										<div class="form__range-slider-wrap">
											<div class="form__range-slider js-range-slider">
												<div class="form__range-slider-handle js-custom-handle"></div>
											</div>
											<p class="form__range-slider-text form__range-slider-text_min">от 10 000 руб.</p>
											<p class="form__range-slider-text form__range-slider-text_max">до 1 000 000 руб.</p>
										</div>
										{#/RANGE SLIDER#}

										{#ORDER TYPE#}
										<div class="order__type">Индивидуальная разработка</div>
										{#/ORDER TYPE#}

										{#TEXTAREA#}
										<div class="form__textarea-holder">
											<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
										</div>
										{#/TEXTAREA#}

										{#RESPONSE FILE UPLOAD#}
										<div class="order__form-upload-wrap order__form-upload-wrap_response js-add-file-wrap">
											<i class="order__form-upload-icon"></i>
											<div class="order__form-upload-name js-file-name">Загрузите файл</div>
											<div class="order__form-upload">
												<button class="order__form-upload-button js-file-button"></button>
												<input type="file" class="order__form-upload-input js-file-input">
											</div>
										</div>
										{#/RESPONSE FILE UPLOAD#}

										{#PERSONAL INFORMATION#}
										<div class="order__form-personal">
											<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
											<p class="order__form-personal-text">
												Согласен с обработкой персональных данных в соответсвии с
												<a href="#" class="order__form-personal-link">Условиями</a>
											</p>
										</div>
										{#/PERSONAL INFORMATION#}

										{#SUBMIT#}
										<div class="order__form-button-wrap">
											<button type="submit" class="form__submit btn btn_orange">Отправить</button>
										</div>
										{#/SUBMIT#}
									</form>
								</div>
							</div>
						</div>
						{#/CONTENT 1#}

						{#CONTENT 2#}
						<div class="order__content js-menu-content" id="menu-content_2">
							<div class="order__form">
								<div class="form">
									<form>
										<div class="order__form-top">
											{#FORM INPUTS#}
											<div class="order__form-main-part">
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш телефон">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
												</div>
											</div>
											{#/FORM INPUTS#}

											{#FILE UPLOAD#}
											<div class="order__form-upload-wrap js-add-file-wrap">
												<i class="order__form-upload-icon"></i>
												<div class="order__form-upload-name js-file-name">Загрузите файл</div>
												<div class="order__form-upload">
													<button class="order__form-upload-button js-file-button"></button>
													<input type="file" class="order__form-upload-input js-file-input">
												</div>
											</div>
											{#/FILE UPLOAD#}
										</div>

										{#RANGE SLIDER#}
										<div class="form__range-slider-wrap">
											<div class="form__range-slider js-range-slider">
												<div class="form__range-slider-handle js-custom-handle"></div>
											</div>
											<p class="form__range-slider-text form__range-slider-text_min">от 10 000 руб.</p>
											<p class="form__range-slider-text form__range-slider-text_max">до 100 000 руб.</p>
										</div>
										{#/RANGE SLIDER#}

										{#ORDER TYPE#}
										<div class="order__type">Продвижение</div>
										{#/ORDER TYPE#}

										{#TEXTAREA#}
										<div class="form__textarea-holder">
											<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
										</div>
										{#/TEXTAREA#}

										{#RESPONSE FILE UPLOAD#}
										<div class="order__form-upload-wrap order__form-upload-wrap_response js-add-file-wrap">
											<i class="order__form-upload-icon"></i>
											<div class="order__form-upload-name js-file-name">Загрузите файл</div>
											<div class="order__form-upload">
												<button class="order__form-upload-button js-file-button"></button>
												<input type="file" class="order__form-upload-input js-file-input">
											</div>
										</div>
										{#/RESPONSE FILE UPLOAD#}

										{#PERSONAL INFORMATION#}
										<div class="order__form-personal">
											<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
											<p class="order__form-personal-text">
												Согласен с обработкой персональных данных в соответсвии с
												<a href="#" class="order__form-personal-link">Условиями</a>
											</p>
										</div>
										{#/PERSONAL INFORMATION#}

										{#SUBMIT#}
										<div class="order__form-button-wrap">
											<button type="submit" class="form__submit btn btn_orange">Отправить</button>
										</div>
										{#/SUBMIT#}
									</form>
								</div>
							</div>
						</div>
						{#/CONTENT 2#}

						{#CONTENT 3#}
						<div class="order__content js-menu-content" id="menu-content_3">
							<div class="order__form">
								<div class="form">
									<form>
										<div class="order__form-top">
											{#FORM INPUTS#}
											<div class="order__form-main-part">
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Представьтесь, пожалуйста">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш телефон">
												</div>
												<div class="form__input-holder">
													<input type="text" class="form__input" placeholder="Укажите ваш e-mail">
												</div>
											</div>
											{#/FORM INPUTS#}

											{#FILE UPLOAD#}
											<div class="order__form-upload-wrap js-add-file-wrap">
												<i class="order__form-upload-icon"></i>
												<div class="order__form-upload-name js-file-name">Загрузите файл</div>
												<div class="order__form-upload">
													<button class="order__form-upload-button js-file-button"></button>
													<input type="file" class="order__form-upload-input js-file-input">
												</div>
											</div>
											{#/FILE UPLOAD#}
										</div>

										{#RANGE SLIDER#}
										<div class="form__range-slider-wrap">
											<div class="form__range-slider js-range-slider">
												<div class="form__range-slider-handle js-custom-handle"></div>
											</div>
											<p class="form__range-slider-text form__range-slider-text_min">от 1 000 руб.</p>
											<p class="form__range-slider-text form__range-slider-text_max">до 20 000 руб.</p>
										</div>
										{#/RANGE SLIDER#}

										{#ORDER TYPE#}
										<div class="order__type">Поддержка</div>
										{#/ORDER TYPE#}

										{#TEXTAREA#}
										<div class="form__textarea-holder">
											<textarea cols="30" rows="10" class="form__textarea" placeholder="Расскажите немного о вашем проекте"></textarea>
										</div>
										{#/TEXTAREA#}

										{#RESPONSE FILE UPLOAD#}
										<div class="order__form-upload-wrap order__form-upload-wrap_response js-add-file-wrap">
											<i class="order__form-upload-icon"></i>
											<div class="order__form-upload-name js-file-name">Загрузите файл</div>
											<div class="order__form-upload">
												<button class="order__form-upload-button js-file-button"></button>
												<input type="file" class="order__form-upload-input js-file-input">
											</div>
										</div>
										{#/RESPONSE FILE UPLOAD#}

										{#PERSONAL INFORMATION#}
										<div class="order__form-personal">
											<input type="checkbox" class="order__form-checkbox js-checkbox" checked>
											<p class="order__form-personal-text">
												Согласен с обработкой персональных данных в соответсвии с
												<a href="#" class="order__form-personal-link">Условиями</a>
											</p>
										</div>
										{#/PERSONAL INFORMATION#}

										{#SUBMIT#}
										<div class="order__form-button-wrap">
											<button type="submit" class="form__submit btn btn_orange">Отправить</button>
										</div>
										{#/SUBMIT#}
									</form>
								</div>
							</div>
						</div>
						{#/CONTENT 3#}
					</div>
				</div>
			</div>
			<a href="#" class="menu__close js-menu-close"></a>
		</div>
		{#ORDER#}
	</div>
</div>
{#/MOBILE MENUd#}