.contacts {
	padding-top: 30px;
	&__container {

	}
	&__address-map {}
	&__cities {
		display: flex;
		width: 100%;
	}
	&__city {
		padding-bottom: 15px;
		width: 25%;
		font-size: @18;
		.regular();
		line-height: 1.16;
		color: #828282;
		text-align: center;
		margin-bottom: 30px;
		border-bottom: solid 2px rgba(231, 122, 18, 0.3);
		text-decoration: none;
		cursor: pointer;
		&_active {
			color: @orange-color;
			border-bottom: solid 4px @orange-color;
		}
	}
	&__location {
		display: none;
		width: 100%;
		&_active {
			display: flex;
			margin-bottom: 46px;
		}
	}
	&__location-wrap {
		display: flex;
	}
	&__coordinates {
		width: 51%;
	}
	&__address {
		margin-bottom: 33px;
	}
	&__title {
		font-size: @24;
		line-height: 1.16;
		.medium();
		color: @dark-grey-color;
		margin-bottom: 14px;
	}
	&__address-place {
		margin-bottom: 10px;
		font-size: @18;
		line-height: 1.16;
		color: @dark-grey-color;
		.regular();
	}
	&__address-working-hours {
		font-size: @16;
		line-height: 1.375;
		color: #828282;
		.regular();
	}
	&__mail-list {
		margin-bottom: 33px;
	}
	&__mail-item {
		margin-bottom: 14px;
	}
	&__mail {
		color: @orange-color;
		font-size: @18;
		line-height: 1.16;
		.regular();
		&:hover {
			text-decoration: none;
		}
	}
	&__mail-text {
		font-size: @18;
		line-height: 1.16;
		color: @dark-grey-color;
		.regular();
	}
	&__phones {}
	&__phones-number {
		font-size: @24;
		line-height: 1.16;
		.regular();
		color: @dark-grey-color;
		text-decoration: none;
		a {
			text-decoration: none;
			color: @dark-grey-color;
		}
	}
	&__map-and-social {
		width: 49%;
	}
	&__map {
		width: 100%;
		margin-bottom: 43px;
		margin-top: 13px;
	}
	&__social-icon {
		margin-right: 17px;
		display: inline-block;
		text-decoration: none;
		&_vk {
			.svg-icon(icon-vk, 30px, 30px);
		}
		&_fb {
			.svg-icon(icon-fb, 30px, 30px);
		}
		&_inst {
			.svg-icon(icon-instagram, 30px, 30px);
		}
	}

	&__global-map {
		position: relative;
		width: 100%;
		height: 450px;
	}
	&__global-map-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__global-map-marker {
		//.svg-icon(icon-map-marker, 35px, 50px);
		position: absolute;
		top: 190px;
		left: calc(~'50% - 17px');
		&:hover {
		}
	}
	&__global-map-info {
		position: absolute;
		width: 220px;
		height: 116px;
		border-radius: 10px;
		top: 54px;
		left: calc(~'50% - 110px');
		text-align: center;
		background-color: #FFFFFF;
		&:after {
			position: absolute;
			content: '';
			bottom: -45px;
			right: 80px;
			border: 30px solid transparent;
			border-top: 30px solid white;

		}
	}
	&__global-map-title {
		padding-top: 10px;
		padding-bottom: 5px;
		font-size: @18;
		.regular();
		color: @dark-grey-color;
		line-height: 1.16;
	}
	&__global-map-addres {
		font-size: @16;
		.medium();
		color: @orange-color;
		line-height: 1.125;
		padding-bottom: 5px;
	}
	&__global-map-hours {
		font-size: @14;
		.regular();
		color: #828282;
		line-height: 1.35;
	}
	&__select {
		display: none;
	}
	&__select-inner {
		width: 100%;
		height: 40px;
		border-radius: 20px;
		border: solid 1px #E5E5E5;
		font-size: @14;
		padding: 11px 20px;
		margin-bottom: 25px;
		position: relative;
		&:after {
			position: absolute;
			content: '';
			.svg-icon-param(icon-dropdown-caret, 10px, 6px, '[fill]: @{dark-grey-color}');
			right: 20px;
			top: 17px;
			background-color: white;
			z-index: 1;
		}
	}
}

@media screen and (max-width: 1000px) {
	.contacts {
		&__location {
			&_active {
				display: block;
			}
		}
		&__address {
			margin-right: 5%;
		}
		&__mail-list {
			margin-right: 5%;
		}
		&__phones {
			margin-bottom: 30px;
		}
		&__coordinates {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
		&__map-and-social {
			//margin-left: 25%;
			width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
		&__social {
			text-align: center;
		}
	}
}

@media screen and (max-width: 700px) {
	.contacts {
		&__map-and-social {
			width: 100%;
		}
		&__social {
			text-align: left;
		}
		&__title {
			font-size: @18;
		}
		&__address-place {
			font-size: @16;
		}
		&__address-working-hours {
			font-size: @14;
		}
		&__mail {
			font-size: @14;
		}
		&__mail-text {
			font-size: @14;
		}
		&__phones-number {
			font-size: @18;
		}
	}
}

@media screen and (max-width: 630px) {
	.contacts {
		&__cities {
			display: none;
		}
		&__select {
			display: block;
			margin-bottom: 25px;
			.jq-selectbox {
				width: 100%;
			}
		}
		&__title {
			margin-bottom: 14px;
		}
		&__address-place {
			margin-bottom: 12px;
		}
		&__mail-item {
			margin-bottom: 15px;
		}
		&__mail-list {
			margin-bottom: 15px;
		}
		&__map {
			margin-bottom: 22px;
		}
		&__social-icon {
			margin-right: 16px;
		}
		&__location {
			&_active {
				margin-bottom: 23px;
			}
		}
		&__global-map {
			height: 200px;
			overflow: hidden;
		}
		&__global-map-marker {
			//.svg-icon(icon-map-marker, 35px, 50px);
			position: absolute;
			top: 190px;
			left: calc(~'50% - 17px');
			&:hover {
			}
		}
		&__global-map-info {
			position: absolute;
			width: 220px;
			height: 116px;
			border-radius: 10px;
			top: 54px;
			left: calc(~'50% - 110px');
			text-align: center;
			background-color: #FFFFFF;
			&:after {
				position: absolute;
				content: '';
				bottom: -45px;
				right: 80px;
				border: 30px solid transparent;
				border-top: 30px solid white;

			}
		}
		&__global-map-title {
			padding-top: 10px;
			padding-bottom: 5px;
			font-size: @18;
			.regular();
			color: @dark-grey-color;
			line-height: 1.16;
		}
		&__global-map-addres {
			font-size: @16;
			.medium();
			color: @orange-color;
			line-height: 1.125;
			padding-bottom: 5px;
		}
		&__global-map-hours {
			font-size: @14;
			.regular();
			color: #828282;
			line-height: 1.35;
		}
	}
}

@media screen and (max-width: 600px) {
	.contacts {
		padding-top: 0;
	}
}