.map-balloon {
	background: #FFFFFF;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 10px 15px;
	width: 220px;
	height: 116px;
	&:after {
		position: absolute;
		content: '';
		bottom: -45px;
		right: 80px;
		border: 30px solid transparent;
		border-top: 30px solid white;

	}

	&__city {
		font-size: @18;
		.regular();
		color: @dark-grey-color;
		line-height: 1.16;
		text-align: center;
	}
	&__address {
		font-size: @16;
		.medium();
		color: @orange-color;
		line-height: 1.125;
	}
	&__timetable {
		font-size: @14;
		.regular();
		color: #828282;
		line-height: 1.35;
		text-align: center;
	}
}