.reviews {

	&__container {

	}
	&__title {
		.std-title();
		margin-bottom: 40px;
	}
	&__list {
		margin-bottom: 40px;
	}

	&__item {
		display: block;
		text-decoration: none;
		margin-bottom: 33px;
		width: 100%;
		border-radius: 10px;
		overflow: hidden;
		transition: all .3s ease;
		border: 1px solid transparent;
		&:hover {
			border: 1px solid rgba(231, 122, 18, 0.1);
			box-shadow: 0px 0px 30px rgba(231, 122, 18, 0.1);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item-top {
		display: flex;
		align-items: flex-start;
		padding: 16px 20px 20px 20px;
	}
	&__item-rating-wrap {
		margin-right: 70px;
		min-width: 150px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__item-rating {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&__item-rating-star {
		.svg-icon(icon-rating-star, 25px, 25px);
		margin-right: 6px;
		&:last-child {
			margin-right: 0;
		}
		.reviews__item-rating_4 & {
			&:last-child {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
		}
		.reviews__item-rating_3 & {
			&:nth-child(4) {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
			&:last-child {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
		}
		.reviews__item-rating_2 & {
			&:nth-child(3) {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
			&:nth-child(4) {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
			&:last-child {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
		}
		.reviews__item-rating_1 & {
			&:nth-child(2) {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
			&:nth-child(3) {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
			&:nth-child(4) {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
			&:last-child {
				.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
			}
		}
	}

	&__item-content {
		flex-grow: 20;
	}
	&__item-content-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&__item-author {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&__item-author-img {
		margin-right: 6px;
		width: 30px;
		height: 30px;
		border-radius: 50%;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&__item-author-name {
		color: @orange-color;
		font-size: @16;
		.regular();
	}
	&__item-source {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.reviews__item-rating-wrap &{
			display: none;
		}
	}
	&__item-source-text {
		color: #828282;
		font-size: @16;
		.regular();
		margin-right: 3px;
	}
	&__item-source-itself {
		color: @orange-color;
		font-size: @16;
		.regular();
	}
	&__item-text {
		color: #828282;
		font-size: @14;
		line-height: 1.357;
		margin-bottom: 23px;
		.regular();
	}
	&__item-info {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&__item-info-date {
		color: #C4C4C4;
		font-size: @14;
		.regular();
		.reviews__item-bottom & {
			color: @orange-color;
		}
	}
	&__item-info-time {
		color: #C4C4C4;
		font-size: @14;
		.regular();
		.reviews__item-bottom & {
			color: @orange-color;
		}
	}
	&__item-info-city {
		color: #C4C4C4;
		font-size: @14;
		.regular();
		.reviews__item-bottom & {
			color: @orange-color;
		}
	}

	&__item-bottom {
		background: rgba(231, 122, 18, 0.05);
		padding: 20px 20px 20px 240px;
	}

	&__button-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 900px) {
	.reviews {

		&__item-top {
			flex-direction: column;
		}
		&__item-rating-wrap {
			width: 100%;
			margin-bottom: 15px;
		}
		&__item-rating {
			margin-right: 0;
		}

		&__item-source {
			display: none;
			.reviews__item-rating-wrap &{
				display: flex;
			}
		}
		&__item-bottom {
			padding: 20px;
		}
	}
}

@media screen and (max-width: 600px) {
	.reviews {

		&__container {
			padding-left: 0;
			padding-right: 0;
		}
		&__item {
			border-radius: 0;
			margin-bottom: 0;
		}
		&__item-rating-star {
			.svg-icon(icon-rating-star, 19px, 19px);
			margin-right: 6px;
			&:last-child {
				margin-right: 0;
			}
			.reviews__item-rating_4 & {
				&:last-child {
					.svg-icon-param(icon-rating-star, 19px, 19px, '[fill]: #E5E5E5');
				}
			}
			.reviews__item-rating_3 & {
				&:nth-child(4) {
					.svg-icon-param(icon-rating-star, 19px, 19px, '[fill]: #E5E5E5');
				}
				&:last-child {
					.svg-icon-param(icon-rating-star, 19px, 19px, '[fill]: #E5E5E5');
				}
			}
			.reviews__item-rating_2 & {
				&:nth-child(3) {
					.svg-icon-param(icon-rating-star, 19px, 19px, '[fill]: #E5E5E5');
				}
				&:nth-child(4) {
					.svg-icon-param(icon-rating-star, 19px, 19px, '[fill]: #E5E5E5');
				}
				&:last-child {
					.svg-icon-param(icon-rating-star, 19px, 19px, '[fill]: #E5E5E5');
				}
			}
			.reviews__item-rating_1 & {
				&:nth-child(2) {
					.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
				}
				&:nth-child(3) {
					.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
				}
				&:nth-child(4) {
					.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
				}
				&:last-child {
					.svg-icon-param(icon-rating-star, 25px, 25px, '[fill]: #E5E5E5');
				}
			}
		}
		&__item-author-name {
			font-size: @14;
		}
		&__item-source-text {
			font-size: @14;
		}
		&__item-source-itself {
			font-size: @14;
		}
	}
}