.help {

	&__container {
	}
	&__title-block {
		padding: 29px 0;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__title-left {
		display: flex;
	}
	&__title-item {
		margin-right: 40px;
		display: flex;
		text-decoration: none;
		align-items: center;
		&:last-child {
			margin-right: 0;
		}
	}
	&__title-text {
		color: @orange-color;
		align-self: center;
		.regular();
		font-size: @16;
		cursor: pointer;
		.help-article__number-of-comments:hover & {
			text-decoration: underline;
		}
	}
	&__title-icon {
		display: inline-block;
		text-align: center;
		color: @orange-color;
		margin-left: 5px;
		padding: 2px 5px;
		.medium();
		font-size: @12;
		line-height: 1.16;
		border-radius: 20px;
		border: solid 2px @orange-color;
	}
	&__come-back-text {
		font-size: @16;
		color: #828282;
		.regular();
		&:hover {
			text-decoration: none;
		}
	}
	&__come-back-arrow {
		.svg-icon(icon-return-arrow, 12px, 12px);
		margin-right: 5px;
		display: inline-block;
	}
	&__main-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
	}
	&__main-list {
		margin-right: 40px;
		display: block;
		width: 63.8%;
	}
	&__item {
		margin-bottom: 42px;
	}
	&__main {}
	&__title {
		display: inline-block;
		.regular();
		color: @orange-color;
		font-size: @24;
		line-height: 1.375;
		margin-bottom: 13px;
		transition: all 1s ease;
		&:hover {
			text-decoration: none;
		}
	}
	&__user-name-and-comments {
		display: flex;
		margin-bottom: 14px;
	}
	&__user {
		display: flex;
		align-items: center;
		text-decoration: none;
		margin-right: 30px;
	}
	&__user-avatar {
		.svg-icon(icon-avatar, 30px, 30px);
		margin-right: 10px;
		min-width: 30px;
	}
	&__user-name {
		.regular();
		font-size: @18;
		color: #828282;
		line-height: 1.16;
		white-space: nowrap;
		.help__user:hover & {
			color: @orange-color;
		}
	}
	&__comments {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	&__comments-icon {
		.svg-icon(icon-comments, 18px, 18px);
		margin-right: 10px;
	}
	&__comments-text {
		color: @orange-color;
		.regular();
		font-size: @18;
		line-height: 1.16;
		border-bottom: dashed 1px @orange-color;
		&:hover {
			border-bottom: dashed 1px transparent;
		}
	}
	&__text {
		.regular();
		font-size: @16;
		color: @dark-grey-color;
		line-height: 1.4;
		margin-bottom: 18px;
	}
	&__date {
		display: flex;
		min-width: 160px;
		padding-top: 6px;
	}
	&__date-icon {
		.svg-icon(icon-calendar, 18px, 18px);
		margin-right: 10px;
	}
	&__date-name {
		.regular();
		font-size: @18;
		color: #828282;
		line-height: 1.16;
	}
	&__button {
		margin-left: auto;
		margin-right: auto;
	}
	&__button-text {
		margin-right: 10px;
		color: @orange-color;
		.regular();
		font-size: @18;
		line-height: 1.16;
	}
	&__button-arrow {
		.svg-icon(icon-arrow-down, 12px, 12px);
	}
	&__main-menu {
		padding: 20px;
		background-color: rgba(231, 122, 18, 0.05);
		border: solid 1px rgba(231, 122, 18, 0.1);
		border-radius: 10px;
		width: 32%;
		height: max-content;
	}
	&__menu-block {
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__menu-block-title {
		margin-bottom: 18px;
		.medium();
		font-size: @18;
		color: @dark-grey-color;
		line-height: 1.125;
	}
	&__menu-block-list {

	}
	&__menu-block-item-wrap {
		margin-bottom: 14px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__menu-block-item {
		.regular();
		font-size: @16;
		color: @orange-color;
		line-height: 1.125;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 900px) {
	.help {
		&__search-block {
			width: 38%;
		}
	}
}

@media screen and (max-width: 700px) {
	.help {
		&__title-left {
			display: none;
		}
		&__main-menu {
			display: none;
		}
		&__title-block {
			padding: 16px 0;
			margin-bottom: 27px;
		}
		&__come-back-text {
			font-size: @12;
			text-decoration: none;
		}
		&__come-back-arrow {
			.svg-icon(icon-return-arrow, 8px, 8px);
			margin-right: 2px;
		}
		&__title {
			font-size: @18;
			line-height: 1.39;
			margin-bottom: 11px;
		}
		&__user-name {
			font-size: @14;
		}
		&__date-name {
			font-size: @14;
		}
		&__text {
			font-size: @14;
			margin-bottom: 14px;
		}
		&__comments-text {
			font-size: @14;
		}
		&__search-block {
			display: none;
		}
		&__main-list {
			width: 100%;
		}
		&__user {
			margin-right: 20px;
		}
		&__user-name-and-comments {
			margin-bottom: 10px;
		}
		&__item {
			margin-bottom: 34px;
			&:last-child {
				margin-bottom: 45px;
			}
		}
		&__main-block {
			margin-bottom: 50px;
		}
		&__button-text {
			margin-right: 5px;
			font-size: @14;
		}
		&__button-arrow {
			.svg-icon(icon-arrow-down, 8px, 8px);
		}
		&__main-block-inner {
			margin-bottom: 15px;
		}
	}
}