.advancement {

	&__serv-desc {
		margin-bottom: 50px;
	}
	&__std-list {
		margin-bottom: 31px;
	}
	&__portfolio {
		margin-bottom: 50px;
	}
	&__reviews {
		margin-bottom: 50px;
	}
	&__start-work {
		margin-bottom: 50px;
	}
	&__order {
		margin-bottom: 50px;
	}
	&__mail-order {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 600px) {
	.advancement {

		&__serv-desc {
			margin-bottom: 45px;
		}
		&__std-list {
			margin-bottom: 25px;
		}
	}

}