.checkout-form {
	background: url(../img/order-bg.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 60px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
		z-index: 5;
	}


	&__container {
		position: relative;
		z-index: 10;
	}
	&__title {
		.std-title();
		margin-bottom: 30px;
	}
	&__content {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
		background: white;
		padding: 40px;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
		border-radius: 25px;
	}

	&__link-wrap {
		display: none;
		align-items: center;
		justify-content: center;
	}
	&__link {
		text-decoration: none;
		height: 40px;
		padding: 0 36px;
		border-radius: 20px;
		background: @orange-color;
		cursor: pointer;
		-webkit-appearance: none;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__link-icon {
		.svg-icon-param(icon-order, 19px, 16px, '[fill]: #ffffff');
		margin-right: 10px;
		text-decoration: none;
	}
	&__link-text {
		color: white;
		.regular();
		font-size: @14;
		text-decoration: none;
	}
}

@media screen and (max-width: 700px) {
	.checkout-form {
		background: white;
		padding: 0;

		&__link-wrap {
			display: flex;
		}
	}
}