.important {
	margin-bottom: 40px;

	&__container {

	}
	&__content {
		background: rgba(231, 122, 18, 0.05);
		position: relative;
		padding: 20px 34px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 4px;
			background: @orange-color;
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 4px;
			background: @orange-color;
		}
	}
	&__title {
		font-size: @24;
		margin-bottom: 10px;
		line-height: 1.375;
		.medium();
		color: @orange-color;
		text-align: center;
	}
	&__text {
		text-align: center;
	}
}