.order {

	&_special {
		padding: 40px;
		background: #FFFFFF;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
	}

	&__tab-list {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}
	&__tab-item {
		width: 33.3333%;
		text-decoration: none;
		text-align: center;

		color: #828282;
		font-size: @18;
		.regular();
		position: relative;
		padding-bottom: 22px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 2px;
			background: rgba(231, 122, 18, 0.3);
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 4px;
			bottom: 0;
			background: @orange-color;
			width: 0;
			transition: all .3s ease;
		}
		&_active {
			&:after {
				width: 100%;
			}
		}
	}
	&__content {
		display: none;
		&_active {
			display: block;
		}
	}

	&__form {

	}

	&__form-top {
		display: flex;
		align-items: center;
	}
	&__form-main-part {
		width: calc(~"100% - 40px - 230px");
		margin-right: 40px;
	}

	&__type {
		font-size: @16;
		color: @orange-color;
		.regular();
		margin-top: -45px;
		text-align: center;
		margin-bottom: 30px;
	}

	&__form-upload-wrap {
		width: 230px;
		min-width: 230px;
		background: #FFFFFF;
		border: 1px solid rgba(231, 122, 18, 0.1);
		border-radius: 10px;
		height: 150px;
		transition: all .3s ease;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: relative;
		&:hover {
			box-shadow: 0px 0px 30px rgba(231, 122, 18, 0.1);
		}
		&_response {
			display: none;
		}
	}
	&__form-upload-icon {
		.svg-icon(icon-upload, 32px, 28px);
		margin-bottom: 15px;
	}
	&__form-upload-name {
		font-size: @16;
		color: @orange-color;
		.regular();
		border-bottom: 1px dashed @orange-color;
	}
	&__form-upload {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__form-upload-input {
		width: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
	}
	&__form-upload-button {
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	&__form-personal {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}
	&__form-checkbox {
		width: 24px;
		height: 24px;
		min-width: 24px;
		border-radius: 5px;
		border: 2px solid @orange-color;
		position: relative;
		margin-right: 15px;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			.svg-icon(icon-checked, 16px, 12px);
			margin-top: -6px;
			margin-left: -8px;
			display: none;
		}
		&.checked {
			&:after {
				display: block;
			}
		}
	}
	&__form-personal-text {
		color: #423D3D;
		font-size: @16;
		.regular();
		line-height: 1.1875;
	}
	&__form-personal-link {
		font-size: @16;
		.regular();
		line-height: 1.1875;
		color: @orange-color;
		&:hover {
			text-decoration: none;
		}
	}

	&__form-button-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}


}

@media screen and (max-width: 900px) {
	.order {
		&_special {
			padding: 0;
			box-shadow: none;
			border-radius: 0;
		}
	}
}

@media screen and (max-width: 700px) {
	.order {

		&__form {
			.advancement__order & {
				display: none;
			}
			.support-form & {
				padding-left: 0;
				padding-right: 0;
			}
			padding-left: 25px;
			padding-right: 25px;
		}
		&__form-main-part {
			width: 100%;
			margin-right: 0;
		}
		&__form-upload-wrap {
			display: none;
			&_response {
				display: flex;
				width: 100%;
				margin-bottom: 25px;
			}
		}

		&__type {
			height: 50px;
			background: rgba(231, 122, 18, 0.05);
			margin-top: 0;
			margin-bottom: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: -20px;
			margin-right: -20px;
		}
	}
}

@media screen and (max-width: 500px) {
	.order {
		&__tab-item {
			font-size: @14;
			padding-bottom: 12px;
		}
		&__type {
			font-size: @14;
		}
		&__form-personal {
			margin-bottom: 35px;
			align-items: flex-start;
		}
		&__form-checkbox {
			width: 20px;
			height: 20px;
			min-width: 20px;
			border: 2px solid @orange-color;
			margin-right: 10px;
			&:after {
				.svg-icon(icon-checked, 13px, 10px);
				margin-top: -5px;
				margin-left: -6px;
			}
		}
		&__form-personal-text {
			font-size: @14;
		}
		&__form-personal-link {
			font-size: @14;
		}
	}
}

@media screen and (max-width: 350px) {
	.order {
		&__form {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__type {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}