.start-work {

	&__container {

	}
	&__title {
		.std-title();
		margin-bottom: 38px;
	}
	&__list {
		display: flex;
		margin-bottom: 10px;
		//margin-bottom: 146px;
	}
	&__item {
		background: rgba(231, 122, 18, 0.05);
		border: 1px solid rgba(231, 122, 18, 0.1);
		border-radius: 10px;
		min-height: 142px;
		margin-right: 20px;
		padding: 20px;
		width: calc(~"(100% - 20px * 3) / 4");
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		&:after {
			content: '';
			position: absolute;
			right: -24px;
			top: 50%;
			margin-top: -6px;
			.svg-icon(icon-union, 28px, 12px);
			z-index: 20;
		}
		&:last-child {
			margin-right: 0;
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	&__item-text {
		position: relative;
		font-size: @16;
		color: @orange-color;
		.regular();
		line-height: 1.375;
		text-align: center;
		&_mobile {
			display: none;
			position: absolute;
			bottom: 10px;
			font-size: @14;
			color: #828282;
		}
	}
	&__item-text-link {
		font-size: @16;
		color: @orange-color;
		.regular();
		line-height: 1.375;
		&:hover {
			text-decoration: none;
		}
	}
	&__under-item {
		position: absolute;
		bottom: -96px;
		right: 0;
		left: 0;
		height: 76px;
		background: rgba(231, 122, 18, 0.05);
		border: 1px solid rgba(231, 122, 18, 0.1);
		border-radius: 10px;
		padding: 20px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__line-left {
		position: absolute;
		border-left: solid 2px @orange-color;
		border-bottom: solid 2px @orange-color;
		width: calc(~'50% + 21px');
		height: calc(~'50% + 20px');
		top: -20px;
		right: 100%;
		&:before {
			position: absolute;
			content: '';
			height: 6px;
			border: 1px solid @orange-color;
			width: 0;
			top: 0;
			left: -5px;
			transform: rotate(40deg);
		}
		&:after {
			position: absolute;
			content: '';
			height: 6px;
			border: 1px solid @orange-color;
			width: 0;
			top: 0;
			left: 1px;
			transform: rotate(-40deg);
		}
	}
	&__line-left-dot {
		position: absolute;
		content: '';
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background-color: @orange-color;
		bottom:-5px;
		right: -3px;
	}
	&__line-right {
		position: absolute;
		border-right: solid 2px @orange-color;
		border-bottom: solid 2px @orange-color;
		width: calc(~'50% + 20px');
		height: calc(~'50% + 20px');
		//width: 130px;
		//height: 62px;
		top: -20px;
		left: 100%;
		&:before {
			position: absolute;
			content: '';
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color: @orange-color;
			top:-3px;
			right: -5px;
		}
		&:after {
			position: absolute;
			content: '';
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color: @orange-color;
			bottom:-5px;
			left: -3px;
		}
	}
}

@media screen and (max-width: 900px) {
	.start-work {

		&__list {
			flex-wrap: wrap;
		}
		&__item {
			width: calc(~"(100% - 20px) / 2");
			margin-bottom: 20px;
			&:nth-child(2) {
				&:after {
					display: none;
				}
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		&__under-item {
			display: none;
		}
		&__item-text {
			&_mobile {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.start-work {

		&__list {
			flex-wrap: nowrap;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&__item {
			width: 100%;
			margin-right: 0;
			min-height: 78px;
			&:after {
				right: 50%;
				margin-right: -14px;
				top: auto;
				margin-top: 0;
				bottom: -18px;
				transform:rotate(90deg);
			}
			&:nth-child(2) {
				&:after {
					display: block;
				}
			}
		}
		&__item-text {
			font-size: @14;
		}
		&__item-text-link {
			font-size: @14;
		}
		&__item-text {
			&_mobile {
				bottom: 5px;
				font-size: @11;
			}
		}
	}
}