.btn {
	height: 50px;
	padding: 0 51px;
	border: 2px solid @orange-color;
	background: transparent;
	cursor: pointer;
	position: relative;

	color: @orange-color;

	font-size: @18;
	text-decoration: none;
	border-radius: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	outline: none;
	-webkit-appearance: none;
	transition: all .3s ease;

	&:hover {
		background: @orange-color;
		color: white;
	}

	&_orange {
		background: @orange-color;
		color: white;

		&:hover {
			background: white;
			color: @orange-color;
		}
	}
	&_block {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	&__text {
		color: @orange-color;
		font-size: @18;
		.regular();
		margin-right: 10px;
		transition: all .3s ease;
		&_local-map {
			margin-right: 0;
		}
		.btn:hover & {
			color: white;
		}
	}
	&__icon {
		.svg-icon(icon-down, 12px, 12px);
		transition: all .3s ease;
		&_right {
			transform: rotate(-90deg);
		}
		.btn:hover & {
			.svg-icon-param(icon-down, 12px, 12px, '[fill]: #ffffff');
		}
	}
	&__small {
		height: 40px;
		padding: 0 30px;
		font-size: @16;
		margin-top: -10px;

	}
}

@media screen and (max-width: 600px) {
	.btn {
		padding: 0 33px;
		height: 40px;
		font-size: @14;

		&__text {
			font-size: @14;
		}
	}
}

@media screen and (max-width: 500px) {
	.btn {
		&__small {
			margin-right: auto;
			margin-left: auto;
			padding: 0 74px;
			margin-top: -4px;
		}
	}
}
