.form {
	&__input-holder {
		margin-bottom: 20px;
	}
	&__input {
		display: block;
		width: 100%;
		height: 50px;
		background: #FFFFFF;
		border: 2px solid #E5E5E5;
		border-radius: 25px;
		padding: 0 25px;

		color: @dark-grey-color;
		.regular();
		font-size: @16;
		-webkit-appearance: none;
		&::-webkit-input-placeholder {
			color: #828282;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:focus {
			border-color: rgba(231, 122, 18, 0.3);
		}
		&_error {
			border-color: #ff0000;
		}
	}
	&__textarea-holder {
		margin-bottom: 30px;
	}
	&__textarea {
		display: block;
		width: 100%;
		height: 116px;
		background: white;
		border-radius: 10px;
		border: 2px solid #E5E5E5;
		padding: 14px 25px;

		color: @dark-grey-color;
		.regular();
		font-size: @16;
		-webkit-appearance: none;

		&::-webkit-input-placeholder {
			color: #828282;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:focus {
			border-color: rgba(231, 122, 18, 0.3);
		}
		&_error {
			border-color: #ff0000;
		}
	}

	&__select-holder {
		margin-bottom: 20px;
	}

	&__range-slider-wrap {
		margin-bottom: 30px;
		padding-top: 53px;
		padding-bottom: 40px;
		position: relative;
	}
	&__range-slider {
		width: 100%;
	}
	&__range-slider-text {
		color: #828282;
		font-size: @16;
		.regular();
		position: absolute;
		bottom: 0;
		&_min {
			left: 0;
		}
		&_max {
			right: 0;
		}
	}
	&__range-slider-handle {
		//position: absolute;
		color: @dark-grey-color;
		font-size: @16;
		.regular();
	}
	&__range-slider-tooltip {
		color: @dark-grey-color;
		font-size: @16;
		.regular();
		position: absolute;
		top: -30px;
		left: 10px;
		white-space: nowrap;
	}
}

@media screen and (max-width: 500px) {
	.form {

		&__input-holder {
			margin-bottom: 15px;
		}
		&__input {
			height: 40px;
			font-size: @14;
			padding: 0 20px;
		}
		&__textarea-holder {
			margin-bottom: 25px;
		}
		&__textarea {
			padding: 11px 20px;
			font-size: @14;
			height: 136px;
		}
		&__select-holder {
			margin-bottom: 15px;
		}

		&__range-slider-text {
			font-size: @14;
		}
		&__range-slider-handle {
			font-size: @14;
		}
		&__range-slider-tooltip {
			font-size: @14;
		}
	}
}

