.svg-icon(@icon, @width, @height) {
	background: svg('@{icon}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.svg-icon-param(@icon, @width, @height, @param) {
	background: svg('@{icon}', '@{param}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

@orange-color: #e77a12;
@dark-grey-color:  #404040;

.std-title() {
	color: @dark-grey-color;
	font-size: @30;
	.regular();
	text-align: center;

	@media screen and (max-width: 600px) {
		font-size: @19;
		line-height: 1.368;
	}
}
