.back-link {
	padding: 21px 25px;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 25px;
	text-decoration: none;
	margin-top: -25px;
	display: none;

	&__icon {
		.svg-icon(icon-return-arrow, 8px, 8px);
		margin-right: 5px;
	}
	&__text {
		color: #828282;
		font-size: @12;
		.regular();
	}
}

@media screen and (max-width: 600px) {
	.back-link {
		display: flex;
	}
}