.dev-card {
	width: calc(~"(100% - 20px * 2) / 3");
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	&:nth-child(3n) {
		margin-right: 0;
	}

	&__img-wrap {
		text-decoration: none;
		display: block;
		height: 110px;
		margin-bottom: 10px;
		text-align: center;
	}
	&__img {
		max-height: 100%;
		max-width: 100%;
	}
	&__text-wrap {

	}
	&__title-wrap {
		margin-bottom: 9px;
		text-align: center;
	}
	&__title {
		font-size: @18;
		.regular();
		color: @orange-color;
		&:hover {
			text-decoration: none;
		}
	}
	&__desc {
		color: @dark-grey-color;
		font-size: @16;
		line-height: 1.375;
		.regular();
		text-align: center;
	}

}

@media screen and (max-width: 900px) {
	.dev-card {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0;

		&__img {
			margin-left: auto;
			margin-right: auto;
		}
	}
}