.bd-dropdown {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	background: white;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
	&_active {
		opacity: 1;
		visibility: visible;
		z-index: 110;
	}

	&__search-block {
		padding: 15px 25px;
		background: white;
	}
	&__search-wrap {
		width: 100%;
		position: relative;
	}
	&__search {
		width: 100%;
		border-radius: 25px;
		border: 1px solid #E5E5E5;
		height: 40px;
		padding: 0 45px 0 20px;

		color:  @dark-grey-color;
		font-size: @14;
		.regular();

		-webkit-appearance: none;
		outline: none;

		&::-webkit-input-placeholder {
			color: #828282;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #828282;
			opacity: 1;
		}
	}
	&__search-button {
		.svg-icon(icon-magnify, 20px, 20px);
		border: 0;
		cursor: pointer;
		padding: 0;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -10px;
	}

	&__link-list {
		display: flex;
		flex-direction: column;
	}
	&__link {
		width: 100%;
		text-decoration: none;
		height: 60px;
		padding-left: 65px;
		background: white;

		color: @dark-grey-color;
		font-size: @16;
		.regular();

		display: flex;
		align-items: center;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 25px;
			top: 50%;
			margin-top: -5px;
			.svg-icon-param(icon-dropdown-caret, 6px, 10px, '[fill]: @dark-grey-color');
			transform: rotate(-90deg);
		}
		&:before {
			content: '';
			position: absolute;
			left: 25px;
			top: 50%;
			margin-top: -10px;
		}
		&_lk {
			&:before {
				.svg-icon-param(icon-dropdown-user, 15px, 20px, '[fill]: @dark-grey-color');
			}
		}
		&_support {
			&:before {
				.svg-icon(icon-message, 20px, 20px);
			}
		}
		&_order {
			&:before {
				.svg-icon-param(icon-order, 20px, 20px, '[fill]: @dark-grey-color');
			}
		}
		&_help {
			&:before {
				.svg-icon(icon-help, 20px, 20px);
			}
		}
		&_exit {
			display: none;
			&:before {
				.svg-icon(icon-exit, 14px, 20px);
			}
			.header__user_login & {
				display: block;
			}
		}
	}
}