.footer {

	&__top {
		background: @dark-grey-color;
		padding: 40px 0;
	}
	&__top-container {

	}
	&__nav {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 45px;
	}
	&__nav-column {

	}
	&__nav-title {
		font-size: @18;
		color: white;
		.medium();
		margin-bottom: 20px;
	}
	&__nav-list {

	}
	&__nav-item {
		margin-bottom: 14px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__nav-item-link {
		font-size: @14;
		color: white;
		.regular();
		text-decoration: none;
		transition: all .3s ease;
		&:hover {
			color: @orange-color;
		}
	}

	&__serv {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__phone-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 48%;
	}
	&__phone {
		font-size: @24;
		.medium();
		color: white;
		text-decoration: none;
		transition: all .3s ease;
		&:hover {
			color: @orange-color;
		}
	}

	&__serv-right {
		width: 47%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__order {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	&__order-icon {
		.svg-icon(icon-order, 21px, 20px);
		margin-right: 7px;
	}
	&__order-link {
		font-size: @16;
		color: white;
		.regular();
		text-decoration: none;
		transition: all .3s ease;
		border-bottom: 1px dashed white;
		padding-bottom: 4px;
		.footer__order:hover & {
			border-bottom-color: transparent;
		}
	}
	&__search-block {
		//width: 25.5102041%;
		width: 250px;
	}

	&__bottom {
		background: #393939;
		padding: 20px 0;
	}
	&__bottom-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__info {

	}
	&__copyright {
		font-size: @16;
		color: white;
		.regular();
		margin-bottom: 17px;
	}
	&__info-links {
		display: flex;
		align-items: center;
	}
	&__info-links-item {
		margin-right: 23px;
		font-size: @12;
		color: white;
		.regular();
		text-decoration: none;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__bottom-right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 49%;
	}

	&__share {

		.pluso-more {
			display: none !important;
		}
		.pluso-counter {
			display: none !important;
		}
		.pluso-110010011001-14 .pluso-wrap >div {
			border-radius: 15px !important;
			margin-right: 20px !important;
			height: 25px !important;
			min-width: 60px !important;
			vertical-align: middle;
			background: white !important;
			position: relative;
		}
		.pluso-110010011001-14 .pluso-wrap a {
			margin: 0 !important;
			position: absolute;
			top: 0;
			left: 0;
		}
		.pluso-110010011001-14 .pluso-wrap a.pluso-vkontakte {
			.svg-icon(icon-share-vk, 25px, 25px) !important;
		}
		.pluso-110010011001-14 .pluso-wrap a.pluso-facebook {
			.svg-icon(icon-share-fb, 25px, 25px) !important;
		}
		.pluso-110010011001-14 .pluso-wrap a.pluso-twitter {
			.svg-icon(icon-share-twitter, 25px, 25px) !important;
		}
		.pluso-110010011001-14 .pluso-wrap div b {
			color: @dark-grey-color !important;
			.regular();
			font-size: @12;
			float: none;
			margin-left: 30px;
			line-height: 25px;
		}
	}
	&__socials {
		display: flex;
		align-items: center;
	}
	&__socials-item {
		text-decoration: none;
		margin-right: 30px;
		transition: all .3s ease;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			filter: drop-shadow(0 0 4px @orange-color);
		}
		&_vk {
			.svg-icon(icon-social-vk, 26px, 15px);
		}
		&_fb {
			.svg-icon(icon-social-facebook, 13px, 26px);
		}
		&_instagram {
			.svg-icon(icon-social-instagram, 21px, 21px);
		}
		&_youtube {
			.svg-icon(icon-social-youtube, 27px, 19px);
		}
	}
}

@media screen and (max-width: 950px) {
	.footer {

		&__serv {
			flex-direction: column;
			align-items: flex-start;
		}
		&__phone-list {
			margin-bottom: 20px;
			width: 100%;
			justify-content: flex-start;
		}
		&__serv-right {
			width: 100%;
			justify-content: flex-start;
		}
		&__phone {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
		&__order {
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: 900px) {
	.footer {

		&__top {
			padding: 25px 0;
		}
		&__nav {
			display: none;
		}
		&__serv {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		&__phone-list {
			flex-direction: column;
			width: auto;
			margin-bottom: 0;
			margin-right: 30px;
		}
		&__phone {
			margin-right: 0;
			white-space: nowrap;
			&:first-child {
				margin-bottom: 22px;
			}
		}
		&__serv-right {
			width: auto;
		}
		&__order-icon {
			display: none;
		}
		&__order-link {
			text-indent: -9999px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: @orange-color;
			position: relative;
			border-bottom: 0;
			&:after {
				content: '';
				position: absolute;
				.svg-icon-param(icon-order, 21px, 20px,'[fill]: #ffffff');
				left: 50%;
				top: 50%;
				margin-top: -10px;
				margin-left: -10px;
				z-index: 20;
			}
		}
		&__search-block {
			display: none;
		}
		&__bottom {
			padding: 28px 0;
		}
		&__bottom-container {
			flex-direction: column-reverse;
			align-items: center;
		}
		&__bottom-right {
			justify-content: center;
			margin-bottom: 15px;
			width: 100%;
		}
		&__socials-item {
			margin-right: 40px;
		}
		&__share {
			display: none;
		}
		&__copyright {
			text-align: center;
		}
		&__info-links-item {
			margin-right: 0;
			&:last-child {
				display: none;
			}
		}
		&__copyright {
			font-size: @14;
			margin-bottom: 17px;
		}
	}
}