.full-version {
	display: none;
	&__click {
		background-color: #FAFAFA;
		height: 50px;
		width: 100%;
		border: none;
		text-align: center;
		&:hover {
			background-color: #c6c6c6;

		}
	}
	&__text {
		color: @dark-grey-color;
		font-size: @14;
		line-height: 1.14;
		.regular();
		margin-right: 10px;
	}
	&__arrow {
		display: inline-block;
		.svg-icon(icon-right-arrow, 6px, 10px);
	}
}

@media screen and (max-width: 600px) {
	.full-version {
		display: block;
	}
}