.header {
	position: relative;
	padding: 25px 30px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	z-index: 15;
	background: white;
	&_main {
		box-shadow: none;
		background: transparent;
	}
	&.menu-open {
		z-index: 100;
	}
	&.user-dropdown-open {
		z-index: 300;
	}

	&__burger {
		width: 30px;
		height: 19px;
		position: absolute;
		text-decoration: none;
		left: 30px;
		top: 35px;
		z-index: 300;
	}
	&__burger-line {
		position: absolute;
		left: 0;
		right: 0;
		height: 3px;
		background: @dark-grey-color;
		border-radius: 4px;
		transition: all .3s ease;
		&:first-child {
			top: 0;
		}
		&:nth-child(2) {
			top: 8px;
		}
		&:last-child {
			top: 16px;
		}
		.menu & {
			transition: all .5s ease 1s;
		}
		.header__burger_active & {
			&:first-child {
				transform: rotate(-45deg);
				top: 10px;
			}
			&:nth-child(2) {
				opacity: 1;
				visibility: hidden;
			}
			&:last-child {
				transform: rotate(45deg);
				top: 10px;
			}
		}

	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		width: 140px;
		height: 40px;
		text-decoration: none;
	}
	&__logo-img {
		width: 100%;
		height: 100%;
	}
	&__main-part {
		display: flex;
		align-items: center;
	}
	&__nav {
		display: flex;
		align-items: center;
		margin-right: 27px;
	}
	&__nav-item {
		margin-right: 40px;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
	}
	&__nav-item-link {
		text-decoration: none;
		color: @dark-grey-color;
		font-size: @16;
		.regular();
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: -9px;
			height: 4px;
			left: 0;
			right: 0;
			width: 0;
			background: @orange-color;
			transition: all .3s ease;
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
		&_active {
			&:after {
				width: 100%;
			}
		}
	}

	&__blog-notification {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #EF3C3C;
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: @14;
		color: white;
		.medium();

		position: absolute;
		right: -19px;
		top: -24px;

	}

	&__search {
		.svg-icon-param(icon-magnify, 20px, 20px, '[fill]: @dark-grey-color');
		margin-right: 20px;
		text-decoration: none;
		display: none;
	}
	&__user-wrap {
		position: relative;
	}
	&__user {
		display: block;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		overflow: hidden;
		background: rgba(231, 122, 18, 0.1);
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			.svg-icon(icon-user, 14px, 20px);
			margin-top: -10px;
			margin-left: -7px;
		}
		.header__user-wrap_login & {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			&:after {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.header {
		&__burger {
			.menu & {
				left: 18px;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.header {
		padding: 25px 25px;

		&__burger {
			left: 25px;
		}
		&__container {
			padding-left: 55px + 20px;
			padding-right: 0;
		}
		&__nav {
			margin-right: 20px;
		}
		&__nav-item {
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: 900px) {
	.header {
		padding: 12px 25px;

		&__burger {
			width: 20px;
			height: 12px;
			top: 24px;
		}
		&__burger-line {
			height: 2px;
			&:nth-child(2) {
				top: 5px;
			}
			&:last-child {
				top: 10px;
			}
		}
		&__container {
			padding-left: 40px;
		}
		&__logo {
			width: 105px;
			height: 30px;
		}

		&__nav {
			display: none;
		}
		&__search {
			display: block;
		}
	}
}

@media screen and (max-width: 350px) {
	.header {
		padding: 12px 15px;

		&__burger {
			left: 15px;
		}
	}
}