.info-box {
	font-size: @16;
	color: @dark-grey-color;
	.regular();

	.portfolio-desc__text & {
		font-size: @24;
		color: inherit;
		line-height: 1.45;
	}
	p {
		color: inherit;
		font-size: inherit;
		line-height: 1.4;
		margin-bottom: 22px;
		&:last-child {
			margin-bottom: 0;
		}
		&:only-child {
			margin-bottom: 0;
		}
		.info-box_note & {
			font-size: @14;
		}
	}
	b {
		.medium();

		.serv-desc__card & {
			color: @orange-color;
		}
		.info-box_note & {
			font-size: @14;
		}
	}
	img {
		margin-bottom: 40px;
		/*max-*/width: 100%;
	}
	h4 {
		font-size: @24;
		margin-bottom: 10px;
		.medium();
		line-height: 1.16;
	}

	a {
		color: @orange-color;
		.medium();
		&:hover {
			text-decoration: none;
		}
	}
	ul {
		margin-bottom: 10px;
	}
	li {
		padding-left: 19px;
		position: relative;
		margin-bottom: 15px;
		line-height: 1.375;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			height: 15px;
			width: 4px;
			background: @orange-color;
			border-radius: 5px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.info-box {

		.portfolio-desc__text & {
			font-size: @14;
			line-height: 1.4;
		}
		li {
			padding-left: 12px;
			margin-bottom: 10px;
			&:before {
				top: 2px;
				height: 15px;
				width: 2px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.info-box {

		p {
			font-size: @14;
		}
		img {
			margin-left: -25px;
			width: calc(~'100% + 50px');
			margin-bottom: 20px;
		}
		h4 {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
}