.local-map {
	//width: 460px;
	//height: 232px;
	width: 100%;
	height: 0;
	padding-bottom: 50.4347826%;
	position: relative;

	&__inner {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		background: url(../img/local-map.svg) no-repeat center center;
		background-size: cover;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__button {
		//position: absolute;
		padding: 0 25px;
		//top: calc(~'50% - 25px');
		//left: calc(~'50% - 170px');
		background: white;
	}
	&__button-icon {
		.svg-icon(icon-pin, 22px, 26px);
		margin-right: 15px;
		.btn:hover & {
			.svg-icon-param(icon-pin, 22px, 26px, '[fill]: white');
		}
	}
	&__button-text {
		color: @orange-color;
		.regular();
		line-height: 1.14;
		.btn:hover & {
			color: white;
		}
	}
}

@media screen and (max-width: 500px) {
	.local-map {
		//width: 315px;
		//height: 159px;

		&__button {
			//position: absolute;
			padding: 0 25px;
			//top: 59px;
			//left: 29px;

		}
		&__button-icon {
			.svg-icon(icon-pin, 15px, 18px);
			margin-right: 10px;
		}
		&__button-text {
			font-size: @14;
		}
	}

}