.mail-order {

	&__container {

	}
	&__title {
		color: @dark-grey-color;
		margin-bottom: 39px;
		font-size: @24;
		.medium();
		text-align: center;
	}
	&__link-wrap {
		text-align: center;
		margin-bottom: 50px;
	}
	&__link {
		font-size: @24;
		color: @orange-color;
		.regular();
		&:hover {
			text-decoration: none;
		}
	}
	&__list {
		display: flex;
		align-items: flex-start;
	}
	&__item {
		width: calc(~"(100% - 90px * 2) / 3");
		margin-right: 90px;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	&__item-img-wrap {
		margin-bottom: 20px;
		text-align: center;
	}
	&__item-img {

	}
	&__item-title {
		font-size: @24;
		color: @dark-grey-color;
		text-align: center;
		.regular();
		margin-bottom: 15px;
	}
	&__item-phone-wrap {
		margin-bottom: 13px;
		text-align: center;
	}
	&__item-phone {
		color: @dark-grey-color;
		font-size: @24;
		.medium();
		text-decoration: none;
		a {
			color: @dark-grey-color;
			text-decoration: none;
		}
	}
	&__item-desc {
		color: #828282;
		text-align: center;
		font-size: @16;
		.regular();
		line-height: 1.375;
	}
}

@media screen and (max-width: 900px) {
	.mail-order {

		&__list {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&__item {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.mail-order {
		&__title {
			margin-bottom: 25px;
			font-size: @16;
		}
		&__link-wrap {
			margin-bottom: 45px;
		}
		&__link {
			font-size: @16;
		}
		&__item-title {
			font-size: @16;
			margin-bottom: 5px;
		}
		&__item-phone-wrap {
			margin-bottom: 5px;
		}
		&__item-phone {
			font-size: @16;
		}
		&__item-desc {
			font-size: @14;
		}
	}
}