.menu {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 200;
	background: white;
	overflow: auto;
	overflow-x: hidden;

	&_active {
		display: block;
	}

	&__wrap {
		display: flex;
		min-height: 100vh;
	}
	&__close {
		position: absolute;
		.svg-icon(icon-close, 25px, 25px);
		top: 33px;
		right: 33px;
		text-decoration: none;
		.menu__nav & {
			display: none;
			top: 22px;
			right: 27px;
			.svg-icon-param(icon-close, 16px, 16px, '[fill]: white');
		}
	}

	&__left {
		width: 40.9722222%;
		display: flex;
	}
	&__sidebar {
		width: 90px;
		background: white;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		//align-items: center;
		padding-bottom: 30px;
	}
	&__sidebar-top {
		display: flex;
		height: 19%;
		align-items: flex-end;
		justify-content: center;
	}
	&__search {
		display: block;
		.svg-icon-param(icon-magnify, 31px, 31px, '[fill]: @{dark-grey-color}');
		text-decoration: none;
	}
	&__sidebar-socials {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height: 38%;
	}
	&__sidebar-socials-item {
		transition: all .3s ease;
		&_vk {
			.svg-icon-param(icon-social-vk, 38px, 23px, '[fill]: @{dark-grey-color}');
			&:hover {
				.svg-icon-param(icon-social-vk, 38px, 23px, '[fill]: @{orange-color}');
			}
		}
		&_fb {
			.svg-icon-param(icon-social-facebook, 19px, 38px, '[fill]: @{dark-grey-color}');
			&:hover {
				.svg-icon-param(icon-social-facebook, 19px, 38px, '[fill]: @{orange-color}');
			}
		}
		&_instagram {
			.svg-icon-param(icon-social-instagram, 31px, 31px, '[fill]: @{dark-grey-color}');
			&:hover {
				.svg-icon-param(icon-social-instagram, 31px, 31px, '[fill]: @{orange-color}');
			}
		}
		&_youtube {
			.svg-icon-param(icon-social-youtube, 40px, 28px, '[fill]: @{dark-grey-color}');
			&:hover {
				.svg-icon-param(icon-social-youtube, 40px, 28px, '[fill]: @{orange-color}');
			}
		}
	}

	&__nav {
		width: calc(~"100% - 90px");
		display: flex;
		flex-wrap: wrap;
		height: 100%;
	}
	&__nav-item {
		width: 50%;
		height: 25%;
		background: @dark-grey-color;
		text-decoration: none;

		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s ease;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background: @orange-color;
			height: 4px;
			opacity: 0;
			visibility: hidden;
			transition: all .5s ease;
		}
		//&:before {
		//	content: '';
		//	position: absolute;
		//	left: 0;
		//	right: 0;
		//	bottom: 0;
		//	background: @orange-color;
		//	height: 4px;
		//	opacity: 0;
		//	visibility: hidden;
		//	transition: all .5s ease;
		//	animation: cssload-spin .5s ease;
		//}
		&:hover {
			background: #393939;
			&:after {
				opacity: 1;
				visibility: visible;
			}
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__nav-item-content {
		//position: relative;
	}
	&__nav-item-icon {
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		&_gear {
			.svg-icon(icon-menu-gear, 31px, 31px);
		}
		&_case {
			.svg-icon(icon-menu-case, 31px, 31px);
		}
		&_grid {
			.svg-icon(icon-menu-grid, 31px, 31px);
		}
		&_pin {
			.svg-icon(icon-menu-pin, 26px, 31px);
		}
		&_house {
			.svg-icon(icon-menu-house, 31px, 31px);
		}
		&_users {
			.svg-icon(icon-menu-users, 38px, 31px);
		}
		&_star {
			.svg-icon(icon-menu-star, 31px, 31px);
		}
		&_write {
			.svg-icon(icon-menu-write, 31px, 31px);
		}
	}
	&__nav-item-text {
		color: white;
		font-size: @24;
		.regular();
		text-align: center;
	}
	&__nav-item-count {
		position: absolute;
		background: #EF3C3C;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		right: 75px;
		top: 25px;
		display: flex;
		align-items: center;
		justify-content: center;

		color: white;
		.medium();
		font-size: @18;
	}

	&__order {
		flex-grow: 20;
		padding: 33px 90px 42px 90px;
		position: relative;
		background: white;
	}
	&__order-main-part {

	}
	&__order-title {
		color: @dark-grey-color;
		margin-bottom: 44px;
		text-align: center;
		font-size: @24;
		.medium();
	}

}

@media screen and (max-width: 1300px) {
	.menu {

		&__sidebar {
			width: 70px;
		}
		&__nav {
			width: calc(~"100% - 70px");
		}
		&__order {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.menu {
		&__left {
			width: 50%;
		}
	}
}

@media screen and (max-width: 1000px) {
	.menu {

		&__close {
			.menu__nav & {
				display: block;
			}
		}
		&__left {
			width: 100%;
			flex-direction: column-reverse;
		}
		&__sidebar {
			width: 100%;
			height: 60px;
			background: white;
		}
		&__sidebar-socials {
			flex-direction: row;
			justify-content: center;
			min-height: 60px;
			height: 60px;
		}
		&__sidebar-socials-item {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
			&_vk {
				.svg-icon-param(icon-social-vk, 26px, 15px, '[fill]: @{dark-grey-color}');
				&:hover {
					.svg-icon-param(icon-social-vk, 26px, 15px, '[fill]: @{orange-color}');
				}
			}
			&_fb {
				.svg-icon-param(icon-social-facebook, 13px, 26px, '[fill]: @{dark-grey-color}');
				&:hover {
					.svg-icon-param(icon-social-facebook, 13px, 26px, '[fill]: @{orange-color}');
				}
			}
			&_instagram {
				.svg-icon-param(icon-social-instagram, 21px, 21px, '[fill]: @{dark-grey-color}');
				&:hover {
					.svg-icon-param(icon-social-instagram, 21px, 21px, '[fill]: @{orange-color}');
				}
			}
			&_youtube {
				.svg-icon-param(icon-social-youtube, 27px, 19px, '[fill]: @{dark-grey-color}');
				&:hover {
					.svg-icon-param(icon-social-youtube, 27px, 19px, '[fill]: @{orange-color}');
				}
			}
		}
		&__nav {
			width: 100%;
			flex-direction: column;
			flex-wrap: nowrap;
			background: @dark-grey-color;
			padding-top: 60px;
		}
		&__nav-item {
			width: 100%;
			height: 60px;

			display: flex;
			align-items: center;
			justify-content: flex-start;
			transition: all .3s ease;
			position: relative;
			padding-left: 28px;
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
		}
		&__nav-item-content {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-right: 7px;
		}
		&__nav-item-icon {
			margin-bottom: 0;
			margin-right: 18px;
			&_gear {
				.svg-icon(icon-menu-gear, 20px, 20px);
			}
			&_case {
				.svg-icon(icon-menu-case, 20px, 20px);
			}
			&_grid {
				.svg-icon(icon-menu-grid, 20px, 20px);
			}
			&_pin {
				.svg-icon(icon-menu-pin, 17px, 20px);
			}
			&_house {
				.svg-icon(icon-menu-house, 20px, 20px);
			}
			&_users {
				.svg-icon(icon-menu-users, 25px, 20px);
			}
			&_star {
				.svg-icon(icon-menu-star, 20px, 20px);
			}
			&_write {
				.svg-icon(icon-menu-write, 20px, 20px);
			}
		}
		&__nav-item-text {
			font-size: @16;
		}
		&__nav-item-count {
			width: 22px;
			height: 22px;
			right: auto;
			top: auto;
			font-size: @14;
			position: relative;
		}
		&__order {
			display: none;
		}
	}
}