.nav-line {
	padding: 20px 0;
	margin-bottom: 30px;

	&_only-child {
		padding: 31px 0;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__menu {
		display: flex;
		align-items: center;
		margin-left: -20px;
		flex-wrap: wrap;
	}
	&__menu-item {
		text-decoration: none;
		color: @orange-color;
		font-size: @16;
		.regular();

		background: transparent;
		border-radius: 20px;
		cursor: pointer;
		-webkit-appearance: none;
		outline: none;

		padding: 0 20px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s ease;
		&_active {
			background: rgba(231, 122, 18, 0.1);
		}
		&:hover {
			background: rgba(231, 122, 18, 0.1);
		}
	}
	&__years {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__years-item {
		color: #828282;
		.regular();
		font-size: @18;
		text-decoration: none;
		margin-right: 20px;
		transition: all .3s ease;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: @orange-color;
		}
		&_active {
			color: @orange-color;
		}
	}

	&__return-link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-decoration: none;
	}
	&__return-link-icon {
		.svg-icon(icon-return-arrow, 12px, 12px);
		margin-right: 10px;
		margin-top: 2px;
	}
	&__return-link-text {
		color: #828282;
		font-size: @16;
		.regular();
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 900px) {
	.nav-line {
		&__container {
			flex-direction: column;
			align-items: flex-start;
		}
		&__menu {
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 600px) {
	.nav-line {
		display: none;
	}
}