.search {

	&__block {
		/*//width: 25.5102041%;
		width: 250px;*/
		width: 100%;
		position: relative;
	}
	&__input-text {
		width: 100%;
		background: #FFFFFF;
		border-radius: 25px;
		height: 40px;

		-webkit-appearance: none;
		border: none;
		outline: none;
		padding: 0 50px 0 25px;

		font-size: @16;
		color: @dark-grey-color;

		&::-webkit-input-placeholder {
			color: #828282;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #828282;
			opacity: 1;
		}
		.title-line__search-block & {
			border: 2px solid #E5E5E5;
		}
	}
	&__button {
		position: absolute;
		right: 25px;
		top: 9px;
		.svg-icon(icon-magnify, 22px, 22px);
		padding: 0;
		border: 0;
		-webkit-appearance: none;
		outline: none;
		cursor: pointer;
	}
}