.serv-desc {

	&__container {

	}
	&__text {
		margin-bottom: 30px;
	}
	&__card {
		background: rgba(231, 122, 18, 0.05);
		border: 1px solid rgba(231, 122, 18, 0.1);
		border-radius: 10px;
		padding: 20px 50px;
		display: flex;
		align-items: center;
	}
	&__card-icon-wrap {
		width: 48px;
		min-width: 48px;
		margin-right: 50px;
	}
	&__card-icon {
		width: 48px;
		height: 48px;
	}
	&__card-text-wrap {
		flex-grow: 20;
	}
	&__card-title {
		color: @dark-grey-color;
		margin-bottom: 14px;
		font-size: @24;
		.medium();
	}
	&__card-text {

	}
}

@media screen and (max-width: 600px) {
	.serv-desc {

		&__text {
			margin-bottom: 26px;
		}
		&__card {
			padding: 20px;
			align-items: flex-start;
		}
		&__card-icon-wrap {
			width: 38px;
			min-width: 38px;
			margin-right: 30px;
		}
		&__card-icon {
			width: 38px;
			height: 38px;
		}
		&__card-title {
			margin-bottom: 5px;
			font-size: @18;
			line-height: 1.3;
		}
	}
}