.serv-card {
	width: calc(~"(100% - 20px * 2) / 3");
	margin-right: 20px;
	margin-bottom: 20px;
	transition: all .3s ease;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	padding: 20px;
	min-height: 146px;
	border: 1px solid transparent;

	&:hover {
		border-color: rgba(231, 122, 18, 0.1);
		box-shadow: 0px 0px 30px rgba(231, 122, 18, 0.1);
	}
	&:nth-child(3n) {
		margin-right: 0;
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	&__icon-wrap {
		width: 30px;
		min-width: 30px;
		height: 24px;
		margin-right: 9px;
	}
	&__icon {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
	&__title {
		color: @dark-grey-color;
		font-size: @24;
		.medium();
		line-height: 1.16;
		flex-grow: 20;
	}
	&__desc {
		color: #828282;
		font-size: @16;
		.regular();
		line-height: 1.375;
	}
}

@media screen and (max-width: 900px) {
	.serv-card {
		display: block;
		width: 100%;
		margin-right: 0;
		min-height: 146px;
		border: 1px solid rgba(231, 122, 18, 0.1);
		box-shadow: 0px 0px 15px rgba(231, 122, 18, 0.05);
		&:nth-child(2n) {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.serv-card {

		&__top {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}
		&__icon-wrap {
			width: 30px;
			min-width: 30px;
			margin-right: 9px;
		}
		&__icon {
			display: block;
			&_users {
				.svg-icon-param(icon-menu-users, 30px, 24px, '[fill]: @{orange-color}');
			}
			&_case {
				.svg-icon-param(icon-menu-case, 24px, 24px, '[fill]: @{orange-color}');
			}
			&_user {
				.svg-icon(icon-user, 18px, 24px);
			}
			&_house {
				.svg-icon-param(icon-menu-house, 24px, 24px, '[fill]: @{orange-color}');
			}
			&_folder {
				.svg-icon(icon-folder, 24px, 24px);
			}
			&_write {
				.svg-icon-param(icon-menu-write, 24px, 24px, '[fill]: @{orange-color}');
			}
		}
		&__title {
			font-size: @18;
			line-height: 1.7;
		}
		&__desc {
			font-size: @14;
		}
	}
}