.std-card {
	text-decoration: none;
	width: calc(~"(100% - 20px) / 2");
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 10px;
	transition: all .3s ease;
	display: flex;
	align-items: flex-start;
	border: 1px solid transparent;
	&:hover {
		box-shadow: 0px 0px 30px rgba(231, 122, 18, 0.1);
		border-color: rgba(231, 122, 18, 0.1);
	}
	&:nth-child(2n) {
		margin-right: 0;
	}

	&__icon-block {
		width: 110px;
		min-width: 110px;
		margin-right: 20px;
	}
	&__icon-wrap {
		margin-bottom: 20px;
	}
	&__icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&__tag {
		.medium();
		font-size: @16;
		color: white;
		text-transform: lowercase;
		width: 100%;
		height: 30px;
		text-align: center;
		line-height: 27px;
		border-radius: 5px;
		&_active {
			background: #27AE60;
		}
		&_freelance {
			background: #9B51E0;
		}
		&_consider {
			background: #2F80ED;
		}
		&_top {
			background: #EF3C3C;
		}
	}
	&__text-block {
		flex-grow: 20;
	}
	&__title {
		color: @dark-grey-color;
		font-size: @24;
		.medium();
		line-height: 1.375;
		margin-bottom: 7px;
		width: 80%;
	}
	&__desc {
		color: #828282;
		.regular();
		font-size: @16;
		text-align: left;
		margin-bottom: 24px;
		line-height: 1.375;
	}
	&__salary {
		color: @dark-grey-color;
		.medium();
		font-size: @18;
		margin-bottom: 25px;
		&_tbl {
			margin-bottom: 5px;
		}
	}
	&__button {
		height: 40px;
		padding: 0 36px;
		font-size: @16;
	}
	&__table-block {
		margin-bottom: 20px;
	}
	&__table-row {
		padding: 5px 10px;
		display: flex;
		justify-content: space-between;
		&:nth-child(odd) {
			background-color: rgba(231, 122, 18, 0.05);
			border: solid 1px rgba(231, 122, 18, 0.1);
		}
	}
	&__table-left {
		.regular();
		font-size: @16;
		color: @orange-color;
		line-height: 1.16;
	}
	&__table-right {
		.regular();
		font-size: @16;
		color: @dark-grey-color;
		line-height: 1.16;
	}
}

@media screen and (max-width: 900px) {
	.std-card {
		width: 100%;
		margin-right: 0;
	}
}

@media screen and (max-width: 600px) {
	.std-card {
		padding: 16px 15px 20px 15px;
		border: 1px solid rgba(231, 122, 18, 0.1);
		box-shadow: 0px 0px 15px rgba(231, 122, 18, 0.05);

		&__icon-block {
			width: 65px;
			min-width: 65px;
			margin-right: 15px;
		}
		&__icon {
			margin-bottom: 15px;
			width: 38px;
			height: 38px;
		}
		&__tag {
			font-size: @10;
			height: 17px;
			line-height: 15px;
			border-radius: 0;
		}
		&__title {
			font-size: @18;
			margin-bottom: 5px;
			width: 100%;
		}
		&__desc {
			font-size: @14;
			margin-bottom: 19px;
		}
		&__salary {
			font-size: @16;
			margin-bottom: 20px;
		}
		&__button {
			height: 34px;
			padding: 0 29px;
			font-size: @14;
		}
	}
}