.std-list {

	&__title {
		.std-title();
		margin-bottom: 37px;
	}
	&__container {

	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		&_response {
			display: none;
		}
	}
	&__item {

	}
	&__link {
		&_tariff {
			padding: 0 30px;
			height: 50px;
			border: 2px solid @orange-color;
			background: transparent;
			cursor: pointer;
			position: relative;

			color: @orange-color;

			font-size: @18;
			text-decoration: none;
			border-radius: 25px;

			display: flex;
			align-items: center;
			justify-content: center;

			outline: none;
			-webkit-appearance: none;
			transition: all .3s ease;
			&:hover {
				background: @orange-color;
			}
		}
	}
	&__link-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__btn-icon {
		.svg-icon(icon-tariff, 24px, 24px);
		margin-right: 15px;
		transition: all .3s ease;
		.std-list__link_tariff:hover & {
			.svg-icon-param(icon-tariff, 24px, 24px, '[fill]: #ffffff');
		}
	}
	&__btn-text {
		color: @orange-color;
		font-size: @18;
		.regular();
		transition: all .3s ease;
		.std-list__link_tariff:hover & {
			color: white;
		}
	}
}

@media screen and (max-width: 900px) {
	.std-list {

		&__container {
			flex-direction: column;
			flex-wrap: nowrap;
		}
		&__list {

			.std-list_responsive-slider & {
				display: none;
			}
			&_response {
				.std-list_responsive-slider & {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.std-list {

		&__title {
			margin-bottom: 27px;
		}
	}
}