.std-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 20px;

	li {
		margin-right: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		button {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: rgba(231, 122, 18, 0.3);
			padding: 0;
			border: 0;
			opacity: 1;
			text-indent: -9999px;

		}
	}
	.slick-active {
		button {
			background: @orange-color;
		}
	}
}