.title-line {
	background: #FAFAFA;
	padding: 28px 0;
	position: relative;
	//z-index: 100;
	&_open {
		z-index: 100;
	}

	&_response {
		display: none;
		background: white;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__text {
		color: @dark-grey-color;
		font-size: @42;
		.light();
		margin-top: -5px;
	}
	&__find {

	}
	&__link-wrap {
		display: flex;
		flex-wrap: wrap;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;

		background: @orange-color;
		border-radius: 5px;
		height: 40px;
		padding: 0 26px;

		cursor: pointer;
		-webkit-appearance: none;
		outline: none;
		margin-right: 20px;
		transition: all .3s ease;
		border: 2px solid @orange-color;
		&:only-child {
			margin-right: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background: white;
		}
		&_contacts {
			background: white;
			margin-right: 16px;
			border: solid 2px @orange-color;

			&:hover {
				background: @orange-color;
				color: white;
			}
		}
		&_help {
			background: white;
			border: solid 2px @orange-color;

			&:hover {
				background: @orange-color;
				color: white;
			}
		}
		.title-line_response & {
			border-radius: 20px;
			padding: 0 30px;
		}
	}
	&__link-icon {
		.svg-icon-param(icon-order, 21px, 20px, '[fill]: #ffffff');
		margin-right: 10px;
		text-decoration: none;
		transition: all .3s ease;
		.title-line__link:hover & {
			.svg-icon-param(icon-order, 21px, 20px, '[fill]: @{orange-color}');
		}
		&_blog {
			.svg-icon-param(icon-letter, 24px, 18px, '[fill]: #ffffff');
			margin-right: 12px;

			.title-line__link:hover & {
				.svg-icon-param(icon-letter, 24px, 18px, '[fill]: @{orange-color}');
			}
		}
		&_vacancies {
			.svg-icon(icon-menu-write, 22px, 22px);

			.title-line__link:hover & {
				.svg-icon-param(icon-menu-write, 22px, 22px, '[fill]: @{orange-color}');
			}
		}
		&_testimonial {
			.svg-icon(icon-menu-star, 22px, 22px);

			.title-line__link:hover & {
				.svg-icon-param(icon-menu-star, 22px, 22px, '[fill]: @{orange-color}');
			}
			.title-line_response & {
				.svg-icon(icon-menu-star, 15px, 15px);
			}
		}
		&_contacts {
			.svg-icon(icon-comments, 22px, 22px);

			.title-line__link:hover & {
				.svg-icon-param(icon-comments, 22px, 22px, '[fill]: #ffffff');
			}
		}
	}
	&__link-text {
		color: white;
		.regular();
		font-size: @16;
		text-decoration: none;
		transition: all .3s ease;
		white-space: nowrap;
		.title-line__link:hover & {
			color: @orange-color;
		}
		&_contacts {
			color: @orange-color;

			.title-line__link:hover & {
				color: white;
			}
		}
		.title-line_response & {
			font-size: @14;
		}
	}

	&__right-part {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 76%;
	}
	&__search-block {
		width: 63%;
		margin-right: 20px;
	}

	&__dropdown-icon {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid #C4C4C4;
		position: relative;
		display: none;
		&:after {
			content: '';
			position: absolute;
			.svg-icon(icon-dropdown-caret, 12px, 7px);
			top: 50%;
			left: 50%;
			margin-left: -6px;
			margin-top: -3px;
			transition: all.3s ease;
		}
		.title-line_active & {
			&:after {
				transform: rotate(180deg);
			}
		}
	}

	&__dropdown {
		flex-direction: column;
		display: flex;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
		&_active {
			opacity: 1;
			visibility: visible;
		}
	}
	&__dropdown-wrap {
		position: fixed;
		top: 120px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 200;
		overflow: auto;
		overflow-x: hidden;
	}
	&__dropdown-list-wrap {

	}
	&__dropdown-list-title {
		height: 60px;
		display: flex;
		align-items: center;
		padding: 0 25px;

		color: @dark-grey-color;
		font-size: @16;
		.regular();
		background: white;
	}
	&__dropdown-list {

	}
	&__dropdown-item {
		width: 100%;
		text-decoration: none;
		height: 60px;
		padding-left: 25px;
		background: white;

		color: @dark-grey-color;
		font-size: @16;
		.regular();

		display: flex;
		align-items: center;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 25px;
			top: 50%;
			margin-top: -5px;
			.svg-icon-param(icon-dropdown-caret, 6px, 10px, '[fill]: @dark-grey-color');
			transform: rotate(-90deg);
		}
		&:active {
			color: @orange-color;
			&:after {
				.svg-icon-param(icon-dropdown-caret, 6px, 10px, '[fill]: {@orange-color}');
			}
		}
		.title-line__dropdown_help & {
			font-size: @14;
			height: 50px;
		}
	}
}

@media screen and (max-width: 900px) {
	.title-line {

		&__text {
			font-size: @30;
		}
	}
}

@media screen and (max-width: 700px) {
	.title-line {

		&__search-block {
			display: none;
		}
		&__link {
			display: none;
			.title-line_response & {
				display: flex;
			}
		}
		&__dropdown-icon {
			display: block;
		}
	}
}

@media screen and (max-width: 600px) {
	.title-line {
		padding: 15px 0;
		//min-height: 60px;
		margin-bottom: 25px;
		&_help {
			margin-bottom: 0;
		}
		&_response {
			display: flex;
			justify-content: center;
			padding: 0;
		}
		&_only-child {
			padding: 23px 0;
		}

		&__text {
			font-size: @20;
		}

		&_blog-article {
			margin-bottom: 0;
		}

	}
}

@media screen and (max-width: 350px) {
	.title-line {
		&__dropdown-item {
			padding-left: 15px;
			&:after {
				right: 15px;
				top: 50%;
			}
		}
	}
}