.user-dropdown {
	position: absolute;
	top: 42px;
	right: 0;
	background: #FFFFFF;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 20px 20px 0 20px;
	width: 300px;
	z-index: 300;
	display: none;
	&_open {
		display: block;
	}

	&__link-wrap {
		margin-bottom: 22px;
		&_exit {
			display: none;
			.header__user-wrap_login & {
				display: block;
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		text-decoration: none;
	}
	&__link-icon {
		margin-right: 15px;
		&_lk {
			.svg-icon-param(icon-dropdown-user, 15px, 20px, '[fill]: @{dark-grey-color}');
			.user-dropdown__link:hover & {
				.svg-icon-param(icon-dropdown-user, 15px, 20px, '[fill]: @{orange-color}');
			}
		}
		&_support {
			.svg-icon(icon-message, 20px, 20px);
			.user-dropdown__link:hover & {
				.svg-icon-param(icon-message, 20px, 20px, '[fill]: @{orange-color}');
			}
		}
		&_order {
			.svg-icon-param(icon-order, 20px, 20px, '[fill]: @{dark-grey-color}');
			.user-dropdown__link:hover & {
				.svg-icon-param(icon-order, 20px, 20px, '[fill]: @{orange-color}');
			}
		}
		&_help {
			.svg-icon(icon-help, 20px, 20px);
			.user-dropdown__link:hover & {
				.svg-icon-param(icon-help, 20px, 20px, '[fill]: @{orange-color}');
			}
		}
		&_exit {
			.svg-icon(icon-exit, 14px, 20px);
			.user-dropdown__link:hover & {
				.svg-icon-param(icon-exit, 14px, 20px, '[fill]: @{orange-color}');
			}
		}
		.user-dropdown__link_active & {
			color: @orange-color;
		}
		.user-dropdown__link:hover & {
			color: @orange-color;
		}
	}
	&__link-text {
		font-size: @16;
		.regular();
		color: @dark-grey-color;
		//transition: all .3s ease;
		.user-dropdown__link_active & {
			color: @orange-color;
		}
		.user-dropdown__link:hover & {
			color: @orange-color;
		}
	}
}