.blog-article {

	&__container {
		margin-bottom: 50px;
	}
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	&__title {
		font-size: 30px;
		.regular();
		line-height: 1.36;
		color: @dark-grey-color;
		margin-right: 40px;
		transition: all 1s ease;
		&:hover {
			text-decoration: none;
		}
	}

	&__come-back {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	&__come-back-arrow {
		.svg-icon(icon-return-arrow, 12px, 12px);
		display: inline-block;
		margin-right: 10px;
	}
	&__come-back-text {
		color: #828282;
		font-size: @16;
		.regular();
		line-height: 1.125;
		text-decoration: underline;
		white-space: nowrap;
		.blog-article__come-back:hover & {
			text-decoration: none;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		&_mobile {
			display: none;
		}
	}
	&__user {
		display: flex;
		align-items: center;
		text-decoration: none;
		margin-right: 30px;
	}
	&__user-avatar {
		.svg-icon(icon-avatar, 30px, 30px);
		margin-right: 10px;
	}
	&__user-name {
		.regular();
		font-size: @18;
		color: #828282;
		line-height: 1.16;
		white-space: nowrap;
		transition: all .3s ease;
		.blog-article__user:hover & {
			color: @orange-color;
		}
	}
	&__date {
		margin-right: 35px;
		display: flex;
		&_mobile {
			display: none;
		}
		&_desktop {
			display: flex;
		}
	}
	&__date-icon {
		.svg-icon(icon-calendar, 18px, 18px);
		margin-right: 10px;
	}
	&__date-name {
		.regular();
		font-size: @18;
		color: #828282;
		line-height: 1.16;
		white-space: nowrap;
	}

	&__number-of-comments {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	&__number-of-comments-icon {
		.svg-icon(icon-comments, 18px, 18px);
		margin-right: 10px;
		display: inline-block;
	}
	&__number-of-comments-text {
		position: relative;
		color: @orange-color;
		.regular();
		font-size: @18;
		line-height: 1.16;
		transition: all 1s ease;
		border-bottom: dashed 1px @orange-color;
		&:hover {
			border-bottom: none;
		}
	}

	&__comments {
		display: flex;
		align-items: center;
		text-decoration: none;
		&_mobile {
			display: none;
		}
	}
	&__comments-icon {
		.svg-icon(icon-comments, 18px, 18px);
		margin-right: 10px;
	}
	&__comments-text {
		color: @orange-color;
		.regular();
		font-size: @18;
		line-height: 1.16;
		transition: all .3s ease;
		border-bottom: dashed 1px @orange-color;
		&:hover {
			border-bottom: dashed 1px transparent;
		}
	}

	&__bottom-block {
		display: flex;
		justify-content: space-between;
		border-bottom: solid 2px #F1F2F2;
		padding-bottom: 40px;
		padding-top: 38px;
	}
	&__social-networks {
	}
	&__social-networks-title {
		font-size: @18;
		.medium();
		margin-bottom: 15px;
	}
	&__social-networks-icon-list {
		margin-left: 2px;
		display: flex;
		text-decoration: none;
	}
	&__icon {
		margin-right: 20px;
		&_vk {
			.svg-icon(icon-vk, 40px, 40px);
		}
		&_fb {
			.svg-icon(icon-fb, 40px, 40px);
		}
		&_twitter {
			.svg-icon(icon-twitter, 40px, 40px);
		}
		&_google {
			.svg-icon(icon-google, 40px, 40px);
		}
		&_ok {
			.svg-icon(icon-ok, 40px, 40px);
		}
	}
	&__subscribe-wrap {
		max-width: 400px;
	}
	&__subscribe-title {
		font-size: @18;
		.medium();
		margin-bottom: 15px;
	}

	&__button-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 97px;
	}
	&__button {
		margin-right: auto;
		margin-left: auto;
	}

	&__write {
		margin-left: 1px;
		padding-bottom: 50px;
	}
	&__write-title {
		font-size: @24;
		.medium();
		line-height: 1.16;
		margin-bottom: 20px;
	}
	&__write-text {
		font-size: @16;
		.regular();
		line-height: 1.375;
		margin-bottom: 24px;
	}
	&__write-login {
		color: @orange-color;
		&:hover {
			text-decoration: none;
		}
	}
	&__write-links {
		display: flex;
	}
	&__social-links {
		display: flex;
		margin-right: 30px;
		text-decoration: none;

	}
	&__icon-mini {
		display: block;
		margin-right: 5px;
		&_vk {
			.svg-icon(icon-vk, 20px, 20px);
		}
		&_fb {
			.svg-icon(icon-fb, 20px, 20px);
		}
		&_twitter {
			.svg-icon(icon-twitter, 20px, 20px);
		}
		&_google {
			.svg-icon(icon-google, 20px, 20px);
		}
	}
	&__text {
		color: @orange-color;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	&__write-user {
		display: flex;
		align-items: center;
		margin-bottom: 22px;
	}
	&__write-user-img {
		margin-right: 10px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		display: inline-block;
	}
	&__write-user-name {
		margin-right: 20px;
		font-size: @16;
		.regular();
		color: #404040;
		line-height: 1.125;
	}

	&__logout {
		font-size: @16;
		.regular();
		color: @orange-color;
		line-height: 1.125;
		&:hover {
			text-decoration: none;
		}
	}
	&__textarea {
		max-width: 600px;
		height: 116px;
	}
}

@media screen and (max-width: 700px) {
	.blog-article {
		&__bottom-block {
			flex-direction: column;
		}
		&__social-networks {
			margin-bottom: 26px;
		}
	}
}

@media screen and (max-width: 600px) {
	.blog-article {

		&__menu {

			&_mobile {
				display: flex;
				margin-top: 25px;
			}
		}
		&__user {
			display: none;
			margin-right: 21px;
			.blog-article__menu_mobile & {
				display: flex;
			}
		}
		&__date {
			display: none;
			.blog-article__menu_mobile & {
				display: flex;
			}
		}
		&__title-block {
			flex-direction: column-reverse;
			align-items: flex-start;
		}
		&__bottom-block {
			padding-bottom: 30px;
			padding-top: 8px;
		}

	}
}

@media screen and (max-width: 500px) {
	.blog-article {

		&__text {
			display: none;
		}
		&__icon-mini {

			&_vk {
				.svg-icon(icon-vk, 30px, 30px);
			}
			&_fb {
				.svg-icon(icon-fb, 30px, 30px);
			}
			&_twitter {
				.svg-icon(icon-twitter, 30px, 30px);
			}
			&_google {
				.svg-icon(icon-google, 30px, 30px);
			}
		}
		&__button-wrap {
			margin-bottom: 45px;
		}
		&__write-title {
			font-size: @18;
			margin-bottom: 20px;
		}
		&__write-text {
			font-size: @14;
			margin-bottom: 24px;
		}
		&__write {
			padding-bottom: 0;
		}
		&__user-name {
			font-size: @14;
		}
		&__date-name {
			font-size: @14;
		}
		&__title {
			font-size: 19px;
			padding-right: 40px;
		}
		&__title-block {
			margin-bottom: 16px;
		}
		color: @orange-color;
		text-decoration: underline;
		.regular();
		font-size: @18;
		line-height: 1.16;
		transition: all 1s ease;
		&:hover {
			text-decoration: none;
		}
		&__social-networks-title {
			font-size: @16;
		}
		&__subscribe-title {
			font-size: @16;
			margin-bottom: 23px;
		}
		&__social-links {
			margin-right: 15px;
		}
		&__come-back {
			padding: 18px 0;
		}
		&__come-back-text {
			font-size: @12;
		}
		&__come-back-arrow {
			.svg-icon(icon-return-arrow, 8px, 8px);
			margin-right: 5px;
		}
		&__write-user {
			margin-left: 40px;
			font-size: @14;
		}
		&__write-user-img {
			display: none;
		}
		&__logout {
			font-size: @14;
		}
		&__textarea {
			height: 136px;
		}
		&__write-user-name {
			font-size: @14;
		}
		&__btn {
			margin-top: -4px;
		}
	}
}