.blog {
	&__container {
		padding-bottom: 100px;
	}
	&__list {
	}
	&__item {
		display: flex;
		margin-bottom: 40px;
	}
	&__date {
		display: flex;
		min-width: 160px;
		padding-top: 6px;
		&_mobile {
			display: none;
		}
		&_desktop {
			display: flex;
		}
	}
	&__date-icon {
		.svg-icon(icon-calendar, 18px, 18px);
		margin-right: 10px;
	}
	&__date-name {
		.regular();
		font-size: @18;
		color: #828282;
		line-height: 1.16;
	}
	&__title {
		display: inline-block;
		.regular();
		color: @orange-color;
		font-size: @24;
		line-height: 1.375;
		margin-bottom: 13px;
		transition: all 1s ease;
		&:hover {
			text-decoration: none;
		}
	}
	&__user-name-and-comments {
		display: flex;
		margin-bottom: 14px;
		align-items: center;
	}
	&__user {
		display: flex;
		align-items: center;
		text-decoration: none;
		margin-right: 30px;
	}
	&__user-avatar {
		.svg-icon(icon-avatar, 30px, 30px);
		margin-right: 10px;
	}
	&__user-name {
		.regular();
		font-size: @18;
		color: #828282;
		line-height: 1.16;
		white-space: nowrap;
		transition: all .3s ease;

		.blog__user:hover & {
			color: @orange-color;
		}
	}
	&__comments {
		display: flex;
		align-items: center;
		text-decoration: none;
		&_mobile {
			display: none;
		}
	}
	&__comments-icon {
		.svg-icon(icon-comments, 18px, 18px);
		margin-right: 10px;
	}
	&__comments-text {
		color: @orange-color;
		.regular();
		font-size: @18;
		line-height: 1.16;
		transition: all .2s ease;
		border-bottom: dashed 1px @orange-color;
		&:hover {
			border-bottom: dashed 1px transparent;
		}
	}
	&__text {
		.regular();
		font-size: @16;
		color: @dark-grey-color;
		line-height: 1.4;
	}
	&__photo-wrap {
		margin-top: 17px;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 35.8974359%;
	}
	&__photo {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__button-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__button {

	}

}

@media screen and (max-width: 600px) {
	.blog {

		&__container {
			padding-bottom: 50px;
		}
		&__comments {
			&_mobile {
				display: flex;
				margin-top: 15px;
			}
			&_desktop {
				display: none;
			}
		}
		&__date {
			&_mobile {
				display: flex;
			}
			&_desktop {
				display: none;
			}
		}
		&__item {
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 45px;
			}
		}
		&__title {
			font-size: @18;
			margin-bottom: 12px;
		}
		&__user-name-and-comments {
			margin-bottom: 12px;
		}
		&__user {
			margin-right: 20px;
		}
		&__user-name {
			font-size: @14;
		}
		&__date-name {
			font-size: @14;
		}
		&__text {
			font-size: @14;
		}
		&__comments-text {
			font-size: @14;
		}
		&__photo-wrap {
			margin-top: 10px;
		}
	}
}
