.comments {
	margin-top: 41px;

	&__title {
		font-size: @24;
		.medium();
		line-height: 1.16;
		color: @dark-grey-color;
		margin-bottom: 20px;
	}
	&__block {
		margin-bottom: 17px;
		transition: all .3s ease;
		border-radius: 10px;
		border: 1px solid transparent;
		cursor: pointer;
		&:last-child {
			margin-bottom: 40px;
		}
		&:hover {
			border-color: rgba(231, 122, 18, 0.1);
			box-shadow: 0px 0px 30px rgba(231, 122, 18, 0.1);
		}
	}
	&__list {
		width: 100%;
	}
	&__user-answer {
		padding: 20px 16px 21px 24px;
		&:first-child {
			padding-top: 22px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&_2 {
			margin-left: 78px;
		}
		&:hover {
			cursor : url(../img/icon-cursor-hand.svg), default;
		}
	}
	&__user {
		display: inline-flex;
		align-items: center;
		padding-bottom: 20px;
		text-decoration: none;
	}
	&__user-icon {
		border-radius: 50%;
		overflow: hidden;
		height: 30px;
		width: 30px;
		margin-right: 10px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__user-name {
		font-size: @16;
		.regular();
		line-height: 1.125;
		color: @orange-color;
		.comments__user:hover & {
			text-decoration: underline;
		}
	}
	&__text {
		color: #828282;
		.regular();
		font-size: @14;
		line-height: 1.35;
		margin-bottom: 24px;
	}
	&__bottom {
		display: flex;
	}
	&__date {
		.regular();
		font-size: @14;
		color: #C4C4C4;
		margin-right: 20px;
	}
	&__answer {
		position: relative;
		color: @orange-color;
		.regular();
		font-size: @14;
		line-height: 1.16;
		transition: all .3s ease;
		border-bottom: dashed 1px @orange-color;
		text-decoration: none;
		&:hover {
			border-bottom-color: transparent;
		}
	}
}

@media screen and (max-width: 600px) {
	.comments {

		&__user-answer {
			&_2 {
				margin-left: 30px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.comments {
		padding-top: 20px;

		&__title {
			font-size: @18;
			margin-bottom: 17px;
		}
		&__user-icon {
			.svg-icon(icon-user, 30px, 30px);
			margin-right: 10px;
		}
		&__user-name {
			font-size: @14;
		}
		&__bottom {
			display: block;
		}
		&__date {
			margin-bottom: 15px;
		}
		&__block {
			position: relative;
			margin-bottom: 0;
			&:before {
				content: '';
				position: absolute;
				height: 1px;
				bottom: 0;
				left: -25px;
				right: -25px;
				background-color: rgba(231, 122, 18, 0.3);
			}
			&:last-child {
				margin-bottom: 35px;
				&:before {
					content: none;
				}
			}
		}
		&__user-answer {
			padding: 0 0 27px 0;
			&:first-child {
				padding-top: 21px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&_2 {
				margin-left: 30px;
			}
			&:hover {
				cursor : url(../img/icon-cursor-hand.svg), default;
			}
		}
		&__user {
			padding-bottom: 13px;
		}
		&__text {
			line-height: 1.42;
			overflow: hidden;
			max-height: 76px;
		}

	}
}

@media screen and (max-width: 350px) {
	.comments {


		&__block {
			&:before {
				left: -15px;
				right: -15px;
			}
		}
	}
}