.subscribe {

	&__form {
		display: flex;
	}
	&__input-text {
		display: block;
		width: 100%;
		height: 40px;
		background: white;
		border-radius: 5px 0 0 5px;
		border: 2px solid #E5E5E5;
		padding: 0 20px;
		border-right: none;

		color: @dark-grey-color;
		.regular();
		font-size: @16;
		line-height: normal;
		&:focus {
			border-color: rgba(231, 122, 18, 0.3);
		}
		&_error {
			border-color: #ff0000;
		}
		&::-webkit-input-placeholder {
			color: #828282;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #828282;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #828282;
			opacity: 1;
		}
	}
	&__button {
		background-color: @orange-color;
		border-radius: 0 5px 5px 0;
		height: 40px;
		//border: none;
		color: white;
		font-size: @16;
		.regular();
		padding: 9px 20px;
		cursor: pointer;
		-webkit-appearance: none;
		outline: none;
		transition: all .3s ease;
		border: 2px solid @orange-color;
		&:hover {
			color: @orange-color;
			//background: #E5E5E5;
			background: white;
		}
		&_mobile {
			display: none;
		}
	}
}

@media screen and (max-width: 500px) {
	.subscribe {

		&__input-text {
			max-width: 267px;
		}
		&__button {
			display: none;
			&_mobile {
				display: block;
				text-transform: uppercase;
				padding: 0 24px;
			}
		}
		&__input-text {
			font-size: @14;
		}

	}
}