.awards {
	padding-bottom: 60px;

	&__container {

	}
	&__list {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	&__item {
		width: calc(~"(100% - 20px * 3) / 4");
		margin-right: 20px;
		margin-bottom: 20px;
		border-radius: 10px;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	&__item-img {
		width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.awards {

		&__item {
			width: calc(~"(100% - 20px * 2) / 3");
			&:nth-child(4n) {
				margin-right: 20px;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.awards {

		&__item {
			width: calc(~"(100% - 20px) / 2");
			&:nth-child(3n) {
				margin-right: 20px;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.awards {

		&__list {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
		}
		&__item {
			width: 220px;
			margin-right: 0;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}