.main-slider {
	position: relative;
	margin-top: -92px;
	z-index: 10;

	&__itself {

	}

	&__item {

	}
	&__item-inner {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
	}
	&__item-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.slick-arrow {
		position: absolute;
		z-index: 20;
		top: 50%;
		background: transparent;
		border: 0;
		text-indent: -9999px;
		outline: none;
		cursor: pointer;
	}
	.slick-next {
		right: 20px;
		width: 20px;
		height: 30px;
		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 3px;
			background: @orange-color;
			transform: rotate(50deg);
			top: 6px;
			right: 0;
		}
		&:after {
			content: '';
			position: absolute;
			width: 20px;
			height: 3px;
			background: @orange-color;
			transform: rotate(-50deg);
			bottom: 6px;
			right: 0;
		}
	}
	.slick-prev {
		left: 20px;
		width: 20px;
		height: 30px;
		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 3px;
			background: @orange-color;
			transform: rotate(-50deg);
			top: 6px;
			left: 0;
		}
		&:after {
			content: '';
			position: absolute;
			width: 20px;
			height: 3px;
			background: @orange-color;
			transform: rotate(50deg);
			bottom: 6px;
			left: 0;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 16px;
		left: 0;
		right: 0;
	}
	&__nav-link {
		height: 50px;
		padding: 0 27px;
		color: @orange-color;
		font-size: @18;
		text-decoration: none;
		.regular();
		cursor: pointer;
		text-align: center;
		border: 0;
		-webkit-appearance: none;
		outline: none;
		border-radius: 25px;
		transition: all .3s ease;
		background: transparent;
		margin-right: 46px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background: rgba(231, 122, 18, 0.1);
		}
	}

	&__container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		//align-items: center;
		justify-content: flex-end;
	}
	&__content {
		padding-top: 23.5%;
		width: 60%;
	}
	&__title {
		text-align: right;
		font-size: @42;
		.medium();
		color: @dark-grey-color;
		margin-bottom: 20px;
	}
	&__subtitle {
		color: @dark-grey-color;
		.regular();
		text-align: right;
		font-size: @28;
		margin-bottom: 27px;
	}
	&__desc {
		color: #828282;
		font-size: @24;
		.regular();
		text-align: right;
		line-height: 1.3;
		margin-bottom: 35px;
	}
	&__link-wrap {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 70px;
	}
	&__link {

	}
	&__logo-list {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__logo-webasyst {
		width: 198px;
		height: 40px;
		text-decoration: none;
		margin-right: 50px;
	}
	&__logo-webasyst-img {
		width: 100%;
		height: 100%;
	}
	&__logo-shop-script {
		width: 80px;
		height: 80px;
		text-decoration: none;
	}
	&__logo-shop-script-img {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 1300px) {
	.main-slider {

		&__container {
			align-items: center;
		}
		&__content {
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.main-slider {

		&__content {
			padding-right: 50px;
		}
		&__title {
			font-size: @30;
			margin-bottom: 10px;
		}
		&__subtitle {
			font-size: @20;
			margin-bottom: 15px;
		}
		&__desc {
			font-size: @18;
			margin-bottom: 20px;
		}
		&__link-wrap {
			margin-bottom: 20px;
		}
		&__logo-webasyst {
			width: 148px;
			height: 30px;
			margin-right: 30px;
		}
		&__logo-shop-script {
			width: 60px;
			height: 60px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.main-slider {
		margin-top: 0;
		height: calc(~"100vh - 60px");

		&__container {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			display: flex;
			//align-items: center;
			justify-content: center;
		}
		&__content {
			padding-top: 0;
			padding-right: 0;
		}
		&__title {
			text-align: center;
		}
		&__subtitle {
			text-align: center;
		}
		&__desc {
			text-align: center;
		}
		&__link-wrap {
			justify-content: center;
		}
		&__logo-list {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 850px) {
	.main-slider {

		&__content {
			padding-bottom: 0;
			margin-top: -30px;
			width: 100%;
		}
		&__nav {
			display: none;
		}
	}
}

@media screen and (max-width: 500px) {
	.main-slider {

		&__item-inner {
			height: 324px;
			padding-bottom: 0;
		}
		&__item-bg {
			background-position: center left;
		}
		&__title {
			font-size: @22;
		}
		&__subtitle {
			font-size: @16;
		}
		&__desc {
			font-size: @14;
		}
		&__logo-webasyst {
			width: 99px;
			height: 20px;
			margin-right: 20px;
		}
		&__logo-shop-script {
			width: 40px;
			height: 40px;
		}
		&__link {
			padding: 0 42px;
		}
	}
}