.send {
	margin-bottom: 100px;

	&__container {

	}
	&__content {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 900px) {
	.send {

		&__content {
			width: 100%;
		}
	}
}

@media screen and (max-width: 700px) {
	.send {
		margin-bottom: 50px;

		&__container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}